<!DOCTYPE html>
<html lang="ko">
<head>
<title>표시컨설팅</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="../../resources/css/import.css"/>
<script type="text/javascript" src="../../resources/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../resources/js/common.js"></script>
</head>
<body class="bg00">

<div class="layer-pop-wrap">
    <div class="layer-pop-box midium">
        <div class="pop-wrap">
            <h1 class="blind">System > 협력사관리 > 계정목록</h1>
            <header class="pop-header">
                <div class="pop-header-title-wrap">
                    <h3 class="pop-header-title">계정목록</h3>
                    <button class="btn-pop-close js-pop-close">닫기</button>
                </div>
            </header>
            <div class="pop-container">
                <div class="pop-common-box">
                    <div class="tb-list mgt20">
                        <ul class="thead">
                            <li>
                                <div style="width:8%;">No</div>
                                <div style="width:20%;">담당자명</div>
                                <div>아이디</div>
                                <div style="width:30%;">등록일시</div>
                            </li>
                        </ul>
                        <ul class="tbody">
                            <li>
                                <div style="width:8%;">1</div>
                                <div style="width:20%;">담당자1</div>
                                <div>cesco</div>
                                <div style="width:30%;">2022.03.01 23:00:23</div>
                            </li>
                            <li>
                                <div style="width:8%;">2</div>
                                <div style="width:20%;">김고객</div>
                                <div>CJ제일제당</div>
                                <div style="width:30%;">2022.03.01 23:00:23</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
