<!DOCTYPE html>
<html lang="ko">
<head>
<title>표시컨설팅</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="../../resources/css/import.css"/>
<script type="text/javascript" src="../../resources/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../resources/js/common.js"></script>
</head>
<body>
<div class="wrap">
	<div class="wrapInner">
		<header id="header" class="header">
            <div class="header-inner">
                <div class="header-main">
                    <h1 class="logo">
                        <a href="#"><span>표시컨설팅</span></a>
                    </h1>
                </div>
                <nav id="nav" class="header-nav">
                    <ul class="nav-1depth">
                        <li><a href="#"><span class="txt">고객사관리</span></a></li>
                        <li class="is-opened"><a href="#"><span class="txt">협력사관리</span></a></li>
                        <li><a href="#"><span class="txt">컨설팅관리</span></a></li>
                        <li><a href="#"><span class="txt">계정관리</span></a></li>
                        <li><a href="#"><span class="txt">코드관리</span></a></li>
                    </ul>
                </nav>
                <div class="utility">
                    <div class="profile-layer" id="utilityProfile">
                        <ul class="profile-menu">
                            <li class="name">
                                <a href="#"><span>관리자</span><span>김고객</span></a>
                            </li>
                            <li class="logout">
                                <a href="#">로그아웃</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		</header>
		
		<div id="container" class="container">
			<div id="content" class="content">
                <!-- content -->
				<div class="page-content">
                    <div class="page-box">
                        <div class="clear">
                            <h2 class="page-title fl">협력사 관리</h2>
                            <select class="select-top fl mgl60"><option>거래상태</option></select>
                            <div class="fr">
                                <button class="btn-search"><i></i>조회</button>
                            </div>
                        </div>
                        <hr>
                        <div class="board-search mgt20">
                            <table>
                                <colgroup>
                                    <col width="60px"><col width="25%"><col width="10%"><col width="">
                                    <col width="10%"><col width=""><col width="10%"><col width="">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th rowspan="2" class="valign-b th-pd">등록일</th>
                                        <td rowspan="2" class="valign-b">
                                            <div class="mini-btns">
                                                <button>당월</button>
                                                <button>당해</button>
                                                <button>1개월</button>
                                                <button>3개월</button>
                                                <button>6개월</button>
                                                <button>1년</button>
                                            </div>
                                            <div class="calendar-wrap">
                                                <span class="calendar-box"><input type="text" class="calendarDate_start"></span>
                                                <span class="dash">~</span>
                                                <span class="calendar-box"><input name="" type="text" class="calendarDate_end"></span>
                                            </div>
                                        </td>
                                        <th></th>
                                        <td></td>
                                        <th></th>
                                        <td></td>
                                        <th></th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>협력사</th>
                                        <td><input type="text" class="full" placeholder="협력사명을 입력하세요"></td>
                                        <th>사업자 등록번호</th>
                                        <td><input type="text" class="full" placeholder="사업장명을 입력하세요"></td>
                                        <th></th>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="page-box">
                        <div class="clear">
                            <div class="fl"><h3 class="content-title">고객사</h3></div>
                            <div class="fr">
                                <button class="btn-save">협력사등록</button>
                                <button class="btn-save">즐겨찾기설정</button>
                                <button class="btn-save">거래중단</button>
                            </div>
                        </div>
                        <div class="tb-list">
                            <ul class="thead">
                                <li>
                                    <div style="width:6%;">No</div>
                                    <div>협력사</div>
                                    <div style="width:7%;">협력사코드</div>
                                    <div style="width:8%;">사업자등록번호</div>
                                    <div style="width:7%;">종사업자번호</div>
                                    <div style="width:5%;">즐겨찾기</div>
                                    <div style="width:5%;">계정수</div>
                                    <div style="width:6%;">등록자</div>
                                    <div style="width:12%;">등록일시</div>
                                    <div style="width:6%;">수정자</div>
                                    <div style="width:12%;">수정일시</div>
                                </li>
                            </ul>
                            <ul class="tbody">
                                <li>
                                    <div style="width:6%;">
                                        <label class="check">
                                            <input type="checkbox">
                                            <span class="ico"></span>
                                            <span class="txt">1</span>
                                        </label>
                                    </div>
                                    <div class="txt-l"><span>[AJ2555]</span>&nbsp;<span>사조오양금산공장</span><span class="tag blue mgl5">정상</span></div>
                                    <div style="width:7%;">C00001</div>
                                    <div style="width:8%;">112-10-34348</div>
                                    <div style="width:7%;">0001</div>
                                    <div style="width:5%;">Y</div>
                                    <div style="width:5%;">3</div>
                                    <div style="width:6%;">김세스코</div>
                                    <div style="width:12%;">2022-01-05 11:00:14</div>
                                    <div style="width:6%;">김세스코</div>
                                    <div style="width:12%;">2022-01-05 11:00:14</div>
                                </li>
                                <li>
                                    <div style="width:6%;">
                                        <label class="check">
                                            <input type="checkbox">
                                            <span class="ico"></span>
                                            <span class="txt">2</span>
                                        </label>
                                    </div>
                                    <div class="txt-l"><span>[AJ2558]</span>&nbsp;<span>마이셰프</span><span class="tag blue mgl5">정상</span></div>
                                    <div style="width:7%;">C00001</div>
                                    <div style="width:8%;">112-11-12333</div>
                                    <div style="width:7%;">0001</div>
                                    <div style="width:5%;">Y</div>
                                    <div style="width:5%;">2</div>
                                    <div style="width:6%;">김세스코</div>
                                    <div style="width:12%;">2022-01-05 11:00:14</div>
                                    <div style="width:6%;">김세스코</div>
                                    <div style="width:12%;">2022-01-05 11:00:14</div>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <div class="clear mgt10">
                            <div class="fr">
                                <div class="paging-wrap">
                                    <div class="paging">
                                        <a class="first" title="이전 끝으로 이동" href="#">이전 끝으로 이동</a>
                                        <a class="prev" title="이전 10 페이지 전으로 이동" href="#">이전 10 페이지 전으로 이동</a>
                                        <a class="page-on" href="#">1</a>
                                        <a href="#">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                        <a href="#">5</a>
                                        <a class="next" title="다음 10 페이지 후로 이동" href="#">다음 10 페이지 후로 이동</a>
                                        <a class="last" title="다음 끝으로 이동" href="#">다음 끝으로 이동</a>
                                    </div>
                                    <select class="paging-select"><option>10개씩 보기</option></select>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<!-- //content -->
			</div>
		</div>
	</div>
	
	<footer id="footer" class="footer">
		<div class="footer-inner">
			<div>
				(주)세스코 서울특별시 강동구 상일로 10길 46 세스코 터치센터(134-090)&nbsp;&nbsp;&nbsp;&nbsp;Tel : 1588-1119&nbsp;&nbsp;&nbsp;&nbsp;
				대표이사 : 사장 전찬혁&nbsp;&nbsp;&nbsp;&nbsp;사업자등록번호 : 212-81-05946<br>
				COPYRIGHT(C) BY CESCO CO., LTD. ALL RIGHTS RESERVED.
				<div class="footer-link-box">
				    <a href="">개인정보처리방침</a>
				    <a href="">서비스 이용약관</a>
				    <a href="">전자금융거래이용약관</a>
				</div>
			</div>
		</div>
	</footer>
</div>
</body>
</html>
