<!-- // 담당자 검색 팝업 -->
<script th:inline="javascript" type="text/javascript">
    var addContactPopupVue
    $(document).ready(function(){
        addContactPopupVue = new Vue({
            el: '#addContactPopup',
            data: {
                memberList:[],
                checkboxYn : [[${checkboxYn}]],
                consChatReqDto : {
                    sys_id: [[${sysId}]],
                    fs_no:[[${fsNo}]],
                    p_type:'2',
                    d_type:'02',
                    fs_chat_yn:'Y',
                    fs_chat_yn_pre:'N',
                    fs_chat_nm:'',
                    fs_chat_id:'',
                    fs_chat_cst_nm:'',
                },
                srchUserNm:""
            },
            methods: {
                getChatMemberList : function() {// 컨설팅 체팅 방 구성원 조회
                    let url = '/api/consulting/consult/uspFsGetChatMemAddList';
                    let _this = this;
                    axios.get(url, {params:_this.consChatReqDto}).then((res) => {
                        _this.memberList = res.data;
                        _this.drawTable();
                    }).catch((err) => {
                        cmmAlert(err.response.data.message)
                    });
                },
                drawTable: function() {
                    let _this = this;
                    var selectionmode = _this.checkboxYn == 'Y' ? 'checkbox' : 'singlerow';

                    var source = {  
                        datatype: "json", // json 형태의 데이터를 셋팅할 것이고. // array
                        datafields: [     // 각필의 이름과 타입은 datafields에 마찬가지로 json 형태이다.
                            { name: 'fs_chat_nm', type: 'string' },    //담당자명
                            { name: 'fs_chat_cst_nm', type: 'string' },// 고객사
                            { name: 'fs_chat_id', type: 'string' },    // 아이디
                            { name: 'email', type: 'string' },         // email
                        ],  
                        localdata: _this.memberList, // 위에서 셋팅해놓은 data를 localdata에 담아준다.
                        pagenum: 0,
                        pagesize: 5,
                        pager: function (pagenum, pagesize, oldpagenum) {
                            // callback called when a page or page size is changed.
                        }
                    };
                    
                    var dataAdapter = new $.jqx.dataAdapter(source);  

                    $("#userGrid").jqxGrid({
                        width: '100%',
                        height: '230',
                        source: dataAdapter, //위에서 만든 dataAdapter
                        sortable: true,
                        altrows: true,
                        filterable: true,
                        columnsresize: true,        //column의 너비를 컨텐츠에 맞게 리사이징
                        // pageable: true,
                        autoheight: true,
                        // pagermode: 'simple',
                        selectionmode: 'checkbox',
                        columnsheight: 50,
                        rowsheight: 50,
                        showrowlines: false,
                        showcolumnlines: false,
                        ready: function () {
                            // $("#userGrid").jqxGrid('selectrow', 0);
                        },
                        columns: [                  // 각 컬럼값들의 대한 설정이다.
                            {
                                text: 'No', sortable: false, width: "10%", filterable: false, editable: false,
                                groupable: false, draggable: false, resizable: false,
                                datafield: '', columntype: 'number', cellsalign:'left',align:'left',
                            },
                            { text: '담당자', datafield: 'fs_chat_nm',width: "20%", cellsalign:'left',align:'left', },  
                            { text: '고객사', datafield: 'fs_chat_cst_nm', width: "30%",cellsalign:'left', align:'left', },  
                            { text: '아이디', datafield: 'email', width: "33%", cellsalign:'left', align:'left' },
                            { text : 'fs_chat_id', datafield: 'fs_chat_id', hidden : true}, 
                        ]  
                    });

                    // 더블클릭시 클릭한 데이터만 넘어감.
                    $('#userGrid').off("celldoubleclick").on("celldoubleclick", function(event) {
                        var args = event.args;
                        var rowBoundIndex = args.rowindex;
                        var rowBoundData = args.row.bounddata;

                        closeCmmPopup('addContactPopup');
                    });

                    $("#userGrid").off('rowselect').on('rowselect', function (event) 
                    {
                        var idx = event.args.owner.selectedrowindex
                    });

                },
                regMember:function(e){ // 체팅 멤버 추가
                    // 체크된 데이터
                
                    let _this = this;
                    let selectData = {};
                    let memberListInfo = [];
                    let selectedRowIndexes = $("#userGrid").jqxGrid('getselectedrowindexes');
                    if (selectedRowIndexes.length < 1) {
                        cmmAlert("담당자 선택하세요")
                        return;
                    }
                   
                    if(selectedRowIndexes.length > 0) {
					    $.each(selectedRowIndexes, function(i, v) {
                            let box = {
                                sys_id: [[${sysId}]],
                                fs_no:[[${fsNo}]],
                                p_type:'2',
                                d_type:'02',
                                fs_chat_yn:'Y',
                                fs_chat_yn_pre:'N',
                                fs_chat_nm:'',
                                fs_chat_id:'',
                                fs_chat_cst_nm:'',
                            };
                            selectData = $('#userGrid').jqxGrid('getrowdata', v);
                            box.fs_chat_id = selectData.fs_chat_id;
                            memberListInfo.push(box)
					    })
				    }
                    // 멤버 추가
                    let url = '/api/consulting/consult/uspFsSetChatMem';
                    // let param = {noticeList:_this.delNoticeList};
                    axios.put(url, memberListInfo,{ headers:{'AJAX': true,'Content-Type': 'application/json'}
                    }).then((res) => {
                        cmmAlert("담당자 추가 되었습니다.")
                        vue.endPopCall()
                    }).catch((err) => {
                        cmmAlert(err)
                    });
                },
                searchMember:function(e){
                    let _this = this;
                    _this.consChatReqDto.fs_chat_nm = _this.$data.srchUserNm
                    this.getChatMemberList();

                },
                // 팝업 닫기 & 데이터 넘기기
                closePopup: function(val) {
                    let _this = this;

                    if(val == '1'){
                        // 체크된 데이터
                        let checkedData = [];
                        let selectedRowIndexes = $("#userGrid").jqxGrid('getselectedrowindexes');
                        let pageInfo = $("#userGrid").jqxGrid('getpaginginformation')
                        let preLastIdx = (pageInfo.pagenum * pageInfo.pagesize) - 1;
                        let curLastIdx = ((pageInfo.pagenum + 1) * pageInfo.pagesize) -1;

                        // 선택 확인.
                        if(selectedRowIndexes.length > 0) {
                            $.each(selectedRowIndexes, function(i, v) {
                                if(v > preLastIdx && v <= curLastIdx) {
                                    checkedData.push($('#userGrid').jqxGrid('getrowdata', v))
                                }
                            })
                            vue.personSearchPopupData = checkedData;
                            vue.setPopupData(checkedData);
                        } else {
                            cmmAlert("체크박스가 선택되지 않았습니다.")
                            return false;
                        }

                    } else {
                        // vue.personSearchPopupData = [];
                    }

                    closeCmmPopup('addContactPopup');
                }
            },
            mounted() {
                this.getChatMemberList();
            },
        })
    });
</script>
<section layout:fragment="content" id="addContactPopup" v-cloak>
    <div class="layer-pop-wrap">
        <div class="layer-pop-box midium">
            <div class="pop-wrap">
                <h1 class="blind">담당자 추가</h1>
                <header class="pop-header">
                    <div class="pop-header-title-wrap">
                        <h3 class="pop-header-title">담당자 추가</h3>
                        <button class="btn-pop-close js-pop-close" @click="closePopup('0')">닫기</button>
                    </div>
                </header>
                <div class="pop-container">
                    <div class="pop-common-box">
                        <div class="pop-search-form">
                            <label>담당자명</label>
                            <input type="text" v-model="srchUserNm">
                            <button class="btn-search" @click="searchMember"><i></i>조회</button>
                        </div>
                        <div class="tb-list mgt20">
                            <div id="userGrid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pop-bottom">
                    <div class="pop-btn-box">
                        <a href="#" class="btn-pop-bottom js-pop-close" @click="closePopup('0')">취소</a>
                        <a href="#" class="btn-pop-bottom" @click="regMember">등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
