<script th:inline="javascript" type="text/javascript">
    $(document).ready(function(){
    });
</script>
<div class="layer-pop-wrap" style="display:none;" id="alertPopup">
    <div class="layer-pop-box midium" style="height: 200px; width: 300px; margin-left: -150px; margin-top: -40px;">
        <div class="pop-wrap">
            <h1 class="blind">alert</h1>
            <header class="pop-header">
                <div class="pop-header-title-wrap" style="margin-top: 10px; padding: 0px 20px 10px;">
                    <h3 class="pop-header-title" style="font-size: 20px;"></h3>
                    <button class="btn-pop-close js-pop-close" style="right: 10px; top: -10px; width: 30px;">닫기</button>
                </div>
            </header>
            <div class="pop-container">
                <div class="pop-common-box" style="margin: 20px 0 10px 0;">
                    <div class="tb-list mgt20 cont" style="text-align: center; font-size: 15px;">
                    </div>
                </div>
            </div>
            <div class="pop-bottom">
                <div class="pop-btn-box" style="padding: 10px 40px 20px 40px;">
                </div>
            </div>
        </div>
    </div>
</div>