<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
<title>세스코</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />

<script type="text/javascript">

    // 코드 유형 등록 팝업
    Vue.component('codeCommInsPop', {
        template: '#codeCommInsPop',
        props: ['open', 'codeComm', 'codeUptChk'],
        data() {
            return {
                codeCommUpt : {
                    sys_id : 'FS',
                    up_cmm_cd : '',
                    cmm_cd : '',
                    cmm_nm : '',
                    cmm_desc : '',
                    status : 'Y'
                }                
            }
        },
        mounted(){
            let _this = this;
            _this.codeCommUpt.sys_id     = _this.codeComm.sys_id,
            _this.codeCommUpt.up_cmm_cd  = _this.codeComm.up_cmm_cd,
            _this.codeCommUpt.cmm_cd     = _this.codeComm.cmm_cd,
            _this.codeCommUpt.cmm_nm     = _this.codeComm.cmm_nm,
            _this.codeCommUpt.cmm_desc   = _this.codeComm.cmm_desc,
            _this.codeCommUpt.status     = _this.codeComm.status             
        },
        methods: {
            onEmit() {
                this.$emit("on-change-open");
            },

            setCodeList : function() {
                this.$emit("on-set-code-list","");
            },

            setCodeComm : function() {
                let _this = this;

                if(_this.codeCommUpt.cmm_cd.length < 1){
                    cmmAlert('유형 코드를 입력해 주세요.');
                    _this.$refs.cmm_cd.focus();
                    return false;
                }

                if(_this.codeCommUpt.cmm_nm.length < 1){
                    cmmAlert('유형명을 입력해 주세요.');
                    _this.$refs.cmm_nm.focus();
                    return false;
                }

                let data = []

                data.push(_this.codeCommUpt);

                let axiosUrl = '/code/api/codeCommIns';
                let axiosMethod = 'post';

                if(_this.codeUptChk){
                    axiosUrl = '/code/api/codeCommUpt';
                    axiosMethod = 'put';
                }

                // 코드 유형 등록/수정
                axiosCall(axiosMethod, axiosUrl, data, function(response) {                    
                    cmmAlert(response.data);
   
                    _this.onEmit();
                    _this.setCodeList();
                });

            }
        }
    })
</script>

<script type="text/javascript">

	var vue
    $(document).ready(function(){       

        vue = new Vue({
            el: '#app',
            data: {                
                openCommIns     : false,    // 코드 유형 등록 팝업                
                openCommUpt     : false,    // 코드 유형 수정 팝업                
                codeCommUptInfo : [],       // 코드 유형 수정 정보

                sys_id          : 'FS',
                cmm_cd          : '',       // 선택 유형 코드
                codeCommUptChk  : false,

                selTitle        : '',       // 선택 코드 유형명

                // 코드 추가 관련 체크                
                codeAddBool     : false,    // 코드추가 가능 여부(기본 false, 코드 조회 후 true)
                gridData        : [],       // grid 전체 data
                codeCommList    : [],       // 코드 유형 목록

                // 조회 관련
                searchCodeNm    : '',       // 검색할 코드명
                searchCode      : '',       // 검색할 코드
                searchStatus    : ''        // 검색할 상태
                
            },
            mounted(){
                let _this = this;
                // 코드 유형 목록
                _this.drawLeftCodeList();                
            },
            methods: {
                // -------------팝업 관련 시작-------------

                // 코드 유형 등록 팝업 open
                onCommInsOpen: function(){
                    let _this = this;
                    _this.openCommIns = true;
                    _this.codeCommUptChk = false;
                    _this.codeCommUptInfo = {
                        sys_id : 'FS',
                        up_cmm_cd : '',
                        cmm_cd : '',
                        cmm_nm : '',
                        cmm_desc : '',
                        status : 'Y'
                    };
                },

                // 코드 유형 등록 팝업 close
                onCommInsClose : function(){
                    this.openCommIns = false;
                    $('.btn-code-edit').show();
                    $('.btn-code-save').hide();
                },

                // 코드 유형 수정 팝업 open
                onCommUptOpen: function(data, event){
                    let _this = this;
                    _this.openCommIns = true;
                    _this.codeCommUptChk = true;
                    _this.codeCommUptInfo = data;                    
                    
                    let target = event.target;

                    $(target).hide().next('.btn-code-save').show();
                },

                // 코드 유형 수정 팝업 close
                onCommUptClose : function(){
                    this.openCommUpt = false;
                },

                // -------------팝업 관련 끝-------------

                // 코드 유형 목록(왼쪽)
                drawLeftCodeList : function(){

                    $('.btn-code-edit').show();
                    $('.btn-code-save').hide();

                    let _this = this;

                    // 코드 세부 목록
                    _this.drawRightGrid('','');

                    let param = { 
                        cmm_nm : this.searchCodeNm ,
                        cmm_cd : this.searchCode,
                        status : this.searchStatus
                    };

                    axiosCall('get', '/code/api/codeCommList', param, function(response) {                        
                        let ulCommList = $("#commList");
                        _this.codeCommList = response.data;
                    });                             

                },                
                // 서브 코드 선택 항목 삭제
                delGridData : function(){
                    let _this = this;                    

                    if(_this.codeAddBool){

                        let chkCnt = 0;
                        let rowIDs = new Array();
                        let updateChk = false;

                        var rowDatas = $("#jqxRGrid").jqxGrid('getrows');

                        $.each(rowDatas, function(i, obj) {
                            if(obj.check == true){                                
                                if(obj.grid_stats == 'N'){ 
                                    rowIDs.push(obj.uid);
                                }else{
                                    updateChk = true;
                                }

                                chkCnt++;
                            }  
                            
                        })

                        if(chkCnt == 0){
                            cmmAlert('삭제할 ROW를 선택해주세요.');
                            return false;
                        }

                        $("#jqxRGrid").jqxGrid('deleterow', rowIDs);
                        $('#jqxRGrid').jqxGrid('clearselection');

                        if(updateChk) cmmAlert('이미 등록되어 있는 코드는 삭제 할 수 없습니다.\n(추가한 ROW는 삭제 되었습니다.)');                        
                        
                    }else{
                        cmmAlert('코드 유형을 선택해주세요.');
                    }                    

                },
                
                // 코드 목록(오른쪽)
                drawRightGrid : function(cmm_cd, cmm_nm){

                    let _this = this;
                    let param = { cmm_cd : cmm_cd };
                    _this.cmm_cd = cmm_cd;
                    _this.selTitle = cmm_nm;

                    if(cmm_cd !== ''){
                        _this.codeAddBool = true;
                    }

                    // 코드 목록 가져오기
                    axiosCall('get', '/code/api/codeDtlList', param, function(response) {                        
                        // HTML 파일에 div의 id로 입력해놓은 jqxgrid에 dataAdapter의 정보를  
                        // grid 형태로 출력한다. 
                        let commCodeAdapter = []

                        let useViewValue = [
                            { value : "Y", label : "사용"},
                            { value : "N", label : "미사용"}
                        ];

                        
                        let commCodeSource = {
                            datatype: "array",
                            datafields: [
                                { name: 'label', type: 'string' },
                                { name: 'value', type: 'string' }
                            ],
                            localdata: useViewValue
                        };
                        
                        commCodeAdapter.push(new $.jqx.dataAdapter(commCodeSource, {autoBind: true}));
                        

                        let data = response.data;
                        
                        // 레코드 추가
                        let generaterow = function () {
                            let row = {
                                cmm_dtl_seq     : 0,                //
                                status          : 'Y',              // 상태
                                sys_id          : _this.sys_id,     // 시스템 코드
                                cmm_cd          : _this.cmm_cd,     // 코드유형 코드
                                cmm_dtl_cd      : '',               // 코드
                                cmm_dtl_nm      : '',               // 별칭
                                srt             : 0,                // 정렬
                                etc_cd1         : '',               // 기타1
                                etc_cd2         : '',               // 기타2
                                etc_cd3         : '',               // 기타3
                                etc_cd4         : '',               // 기타4
                                etc_cd5         : '',               // 기타5
                                etc_cd1_amt     : 0,                // 가격
                                cmm_dtl_nm      : '',               // 
                                grid_stats      : 'N',              // N : 신규등록, U : UPDATE(수정), D : DELETE(삭제), S : SELECT(불러온 정보:기본)
                                use_view        : '사용'            // 상태 TEXT
                            };                            
                            return row;
                        }
                        
                        // 데이터 타입, 필드, 셋팅할 데이터를 설정한다.  
                        let source =  {  
                            datatype: "json", // json 형태의 데이터를 셋팅할 것이고.  
                            
                            // 각필드의 이름과 타입은 datafields에 마찬가지로 json 형태이다.  
                            datafields: [
                                { name : 'cmm_dtl_seq'  , type : 'number'},     // 상태
                                { name : 'status'       , type : 'string'},     // 상태
                                { name : 'sys_id'       , type : 'string'},     // 시스템 ID
                                { name : 'cmm_cd'       , type : 'string'},     // 코드유형
                                { name : 'cmm_dtl_cd'   , type : 'string'},     // 상세코드
                                { name : 'cmm_dtl_nm'   , type : 'string'},     // 명칭
                                { name : 'srt'          , type : 'number'},     // 정렬
                                { name : 'etc_cd1'      , type : 'string'},     // 기타1
                                { name : 'etc_cd2'      , type : 'string'},     // 기타2
                                { name : 'etc_cd3'      , type : 'string'},     // 기타3
                                { name : 'etc_cd4'      , type : 'string'},     // 기타4
                                { name : 'etc_cd5'      , type : 'string'},     // 기타5
                                { name : 'etc_cd1_amt'  , type : 'number'},     // 기타1 가격                                
                                { name : 'mdfr_name'    , type : 'String'},     // 등록자 이름
                                { name : 'mdfr_dt'      , type : 'String'},     // 등록일                                
                                { name : 'grid_stats'   , type : 'String'},     // 등록일

                                // 공통 코드 관련 추가
                                { name: 'use_view'      , value: 'status'   , values: { source: commCodeAdapter[0].records, value: 'value', name: 'label' } }
                            ],

                            // 레코드 추가
                            addrow: function (rowid, rowdata, position, commit) {                                
                                commit(true);
                            },

                            localdata: data // 위에서 셋팅해놓은 data를 localdata에 담아준다.  
                        };
                        
                        // 위에서 셋팅한 source의 정보를 넣어준다.  
                        let dataAdapter = new $.jqx.dataAdapter(source);

                        let chkValLen = function(len, valLen, newvalue, oldvalue){                            
                            if(valLen <= len){                                
                                return newvalue;
                            }else{
                                cmmAlert('입력은 최대 ' + len + '글자 까지 가능 합니다.');                                
                                if(oldvalue === null){
                                    oldvalue = newvalue.substring(0, len);
                                }
                                return oldvalue;
                            }
                        };

                        $('#jqxRGrid').jqxGrid('clearselection');
                        $("#jqxRGrid").jqxGrid({
                            
                            width               :   '100%',
                            autoheight          :   true,
		                    autorowheight		:	true,
                            source              :   dataAdapter,
                            selectionmode       :   'singlerow',
                            columnsheight       :   50,
                            rowsheight          :   50,
                            scrollmode          :   'deferred',
                            editable            :   true,               // 수정가능                            
                            localization        : { emptydatastring:'해당 자료가 존재하지 않습니다.' },                            
                            columns: [      
                                    { 
                                    text: '', datafield: 'check', columntype: 'checkbox', width: 30 
                                    },
                                    {
                                        text: '상태', cellsalign: 'center', align : 'center', datafield: 'status', displayfield: 'use_view', width: '7%', columntype: 'combobox',
                                        createeditor: function (row, value, editor) {
                                            editor.jqxComboBox({ source: commCodeAdapter[0], displayMember: 'label', valueMember: 'value' });
                                        }
                                    },                                    
                                    { 
                                        text : '코드', cellsalign: 'center', align : 'center', datafield : 'cmm_dtl_cd', width : '5%',
                                        cellvaluechanging: function (row, datafield, columntype, oldvalue, newvalue) {
                                            return chkValLen(6, newvalue.length, newvalue, oldvalue);
                                        }
                                    },
                                    { text : '명칭', cellsalign: 'center', align : 'center', datafield : 'cmm_dtl_nm', width : '10%'},
                                    { 
                                        text : '정렬', cellsalign: 'center', align : 'center', datafield : 'srt', width : '5%',columntype: 'numberinput',
                                        initeditor: function (row, cellvalue, editor, celltext, pressedChar) {
                                            editor.jqxNumberInput({ decimalDigits: 0, digits: 3 });
                                        }
                                    },
                                    { 
                                        text : '기타1', cellsalign: 'center', align : 'center', datafield : 'etc_cd1', width : '8%',
                                        cellvaluechanging: function (row, datafield, columntype, oldvalue, newvalue) {
                                            return chkValLen(30, newvalue.length, newvalue, oldvalue);
                                        }
                                    },
                                    { text : '기타2', cellsalign: 'center', align : 'center', datafield : 'etc_cd2', width : '8%'},
                                    { text : '기타3', cellsalign: 'center', align : 'center', datafield : 'etc_cd3', width : '8%'},
                                    { text : '기타4', cellsalign: 'center', align : 'center', datafield : 'etc_cd4', width : '8%'},
                                    { text : '기타5', cellsalign: 'center', align : 'center', datafield : 'etc_cd5', width : '8%'},
                                    { text : '가격',  cellsalign: 'right', align : 'center', datafield : 'etc_cd1_amt', width : '10%',columntype: 'numberinput', cellsformat: 'd',
                                        initeditor: function (row, cellvalue, editor, celltext, pressedChar) {
                                            editor.jqxNumberInput({ decimalDigits: 0, digits: 9 });
                                        }
                                    },
                                    { text : '수정자', cellsalign: 'center', align : 'center', datafield : 'mdfr_name', editable: false, width : '10%'},
                                    { text : '수정일', cellsalign: 'center', align : 'center', datafield : 'mdfr_dt', editable: false, width : '10%'}
                            ]
                        });

                        // 코드 추가 버튼 클릭
                        $("#addGridCodeRow").off('click').on('click', function () {
                            $("#jqxRGrid").jqxGrid('beginupdate');
                            
                            if(_this.codeAddBool){
                                var datarow = generaterow();
                                var commit = $("#jqxRGrid").jqxGrid('addrow', 0, datarow);
                            }else{
                                cmmAlert('코드유형이 선택 되지 않았습니다.');
                            }

                            $("#jqxRGrid").jqxGrid('endupdate');
                        });

                        // 셀 클릭 이벤트
                        $("#jqxRGrid").off('cellclick').on('cellclick', function (event) {

                            // event arguments.
                            var args = event.args;
                            // row's data.
                            var rowData = args.row;
                            // column data field.
                            var dataField = event.args.datafield;

                            if(dataField === 'cmm_dtl_cd' && rowData.bounddata.grid_stats != 'N'){
                                cmmAlert('등록된 코드는 수정이 불가능 합니다');                                
                            }
                            
                        });

                        $("#jqxRGrid").off('cellendedit').on('cellendedit', function (event) 
                        {
                            // event arguments.
                            var args = event.args;
                            // cell value
                            var value = args.value;
                            // cell old value.
                            var oldvalue = args.oldvalue;
                            // row's data.
                            var rowData = args.row;
                            // column data field.
                            var dataField = event.args.datafield;
                           
                            if(value != oldvalue && rowData.grid_stats === 'S'){
                                rowData.grid_stats = 'U';
                            }

                            if(dataField === 'cmm_dtl_cd' && rowData.grid_stats !== 'N'){
                                setTimeout(function () {
                                    $("#jqxRGrid").jqxGrid('setcellvalue', args.rowindex, "cmm_dtl_cd", oldvalue);
                                }, 1);
                            }
                            
                        });
                    });
                    
                },

                // 목록 저장(추가, 수정)
                setCodeDtlList : function(){ 

                    let _this = this;

                    cmmConfirm("코드를 저장 하시겠습니까?", function() {
                        
                        // 전체 데이터
                        let rows = $('#jqxRGrid').jqxGrid('getrows');
                        let valchk = false;                        

                        if(rows.length > 0){

                            let data = [];

                            $(rows).each(function(index, item){

                                let rowdata = $('#jqxRGrid').jqxGrid('getrowdata', index)

                                data.push(rowdata);
                                
                                if(rowdata.cmm_dtl_cd.trim() === '' || rowdata.cmm_dtl_nm.trim() === ''){
                                    cmmAlert('코드, 명칭을 입력해 주세요.');
                                    valchk = true;
                                    return false;
                                }
                                
                            })

                            if(data.length == 0){
                                cmmAlert('추가, 수정된 데이터가 없습니다.');
                                valchk = true;
                            }

                            if(valchk) return false;

                            axiosCall('post', '/code/api/codeCommDtlIns', data, function(response) {
                                cmmAlert(response.data);
                                _this.drawRightGrid(_this.cmm_cd, _this.selTitle);
                            });

                            // // 목록 저장(추가, 수정)
                            // axios.post('/code/api/codeCommDtlIns', JSON.stringify(data), 
                            // {	
                            //     headers:{
                            //         'AJAX': true,
                            //         'Content-Type': 'application/json'
                            //     }
                            // })
                            // .then(function (response) {

                            //     cmmAlert(response.data);
                                
                            //     _this.drawRightGrid(_this.cmm_cd, _this.selTitle);
                                
                            // }).catch(function (error){
                            //     let errordata = error.response.data;
                            //     cmmAlert(errordata.message);
                            // });

                        }else{
                            cmmAlert('저장할 데이터가 없습니다.');
                        }

                    });

                }
            }
        })
    });
</script>

</head>
<body>
	<section layout:fragment="content" id="app"  v-cloak>
		
            <!-- content -->
            <div class="page-content flex-layout pdb0">
                <div class="page-box">
                    <div class="clear">
                        <h2 class="page-title fl">코드관리</h2>
                        <div class="fr">
                            <button class="btn-search" @click="drawLeftCodeList"><i></i>조회</button>
                        </div>
                    </div>
                    <hr>
                    <div class="board-search mgt20">
                        <table>
                            <colgroup>
                                <col width="80px"><col width="">
                                <col width="110px"><col width="">
                                <col width="110px"><col width="">
                                <col width="110px"><col width="">
                            </colgroup>
                            <tbody>                           
                                <tr>
                                    <th>코드명</th>
                                    <td><input type="text" class="full" v-model="searchCodeNm" placeholder="검색할 코드명을 입력해 주세요." @keyup.enter="drawLeftCodeList"></td>
                                    <th>코드</th>
                                    <td><input type="text" class="full" v-model="searchCode" placeholder="검색할 코드를 입력해 주세요." @keyup.enter="drawLeftCodeList"></td>
                                    <th>상태</th>
                                    <td>
                                        <select class="full" v-model="searchStatus">
                                            <option value="">전체</option>
                                            <option value="Y">사용</option>
                                            <option value="N">미사용</option>
                                        </select>
                                    </td>                                    
                                    <th></th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="page-box last mgb20 mht550">
                    <div class="pin-layout mgl20">
                        <div class="clear">
                            <div class="fl" style="width:270px;"><h3 class="content-title">&nbsp;</h3></div>
                            <div class="fl"><h3 class="content-title">{{selTitle}}&nbsp;</h3></div>
                            <div class="fr">
                                <button class="btn-save" id='addGridCodeRow'>ROW추가</button>
                                <button class="btn-save" @click="delGridData">ROW삭제</button>
                                <button class="btn-save" @click="setCodeDtlList">저장</button>
                            </div>
                        </div>
                        <div class="pin-layout-wrap on">
                            <section class="tree-wrap" style="width:250px;opacity:1;z-index: 100;">
                                <div class="tree-header">
                                    <h5>코드유형</h5>            
                                </div>
                                <div class="tree-content foot">
                                    <ul class="code-list">
                                        <li v-if="codeCommList.length == 0">
                                            해당 자료가 존재하지 않습니다.
                                        </li>
                                        <li v-for="codeComm in codeCommList" 
                                            :class="codeComm.status === 'N' ? 'unused on' : codeComm.cmm_cd === cmm_cd ? 'selected on' : 'selected'"
                                            >
                                            <div class="flex-auto-end">                
                                                <div>
                                                    <span @click="drawRightGrid(codeComm.cmm_cd, codeComm.cmm_nm)"  style="cursor: pointer;">[{{codeComm.cmm_cd}}]{{codeComm.cmm_nm}}</span>
                                                </div>
                                                <div class="mgl5">                                                           
                                                    <button class="btn-code-edit" @click="onCommUptOpen(codeComm, $event)">수정</button>
                                                    <button class="btn-code-save">저장</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>                                
                                <div class="tree-footer">
                                    <div class="btn-tree-bottom-wrap"><button class="btn-wide" @click="onCommInsOpen">코드유형등록</button></div>
                                </div>
                            </section>

                            <section class="tree-right-wrap">
                                <div class="tb-list">
                                    <div id="jqxRGrid"></div>
                                </div>
                            </section>
                        </div>                        
                    </div>
                </div>
            </div>
            <!-- //content -->

        <code-comm-ins-pop
            v-if="openCommIns" 
            :open="openCommIns"
            :code-comm="codeCommUptInfo" 
            :code-upt-chk="codeCommUptChk"
            @on-change-open="onCommInsClose" 
            @on-set-code-list="drawLeftCodeList"
        ></code-comm-ins-pop>

	</section>
</body>
</html>

<!-- 코드 유형 등록 팝업 시작-->
<template id="codeCommInsPop">
    <div class="layer-pop-wrap">
        <div class="layer-pop-box">
            <div class="pop-wrap">
                <h1 class="blind">System > 5.코드관리 >코드유형등록</h1>
                <header class="pop-header">
                    <div class="pop-header-title-wrap">
                        <h3 class="pop-header-title" v-if="codeUptChk === true">코드유형수정</h3>
                        <h3 class="pop-header-title" v-if="codeUptChk === false">코드유형등록</h3>
                        <button class="btn-pop-close js-pop-close" @click="onEmit">닫기</button>
                    </div>
                </header>
                <div class="pop-container">
                    <div class="pop-common-box">
                        <div class="mgt30">
                            <table class="tb-view-01">
                                <colgroup><col width="100px"><col width=""></colgroup>
                                <tbody>
                                    <tr>
                                        <th>상태</th>
                                        <td>
                                            <select class="select-top fl" v-model="codeCommUpt.status">
                                                <option value="Y">사용</option>
                                                <option value="N">미사용</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>상위 유형코드</th>
                                        <td><input type="text" v-model="codeCommUpt.up_cmm_cd" ref="up_cmm_cd" maxlength="6" class="full" placeholder="상위 유형코드 입력하세요"></td>
                                    </tr>
                                    <tr>
                                        <th>유형코드</th>
                                        <td><input type="text" v-model="codeCommUpt.cmm_cd" :readonly="codeUptChk === true" ref="cmm_cd" maxlength="6" class="full" placeholder="유형코드를 입력하세요"></td>
                                    </tr>
                                    <tr>
                                        <th>유형명</th>
                                        <td><input type="text" v-model="codeCommUpt.cmm_nm" ref="cmm_nm" class="full" placeholder="유형명을 입력하세요"></td>
                                    </tr>
                                    <tr>
                                        <th>설명</th>
                                        <td><input type="text" v-model="codeCommUpt.cmm_desc" ref="cmm_desc" class="full" placeholder="유형명을 입력하세요"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="pop-bottom">
                    <div class="pop-btn-box">
                        <a href="javascript:void(0);" class="btn-pop-bottom" @click="onEmit">취소</a>
                        <a href="javascript:void(0);" class="btn-pop-bottom" @click="setCodeComm" v-if="codeUptChk === false" >등록</a>
                        <a href="javascript:void(0);" class="btn-pop-bottom" @click="setCodeComm" v-if="codeUptChk === true" >수정</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<!-- 코드 유형 등록 팝업 끝-->

