<!DOCTYPE html>
<html lang="ko">
<head>
<title>표시컨설팅</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="../../../static/css/import.css"/>
<script type="text/javascript" src="../../../static/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../static/js/common.js"></script>
</head>
<body class="bg00">

<div class="layer-pop-wrap">
    <div class="layer-pop-box xlarge">
        <div class="pop-wrap">
            <h1 class="blind">HACCP > 컨설팅관리 > 신규 컨설팅 등록 팝업</h1>
            <header class="pop-header">
                <div class="pop-header-title-wrap">
                    <h3 class="pop-header-title">신규 컨설팅 등록</h3>
                    <button class="btn-pop-close js-pop-close">닫기</button>
                </div>
            </header>
            <div class="pop-container">
                <div class="pop-common-box">
                    <div class="form-info-wrap">
                        <div class="form-info-box">
                            <dl>
                                <dd>
                                    <div class="pop-search-form">
                                        <label>고객사명</label>
                                        <input type="text">
                                        <button class="btn-search"><i></i>조회</button>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="mgt30">
                        <h3 class="content-title tooltip">컨설팅 의뢰 제품정보
                            <span>?</span>
                            <span class="tooltip-content"><p><i class="th-star">*</i> 는 필수값입니다.</p></span>
                        </h3>                     
                        
                        <table class="tb-view-01">
                            <colgroup>
                                <col width="7%"><col width="10%"><col width="14%"><col width=""><col width="12%">
                                <col width="7%"><col width="8%"><col width="8%"><col width="8%"><col width="8%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>상품코드</th>
                                    <th>상품명</th>
                                    <th>계약일련번호</th>
                                    <th>접수(계약)일</th>
                                    <th>계약MD</th>
                                    <th>계약금</th>
                                    <th>중도금</th>
                                    <th>잔금</th>
                                    <th>견적단가</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>상품</th>
                                    <td><input type="text" class="full txt-c" placeholder=""></td>
                                    <td><input type="text" class="full" placeholder="상품명을 입력하세요"></td>
                                    <td><select class="full"><option></option></select></td>
                                    <td><span class="calendar-box single"><input type="text" class="calendarDate_start"></span></td>
                                    <td><input type="text" class="full txt-c" placeholder=""></td>
                                    <td align="right">12,000,000</td>
                                    <td align="right">13,000,000</td>
                                    <td align="right">12,000,000</td>
                                    <td align="right">37,000,000</td>
                                </tr>
                                <tr>
                                    <th>상품유형</th>
                                    <td colspan="9">
                                        <div class="product-type-wrap">
                                            <ul>
                                                <li>
                                                    <div class="calendar-combo-box">
                                                        <div class="mgr5"><select><option>선택</select></div>
                                                        <div><button class="btn-visit check">추가</button></div>
                                                        <button class="btn-del">삭제</button>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="calendar-combo-box">
                                                        <div class="mgr5"><span class="calendar-box">발효용품</span></div>
                                                        <button class="btn-del">삭제</button>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="calendar-combo-box">
                                                        <div class="mgr5"><span class="calendar-box">빵류</span></div>
                                                        <button class="btn-del">삭제</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mgt30 clear">
                        <div class="column col2 pdr10">
                            <h3 class="content-title">담당자</h3>
                            <div class="fr"><label>주 담당자</label><select class="grd-select mgl5"><option value="">선택</option> </select></div>
                            <div>
                                그리드 영역
                            </div>
                        </div>
                        <div class="column col2 pdl10">
                            <div>
                                <h3 class="content-title">세스코 담당자</h3>
                                <div class="fr"><label>주 담당자</label><select class="grd-select mgl5"><option value="">선택</option> </select></div>
                                <div>
                                    그리드 영역
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mgt30 clear">
                        <div class="column col2 pdr10">
                            <h3 class="content-title">첨부파일</h3>
                            <table class="tb-view-01 narrow">
                                <colgroup><col width="20%"><col width="20%"><col width=""><col width="83px"></colgroup>
                                <tbody>
                                    <tr>
                                        <th align="left"><input type="text" class="full" placeholder="파일명"></th>
                                        <td><select class="grd-select full"><option value="">발효용품</option></select></td>
                                        <td>
                                            <div class="file-upload-wrap">
                                                <div class="file-upload">
                                                    <input type="file" id="file_name" class="upload-hidden">
                                                    <input class="upload-name" disabled="disabled">
                                                    <label for="file_name"><i></i>파일첨부</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="txt-l">
                                            <div class="tb-btns-wrap">
                                                <button class="btn-del"><i>-</i><span>삭제</span></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th align="left"><input type="text" class="full" placeholder="파일명"></th>
                                        <td><select class="grd-select full"><option value="">발효용품</option></select></td>
                                        <td>
                                            <div class="file-upload-wrap">
                                                <div class="file-upload">
                                                    <input type="file" id="file_name" class="upload-hidden">
                                                    <input class="upload-name" disabled="disabled">
                                                    <label for="file_name"><i></i>파일첨부</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="txt-l">
                                            <div class="tb-btns-wrap">
                                                <button class="btn-del"><i>-</i><span>삭제</span></button>
                                                <button class="btn-add"><i>+</i><span>추가</span></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pop-bottom">
                <div class="pop-btn-box">
                    <a href="" class="btn-pop-bottom">취소</a>
                    <a href="" class="btn-pop-bottom">등록</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
