<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>세스코</title>
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		
		<link rel="stylesheet"  th:href="@{/jqwidgets/styles/jqx.base.css}" />
		<link rel="stylesheet"  th:href="@{/jqwidgets/styles/jqx.arctic.css}" />
		<link rel="stylesheet"  th:href="@{/css/import.css}" />

		<script type="text/javascript" th:src="@{/js/vue.js}"></script>
		<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/babel.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/es6-promise.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/polyfill.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/vue-select.js}"></script>
		<script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/highstock.js}"></script>
		<script type="text/javascript" th:src="@{/js/act_common.js}"></script>
		<script type="text/javascript" th:src="@{/js/common.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/input.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.mtz.monthpicker.js}"></script>

		<script type="text/javascript" th:src="@{/jqwidgets/jqx-all.js}"></script>
		<script type="text/javascript" th:src="@{/jqwidgets/jqxcore.js}"></script>

		<script th:inline="javascript">
			var ctx = /*[[@{/}]]*/ '';
			window.onload = function () {
				localStorage.removeItem('consultGridRow');
			}
			$(document).ready(function () {
					if (window.opener) {
						cmmAlert('세션이 만료되었습니다. 로그인을 다시 해주세요.');
						window.opener.location = window.location.pathname.substring(0, window.location.pathname.indexOf('/', 2)) + '/user/login';
						self.close();
					}
			});
	</script>

</head>
<body>
	<div class="wrap">
		<div class="wrapInner">
			<container th:replace="~{layout/container:: container}">
			  <p>container.html container section</p>
			</container>
		</div>
	</div>
</body>
</html>