<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>세스코</title>
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		
		<link rel="stylesheet"  th:href="@{/jqwidgets/styles/jqx.base.css}" />
		<link rel="stylesheet"  th:href="@{/jqwidgets/styles/jqx.arctic.css}" />
		<link rel="stylesheet"  th:href="@{/css/import.css}" />

		<script type="text/javascript" th:src="@{/js/vue.js}"></script>
		<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/babel.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/es6-promise.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/polyfill.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/vue-select.js}"></script>
		<script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/highstock.js}"></script>
		<script type="text/javascript" th:src="@{/js/act_common.js}"></script>
		<script type="text/javascript" th:src="@{/js/common.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/input.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.mtz.monthpicker.js}"></script>

		<script type="text/javascript" th:src="@{/jqwidgets/jqx-all.js}"></script>
		<script type="text/javascript" th:src="@{/jqwidgets/jqxcore.js}"></script>

		<script th:inline="javascript">
			var menuBase = window.location.href.split('/')[3];
			window.onload = function () {
			}
			$(document).ready(function(){
				if(menuBase != undefined){
					if(menuBase == 'fs' || menuBase == 'main'){
						$("#layoutWrap").addClass("main");
					} else {
						$("#layoutWrap").removeClass("main");
					}
				}
			});

			Vue.component('datePickerFrom', {
				template: '<input type="number" maxlength="10" class="calendarDate_start" autocomplete="off" :value="val" @input="changeData"/>',
				props: ['val'],
				mounted: function() {
					drawDatePicker(this, 'on-change-start-date');
				},
				beforeDestroy: function(){
					destroyDatePicker(this);
				},
				methods: {
					changeData: function(e) {
						this.$emit('on-change-start-date', addHyphenToDate(e.target.value));
						this.$forceUpdate();
					}
				}
			});

			// end date
			Vue.component('datePickerTo', {
				template: '<input type="number" maxlength="10" class="calendarDate_end" autocomplete="off" :value="val" @input="changeData"/>',
				props: ['val'],
				mounted: function() {
					drawDatePicker(this, 'on-change-end-date');
				},
				beforeDestroy: function(){
					destroyDatePicker(this);
				},
				methods: {
					changeData: function(e) {
						this.$emit('on-change-end-date', addHyphenToDate(e.target.value));
						this.$forceUpdate();
					}
				}
			});

			window.onload = function(){
				var browserTitle = $('.header-nav ul li.is-opened a span.txt').text();
				// var browserMainTitle = $('.header-main .logo a span').text();

				if(browserTitle) {
					document.title = browserTitle;
				} else {
					document.title = '세스코';
				}
			};

		</script>

</head>
<body>
	<div class="wrap" id="layoutWrap">
		<div class="wrapInner" >
			<header th:replace="~{layout/header :: header}">
			  <p>header.html header section</p>
			</header>
			<container th:replace="~{layout/container:: container}">
			  <p>container.html container section</p>
			</container>
		</div>
		<footer th:replace="~{layout/footer :: footer}">
		  <p>footer.html footer section</p>
		</footer>
	</div>
</body>
</html>