<meta charset="UTF-8"/>
<footer layout:fragment="footer" id="footer" class="footer">
	<div class="footer-inner">
		<div>
			(주)세스코 서울특별시 강동구 상일로 10길 46 세스코 터치센터(우:05288)&nbsp;&nbsp;&nbsp;&nbsp;Tel : 1588-1119&nbsp;&nbsp;&nbsp;&nbsp;
			대표이사 : 부회장 전찬혁&nbsp;&nbsp;&nbsp;&nbsp;사업자등록번호 : 212-81-05946<br>
			COPYRIGHT(C) BY CESCO CO., LTD. ALL RIGHTS RESERVED.
			<div class="footer-link-box">
				<a href="/user/etcProtect">개인정보처리방침</a>
				<a href="/user/etcClause">서비스 이용약관</a>
				<!-- <a href="">전자금융거래이용약관</a> -->
			</div>
		</div>
	</div>
</footer>