<meta charset="UTF-8"/>
<header layout:fragment="header" id="header" class="header">
    <script th:inline="javascript" th:fragment="headerScript" type="text/javascript">
        var headerVue
        $(document).ready(function(){
            headerVue = new Vue({
                el: '#headerVue',
                data: {
                    userId      :   [[${session.userId}]],
                    userNm      :   [[${session.userNm}]],
                    userTpCd    :   [[${session.userTpCd}]],
                    dept        :   [[${session.dept}]],
                    deptCode    :   [[${session.deptCode}]],
                    sysCode     :   [[${session.sysCode}]],
                    notice1Yn   :   [[${session.notice1Yn}]],
                    notice2Yn   :   [[${session.notice2Yn}]],
                    notice3Yn   :   [[${session.notice3Yn}]],
                    notice4Yn   :   [[${session.notice4Yn}]],
                    adminYn     :   [[${session.adminYn}]],
                    menuTitle   :   window.location.href.split('/')[4],
                    menuBase    :   window.location.href.split('/')[3],
                    notiList    :   [],
                    showHeader  : false
                },
                methods : {
                    checkActive: function(url){
                        let path = window.location.pathname;
                        if(path.indexOf(url) == 0){
                            return 'is-opened'
                        }
                    },
                    ckSession: function() { // 세션 체크
                        let _self = this;
                        if (!!!_self.userId) {
                            location.href = "/user/login"
                        }
                    },
                    // 알림여부 session 데이터 변경
                    setUserChangeNoti: function(e) {
                        let url = '/api/setUserChangeNoti';
                        let _this = this;
                        var input = e.target;
                        _this[input.id] = input.checked == true ? 'Y' : 'N';

                        let param = {};
                        param.notice1_yn = _this.notice1Yn;
                        param.notice2_yn = _this.notice2Yn;
                        param.notice3_yn = _this.notice3Yn;
                        param.notice4_yn = _this.notice4Yn;

                        axiosCall('post', url, param, function(res){
                            console.log("변경완료");
                        }, true);
                    }
                },
				created() {
                    console.log("menuTitle:",this.menuTitle);
                    console.log("menuBase:",this.menuBase);
                    this.ckSession(); // 조회

                },
                mounted() {
                    let _this = this;
                    $("#headerVue").show()

                    getCodeListForArrNm([{cmm_cd: 'FS027', arr_nm: 'notiList'}], _this, selectBoxToggle('noti')); // 알림 toggle
                },
            });
        });

        


    </script>
<div class="header-inner" id="headerVue" style="display: none;">
    <div id="divPop"></div>
    <div class="header-main">
        <h1 class="logo">
            <a href="/main" v-if="(userTpCd =='01' || userTpCd =='02') && sysCode == 'HC'">
                <span>컨설팅</span>                
            </a>
            <a href="/fs/main" v-if="(userTpCd =='01' || userTpCd =='02' || adminYn=='Y') && sysCode == 'FS'">                
                <span>표시컨설팅</span>
            </a>
            <a href="/notice/noticeList" v-if="userTpCd =='03' && sysCode == 'HC'">
                <span>컨설팅</span>
            </a>
            <a href="/notice/noticeList" v-if="userTpCd =='03' && adminYn=='N' && sysCode == 'FS'">
                <span>표시컨설팅</span>
            </a>
        </h1>
    </div>
    <nav class="header-nav">
        <!-- 표시컨설팅 메뉴 -->
        <ul class="nav-1depth" v-if="sysCode == 'FS'">
            <li :class="{'is-opened' : menuBase === 'consulting' }" v-if="userTpCd !='03' || adminYn=='Y'">
                <a href="/consulting/consult/indicationCoslList"><span class="txt">표시컨설팅</span></a>
            </li>
            <li :class="{'is-opened' : menuBase === 'calculate' }"  v-if="userTpCd =='02' || adminYn=='Y'">
                <a href="/calculate/calculateList"><span class="txt">정산대상</span></a>
            </li>
            <li :class="{'is-opened' : menuBase === 'service' }"    v-if="userTpCd !='03' || adminYn=='Y'">
                <a href="/service/serviceStatementList"><span class="txt">서비스견적서</span></a>
            </li>
            <li :class="{'is-opened' : menuTitle === 'consult' && menuBase === 'comm' }" v-if="userTpCd =='03' || userTpCd =='02'">
                <a href="/comm/consult/coslMgtList"><span class="txt">컨설팅관리</span></a>
            </li>
            <li :class="{'is-opened' : menuTitle === 'customer' }" v-if="userTpCd =='03'">
                <a href="/comm/customer/cusMgtList"><span class="txt">고객사관리</span></a>
            </li>
            <li :class="{'is-opened' : menuTitle === 'account' }" v-if="userTpCd =='03'">
                <a href="/comm/account/AcctMgtCusAcctList"><span class="txt">계정관리</span></a>
            </li>
            <li :class="{'is-opened' : menuTitle === 'code' }" v-if="userTpCd =='03'">
                <a href="/comm/code/codeMgtList"><span class="txt">코드관리</span></a>
            </li>
            <li :class="{'is-opened' : menuBase === 'notice' }">
                <a href="/notice/noticeList"><span class="txt">공지사항</span></a>
            </li>
        </ul>
    </nav>
    <nav class="header-nav" v-if="sysCode != 'FS'">
        <!-- HACCP컨설팅 -->
        <ul class="nav-1depth">
            <li :class="{'is-opened' : menuTitle === 'consult' }" >
                <a href="/consulting/consult/hcConsultList"><span class="txt">컨설팅</span></a>
            </li>
            <li :class="{'is-opened' : menuBase === 'calculate' }" >
                <a href="/calculate/settlementList"><span class="txt">정산</span></a>
            </li>
            <li :class="{'is-opened' : menuTitle === 'customer' }" v-if="userTpCd !='01'">
                <a href="/comm/customer/cusMgtList"><span class="txt">고객사관리</span></a>
            </li>
            <li :class="{'is-opened' : menuTitle === 'account' }"  v-if="userTpCd !='01'">
                <a href="/comm/account/AcctMgtCusAcctList"><span class="txt">계정관리</span></a>
            </li>
            <li :class="{'is-opened' : menuTitle === 'consultMgt' }" v-if="userTpCd !='01'">
                <a href="/hc/consultMgt/coslMgtList"><span class="txt">컨설팅관리</span></a>
            </li>

            <li :class="{'is-opened' : menuTitle === 'code' }" v-if="userTpCd =='03'">
                <a href="/comm/code/codeMgtList"><span class="txt">코드관리</span></a>
            </li>
            <li :class="{'is-opened' : menuBase === 'notice' }" >
                <a href="/notice/noticeList"><span class="txt">공지사항</span></a>
            </li>            
        </ul>
    </nav>

    <div class="utility">
        <div class="profile-layer" id="utilityProfile">
            <ul class="profile-menu noti">
                <li class="name">
                    <a href="#"><span>{{dept}}</span><span>{{userNm}}</span></a>
                    <ul class="list-select">
                        <li v-if="(userTpCd=='01' && item.etc_cd1 == 'notice1Yn' ? false : true)" v-for="(item, index) in notiList">
                            <span>{{item.cmm_dtl_nm}}</span>
                            <input class="noti-check-input" type="checkbox" :id="item.etc_cd1" v-model="$data[item.etc_cd1]" true-value="Y" false-value="N" @click="setUserChangeNoti" hidden> 
                            <label :for="item.etc_cd1" class="toggleSwitch">
                                <span class="toggleButton"></span>
                            </label>
                        </li>
                    </ul>
                </li>
                <li class="logout">
                    <a href="/user/logout">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</header>