
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
<title>세스코</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />


<script th:inline="javascript" type="text/javascript">
var vue

    $(document).ready(function(){
        vue =new Vue({
            el: '#app',
            data: {

                // 발행(요청) - (데이터 update) 확인
                totalCnt: 0,
                deCnt: 0,
                sucCnt: 0,

                // 메일 전송 확인
                mailTotalCnt: 0,
                mailSucCnt: 0,
                
                // 알림톡 전송 확인
                talkTotalCnt: 0,
                talkSucCnt: 0,

                // 발행요청 취소 확인
                cancleTotal : 0,
                cancleSucCnt : 0,


                sendData:{},        // 목록데이터 전달 파라미터
                sendDataDetail:{
                    sys_id: '', 
                    p_type:'1',
                    prod_cd: '',          // 상품코드
                    prod_nm: '',          // 상품명
                    prod_tp_nm:'',        // 식품유형 (상품유형명)
                    cst_mng_nm: '',       // 담당자명 
                    cst_mng_mobile: '',   // 연락처 
                    cst_nm : '',          // 고객사 명
                    receive_date: '',     // 최초접수일자 
                    fs_status_cd: '',     // 진행상태 
                    fs_status_nm: '',     // 진행상태명 
                    fs_no: '',            // 컨설팅번호 
                    cst_cesco_mng_nm : '', // 세스코 담당자명
                    mdfr_dt: '' // 수정일시
                },

                /*
                    발행요청시(메일, 세스톡) : 고객 -> 세스코 
                    : 세스코는 메일과 세스톡을 받음

                    발행시(메일) : 세스코 -> 고객
                    : 고객은 메일만 받음 
                */
                // Mail & Talk - [ 발행요청 / 발행 ]시 전달하는 Mail,Talk Parameter
                sendMailTalk: {
                      cst_mng_nm : ''      // 고객사 담당자 성명
                    , cst_mng_id : ''      // 고객사 담당자 IDs_est_tp_nm
                    , cst_mng_email : ''   // 고객사 담당자 EMAIL
                    , cst_nm : ''          // 고객사 명 
                    , tax_bill_email : ''  // 세금계산서 담당자 EMAIL
                    // , tax_bill_nm : ''     // 세금계산서 담당자 성명
                    , ces_mng_nm : ''      // 세스코 담당자 성명
                    , ces_mng_id : ''      // 세스코 담당자 ID
                    , ces_mng_email : ''   // 세스코 담당자 email 
                    , ces_est_tp_nm : ''   // 견적금액 구분명(선금, 중도금, 잔금)
                },

                // sysId: [[${session.sysCode}]],
                userId: [[${session.userId}]],
                userTpCd: [[${session.userTpCd}]],
                cstcd: [[${session.cstcd}]],
                fs_no : '',
                // proceedList:[], // 진행상태코드 : SYS_ID : FS / CMM_CD : FS020
                // deptList:[],    // 부서(지역본부)

                calculateList: [],      // 정산 목록
                calculateDtlList : []   // 정산 상세
            },

            mounted() {
                var _self = this;
                // 목록에서 받아온 리스트
                var paramsdata = window.localStorage.getItem('calculateGridRow');
                if(!!!paramsdata){
                    // console.log("데이터 없음");
                }else{
                    _self.sendData = JSON.parse(paramsdata);
                    _self.sendDataDetail.prod_cd = _self.sendData.prod_cd;                   // 상품코드
                    _self.sendDataDetail.prod_nm = _self.sendData.prod_nm;                   // 상품명
                    _self.sendDataDetail.prod_tp_nm = _self.sendData.prod_tp_nm;             // 식품유형 (상품유형명)
                    _self.sendDataDetail.cst_mng_nm = _self.sendData.cst_mng_nm;             // 담당자명
                    _self.sendDataDetail.cst_nm = _self.sendData.cst_nm;                 // 고객사명
                    
                    _self.sendDataDetail.cst_mng_mobile = _self.sendData.cst_mng_mobile;     // 연락처
                    
                    if(_self.sendData.cst_mng_mobile != null){

                        if(_self.sendData.cst_mng_mobile.length == 11){
                            let originNum = _self.sendData.cst_mng_mobile;
                            let MobileNum = originNum.substring(0,3)+"-"+originNum.substring(3,7)+'-'+originNum.substring(7,originNum.length);
                            _self.sendDataDetail.cst_mng_mobile = MobileNum;
                        }else if(_self.sendData.cst_mng_mobile.length == 10){
                            let originNum = _self.sendData.cst_mng_mobile;
                            let MobileNum = originNum.substring(0,3)+"-"+originNum.substring(3,6)+'-'+originNum.substring(6,originNum.length);
                        }else{
                            _self.sendDataDetail.cst_mng_mobile = _self.sendData.cst_mng_mobile;  // 연락처
                        }

                    }else{
                        _self.sendDataDetail.cst_mng_mobile = '';
                    }
                    
                    _self.sendDataDetail.receive_date = _self.sendData.receive_date;          // 최초 접수일자
                    _self.sendDataDetail.fs_status_cd = _self.sendData.fs_status_cd;          // 진행상태
                    _self.sendDataDetail.fs_status_nm = _self.sendData.fs_status_nm;          // 진행상태명
                    _self.sendDataDetail.fs_no = _self.sendData.fs_no;                        // 컨설팅번호
                    _self.sendDataDetail.cst_cesco_mng_nm = _self.sendData.cst_cesco_mng_nm;  // 세스코 담당자명
                    _self.sendDataDetail.mdfr_dt = _self.sendData.mdfr_dt;                    // 컨설팅번호
                }
                var _this = this;
                this.getCalculateListDetail();
            },

            methods: {
                
                //  발행요청시(메일, 세스톡) : 고객 -> 세스코 : 세스코는 메일과 세스톡을 받음
                //  발행시(메일) : 세스코 -> 고객 : 고객은 메일만 받음 
                sendMngrToCst: async function(type) {
                    let _self = this;
                    let url = "/api/hc_calculate/sendMail";
                    let param = {};
                    
                    // 발행요청시(1) 메일 : 고객 -> 세스코
                    if(type == '1'){
                        param = {
                                    receive_email: _self.sendMailTalk.ces_mng_email     // 수신자 : 세스코담당자 email 
                                    , status: '1'
                                    , send_nm: _self.sendMailTalk.cst_mng_nm            // 메일 보내는 사람 ... : 발행요청하는 사람 : 고객사담당자 성명
                                    , user_id: _self.sendMailTalk.cst_mng_id            // 메일 보내는 사람 ... : 발행요청하는 사람 : 고객사담당자 ID
                                    , sys_id: 'HC'      
                                    , receive_nm: _self.sendMailTalk.ces_mng_nm         // 세스코담당자 성명
                                    , ssmm : _self.sendMailTalk.ces_est_tp_nm           // 견적금액 구분명 (선금, 중도금, 잔금)
                                    , cst_nm : _self.sendDataDetail.cst_nm              // 고객사 명
                                    , send_chat_st_nm : _self.sendMailTalk.ces_mng_nm   // 멘션수신자 : 세스코 담당자 성명
                                }
                                // console.log("발행요청 param : ", param);

                    // 발행시(2) 메일 : 세스코 -> 고객 
                    }else if(type == '2'){
                         param = {
                                    receive_email: _self.sendMailTalk.tax_bill_email  // 수신자 : 세금계산서 담당자 email + ( 고객사담당자 email ?)
                                    // , contents : "세금계산서 발행 완료 :"
                                    , status: '2'
                                    , send_nm: _self.sendMailTalk.ces_mng_nm              // 메일 보내는 사람 ... : 발행하는 사람 : 세스코담당자 성명 
                                    , user_id: _self.sendMailTalk.ces_mng_id              // 메일 보내는 사람 ... : 발행하는 사람 (session ?) : 세스코담당자 ID
                                    , sys_id: 'HC'        
                                    , receive_nm: _self.sendMailTalk.cst_mng_nm           // 고객사담당자 성명 
                                    , ssmm : _self.sendMailTalk.ces_est_tp_nm             // 견적금액 구분명 (선금, 중도금, 잔금)
                                    , cst_nm : _self.sendDataDetail.cst_nm                // 고객사 명
                                    , send_chat_st_nm : _self.sendDataDetail.cst_mng_nm   // 멘션수신자 : 고객사 담당자 성명
                                }              
                                // console.log("발행 param : ", param);
                    }


                    var resM = await axios.post(url, param);

                    // 성공시 res.data = 1 
                    if(resM.data == 1){
                        // 메일발송 성공 건수
                        vue.mailSucCnt += Number(resM.data);
                        // console.log("In Method - vue.mailSucCnt : ",vue.mailSucCnt);
                    }else{
                        // console.log("메일발송에 실패하였습니다.<br>IS운영실에 문의하여 주시기 바랍니다.");
                        return false;
                    }
                },


                // * < 세스톡 > : [발행요청]시 세스톡발송 
                // - 발행요청시(메일, 세스톡) : 고객 -> 세스코                 
                sendAlarmMngr: async function(){
                    //type 1 : 확인완료, 2: 수정요청
                    let _self = this;
                    let url = "/api/hc_calculate/setMsgAlarm";
                    let param = {
                                    fs_mng_id: _self.sendMailTalk.ces_mng_id         // 세스코담당자 id
                                    , cst_mng_nm: _self.sendDataDetail.cst_mng_nm    // 고객사담당자 성명
                                    , contents: 3
                                }

                    var resC = await axios.post(url, param);

                    if(resC.data == 1 ){
                        // 세스톡 발송성공 건수
                        vue.talkSucCnt += Number(resC.data)
                        // console.log("In Method - vue.talkSucCnt : ",vue.talkSucCnt);
                    }else{
                        return false;
                    }
                },

                // 그리드 내용 가운데 정렬
                setDivCenter: function(val, tag){
                    let inTag = "height:100%;";
                    inTag += "display:flex;";
                    inTag += "flex-direction:column;";
                    inTag += "justify-content:center;";
                    inTag += "align-items:center;";
                    inTag += "word-break:break-all;";
                    inTag += tag;

                    return "<div style='" + inTag + "'>" + val + "</div>";
                },

                // 그리드 내용 오른쪽 정렬
                setDivRight: function(val, tag){
                    let inTag = "height:100%;";
                    inTag += "display:flex;";
                    inTag += "flex-direction:column;";
                    inTag += "justify-content:center;";
                    inTag += "align-items:center;";
                    inTag += "margin-right: 4px; float: right;";           
                    inTag += tag;

                    return "<div style='" + inTag + "'>" + val + "</div>";
                },


                // 정산 상세화면 - 세부내역 grid 
                getCalculateListDetail() {
                    let url = '/api/hc_calculate/getCalculateDtList_hc';
                    let _this = this;
                    // let msg = '';
                    let param = {};
                    
                    param.p_type = '1';
                    param.sys_id = 'HC';
                    param.fs_no = _this.sendDataDetail.fs_no;

                    axiosCall('get',url, param, function(res){
                        if(res.data.length != 0){
                            _this.calculateDtlList = res.data;
                            _this.drawTable();
                        }else{
                            _this.calculateDtlList = [];
                            _this.drawTable();
                            // console.log("데이터가 존재하지 않습니다.");
                        }
                    });
                },


                // jqxgrid 생성 및 bind
                drawTable() {
                    let _this = this;
                    var hiddenCol = _this.userTpCd == '01' ? true : false;

                    // 정산대상 컨설팅 목록
                    var calculateSource = {  
                        datatype: "json", // json 형태의 데이터를 셋팅할 것이고. // array

                        datafields: [     // 각필의 이름과 타입은 datafields에 마찬가지로 json 형태이다.
                        { name: 'sys_id', type: 'string' },              // 시스템id
                        { name: 'fs_no', type: 'string' },               // 컨설팅 번호
                        { name: 'fs_seq', type: 'string' },              // 컨설팅 번호 순번

                        { name: 'est_seq', type: 'string' },             // 견적단가 seq
                        { name: 'est_tp_cd', type: 'string' },           // 견적금액 구분
                        { name: 'est_tp_nm', type: 'string' },           // 견적금액 구분명 (선금, 중도금, 잔금)

                        { name: 'cst_id', type: 'string' },              // 고객사id
                        { name: 'cst_nm', type: 'string' },              // 고객사명

                        { name: 'prod_nm', type: 'string' },             // 제품명 -> 상품명
                        { name: 'prod_nm2', type: 'string' },            // 식품유형

                        { name: 'cst_mng_id', type: 'string' },          // 고객담당자
                        
                        { name: 'cst_mng_nm', type: 'string' },          // 고객담당자명
                        { name: 'cst_mng_mobile', type: 'string' },      // 담당자연락처

                        { name: 'bill_cst_id', type: 'string' },         // 정산거래처 :  신청시 등록시 넣는다.
                        { name: 'bill_cst_nm', type: 'string' },         // 정산거래처명
                        { name: 'receive_date', type: 'string' },        // 접수일자

                        { name: 'tax_bill_id', type: 'string' },         // 정산담당자
                        { name: 'tax_bill_nm', type: 'string' },         // 정산담당자명
                        { name: 'tax_bill_email', type: 'string' },      // 정산담당자이메일

                        { name: 'tax_bill_tp_cd', type: 'string' },      // 세금계산서 발행구분
                        { name: 'tax_bill_tp_nm', type: 'string' },      // 세금계산서 발행구분명

                        { name: 'fs_mng_id', type: 'string' },           // 세스코담당자
                        { name: 'fs_mng_nm', type: 'string' },           // 세스코담당자명

                        { name: 'mdfr_dt', type: 'date' },               // 수정일시

                        { name: 'fs_bill_yn', type: 'string' },          // 세금계산서 발행구분
                        { name: 'fs_bill_no', type: 'string' },          // 견적서번호

                        { name: 'est_amt', type: 'int' },                // 견적금액
                        { name: 'vat_amt', type: 'int' },                // 견적금액
                        { name: 'est_samt', type: 'int' },               // 견적금액합

                        { name: 'tax_bill_make_date', type: 'date', format: 'd' },   // 정산내역 생성일자 : [발행요청]시 - GETDATE()로 입력됨.
                        { name: 'tax_bill_date', type: 'date', format:'d' },         // 세금계산서 발행일자 : [발행]시 - 화면에서 선택한 날짜를 param으로 전달  
                        { name: 'tax_bill_no', type: 'string' },                     // 세금계산서번호
                        
                        { name: 'p_type', type: 'string' },

                        { name: 'cst_mng_email', type: 'string' },      // 고객담당자 이메일          
                        { name: 'fs_mng_email', type: 'string' },       // 세스코담당자 이메일       
                        { name: 'mail_item', type: 'string' }           // 
                        ],  

                        localdata: _this.calculateDtlList, // 위에서 셋팅해놓은 data를 localdata에 담아준다.
                    };

                    var dataAdapter = new $.jqx.dataAdapter(calculateSource);  

                    $("#calculateGrid").jqxGrid('clearselection'); 

                    $("#calculateGrid").jqxGrid({  
                        width: '100%',
                        autoheight: true,    //높이설정(자동) //* 변경
                        source: dataAdapter, //위에서 만든 dataAdapter
                        sortable: true,
                        filterable: true,
                        pageable: true,
                        pagermode: 'simple',
                        selectionmode:'checkbox',      
                        editable: true,     
                        pagesize			:   10,
                        pagerbuttonscount	:   10,
                        columnsheight       :   60,
                        rowsheight          :   60,
                        

                        columns: [                  // 각 컬럼값들의 대한 설정이다.
                            {
                                text: 'No', sortable: false, filterable: false, editable: false,width: hiddenCol ? '50' : '30',
                                groupable: false, draggable: false, resizable: false, datafield: '', columntype: 'number', align:'center',
                                cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter((value + 1));
                                },
                            },
                            { text: '컨설팅번호', datafield: 'fs_no', cellsalign:'center', align:'center', resizable: false, editable: false}, // 컨설팅번호   

                            { text: '구분', datafield: 'est_tp_nm', cellsalign:'center', align:'center', resizable: false, editable: false, width : hiddenCol ? '130' : '80' },
                            { text: '서비스금액', datafield: 'est_amt', cellsalign:'center', align:'center', resizable: false, editable: false, width : hiddenCol ? '130' : '100' 
                                //금액 오른쪽 정렬
                                , cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                return _this.setDivRight(
                                   value.toLocaleString('ko-KR'), 'text-align: right;');
                                }
                            },
                            { text: '부가세금액', datafield: 'vat_amt', cellsalign:'center', align:'center', resizable: false, editable: false, width : hiddenCol ? '130' : '100' 
                                //금액 오른쪽 정렬
                                , cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                return _this.setDivRight(
                                   value.toLocaleString('ko-KR'), 'text-align: right;');
                                }
                            },
                            { text: '세금계산서 담당자', datafield: 'tax_bill_nm', cellsalign:'center', align:'center', resizable: false, editable: false, width: hiddenCol ? '200' : '120' },
                            { text: '세금계산서 발행 이메일', datafield: 'tax_bill_email', cellsalign:'center', align:'center', resizable: false, editable: false, width: hiddenCol ? '200' : '150' },

                            { text: '세금계산서 발행구분', datafield: 'tax_bill_tp_nm', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true },
                            { text: '세금계산서 발행구분 코드', datafield: 'tax_bill_tp_cd', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true},  //hidden 

                            
                            // 입금확인 데이터 컬럼이 존재하지 않아, 확실하지 않지만 [세금계산서 발행구분(정산확인)] 컬럼으로 데이터필드 채움
                            // { text: '입금확인', datafield: 'fs_bill_yn', cellsalign:'center', align:'center', resizable: true, editable: false }
                            { text: '발행구분', datafield: 'fs_bill_yn', cellsalign:'center', align:'center', resizable: false, editable: false, width: hiddenCol ? '160' : '100'
                                , cellsrenderer: function (row, column, value) {
                                        if(value == null || value =="" ) {
                                            return _this.setDivCenter(("미발행"));
                                        }else if(value == "N"){
                                            return _this.setDivCenter(("발행요청"));
                                        }else if(value == "Y"){
                                            return _this.setDivCenter(("발행완료"));
                                        }
                                    }
                            },

                            // [발행요청]시 서비스견적서가 발행되고 그 때의 GETDATE()로 저장.
                            { text: '납입일자', datafield: 'tax_bill_make_date', cellsalign:'center', align:'center', resizable: false, editable: false, cellsformat: 'yyyy-MM-dd', width : '100', hidden:hiddenCol },
                            { text: '청구(서비스견적서)번호', datafield: 'fs_bill_no', cellsalign:'center', align:'center', resizable: false, editable: false, width : '140', hidden:hiddenCol },

                            // hidden 처리 
                            { text: '정산거래처', datafield: 'bill_cst_id', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true },
                            { text: '정산담당자', datafield: 'tax_bill_id', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true },
                            { text: '컨설팅번호순번', datafield: 'fs_seq', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true },
                            { text: '견적단가 seq', datafield: 'est_seq', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true }, 
                            { text: '견적금액 구분', datafield: 'est_tp_cd', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true }, 
                            { text: '견적금액 합', datafield: 'est_samt', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true },

                            { text: '주문서 생성일자', datafield: 'tax_bill_date', columntype: 'datetimeinput', cellsalign:'center', align:'center', resizable: false, editable: true, cellsformat: 'yyyy-MM-dd', width : '100', hidden:hiddenCol
                                ,validation: function (cell, value) {


                                    // 현재일 : currnetDate
                                    let currnetDateObject = new Date();
                                    let currnetDate = currnetDateObject;
                                    // let current = currnetDateObject.toLocaleDateString();

                                    let currentYear =currnetDateObject.getFullYear().toString();
                                    let currentMonth = currnetDateObject.getMonth() + 1;
                                        if(currentMonth.toString().length == 1){
                                            currentMonth = '0'+currentMonth.toString();
                                        }
                                    let currnetDay = currnetDateObject.getDate().toString();
                                        if(currnetDay.length == 1){
                                            currnetDay = '0'+currnetDay;
                                        }
                                    let currentSum = currentYear + currentMonth + currnetDay;
                                    // console.log("currentSum : ", currentSum);



                                    // 현재일보다 30일 이후의 날짜로는 선택불가 : validDate
                                    let validDate = new Date();
                                    validDate.setDate(currnetDateObject.getDate() + 30);
                                    let validYear = validDate.getFullYear().toString();
                                    let validMonth = validDate.getMonth() + 1 ;
                                        if(validMonth.toString().length == 1){
                                            validMonth = '0'+validMonth.toString();
                                        }
                                    let validDay = validDate.getDate().toString();
                                        if(validDay.length == 1){
                                            validDay = '0'+validDay;
                                        }
                                    let validSum = validYear + validMonth + validDay;
                                    // console.log("validSum : ",validSum);

                                    

                                    // 선택한 날짜
                                    // let checkedValue = value.toLocaleDateString();
                                    let checkedYear = value.getFullYear().toString();
                                    let checkedMonth = value.getMonth() + 1; 
                                        if(checkedMonth.toString().length == 1){
                                            checkedMonth = '0'+checkedMonth.toString();
                                        }
                                    let checkedDate = value.getDate().toString();
                                        if(checkedDate.length == 1){
                                            checkedDate = '0'+checkedDate;
                                        }

                                    let checkedValueSum = checkedYear + checkedMonth + checkedDate;
                                    // console.log("checkedValueSum" , checkedValueSum);



                                    //선택한 날짜가 현재일보다 과거일 수는 없다.  : 선택일자 < 현재일자 -> return 
                                    if(checkedValueSum < currentSum){
                                        return { result: false, message: "과거일자로는 생성 불가능합니다." };      

                                    //선택한 날짜가 현재일보다 30일 이후일 수는 없다. : 선택일자 > 현재일+30일 -> return 
                                    }else if(checkedValueSum > validSum){
                                        return { result: false, message: "30일 초과시 생성 불가능합니다." };
                                    }else{
                                        return true;
                                    }

                                },
                                initeditor: function (row, cellvalue, editor) {
                                    var date = new Date();
                                    editor.jqxDateTimeInput('setDate', date);
                                },
                            },
                            { text: '주문서 번호', datafield: 'tax_bill_no', cellsalign:'center', align:'center', resizable: false, editable: false , width : '120', hidden:hiddenCol},
                            { text: '세스코담당자 ID', datafield: 'fs_mng_id', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true },
                            { text: '세스코담당자명', datafield: 'fs_mng_nm', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true },
                            { text: '고객사담당자명', datafield: 'cst_mng_nm', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true },
                            { text: '고객담당자 이메일', datafield: 'cst_mng_email', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true },
                            { text: '세스코담당자 이메일', datafield: 'fs_mng_email', cellsalign:'center', align:'center', resizable: false, editable: false, hidden:true }
                        ]
                    });
                    // 체크박스 전체 해제
                    $("#calculateGrid").jqxGrid('unselectallrows');
                },  // drawTable() 끝


                // 목록 페이지 이동
                movePage(){ 
                    let _this = this;
                    let url = '/calculate/settlementList'
                    window.location = url;
                },

                // 발행 요청 : 미발행 상태에서만 처리 가능 / 버튼 클릭시 : 미발행 -> 발행요청 
                rq_publish(type){
                    let _this = this;
                    let disableCount = 0;
                    let disableAmount = 0;
                    let completeCount = 0;
                    let indexArr = $("#calculateGrid").jqxGrid('getselectedrowindexes'); // [0,1,2,...]
                    let count = indexArr.length;
                    let notInput = 0;

                    // 고객(01), 운영자(02), 관리자(03)
                    // 발행, 발행요청은 고객만 가능
                    // if(_this.userTpCd != '01'){ //고객이 아니면 사용불가능
                    //     cmmAlert('고객사만 발행요청이 가능합니다.');
                    //     return false;
                    // }


                    if(count == 0){
                        cmmAlert('발행하실 내역을 선택해주세요.');
                        return false;                        
                    }else{
                        let arrCalList = [];
                        $.each(indexArr, function(i, val) {
                            var obj = $('#calculateGrid').jqxGrid('getrowdata', val);

                            if(obj.est_amt == 0){   //금액이 0원일 때 -> return
                                disableAmount++;
                                return false;
                            }else if(obj.fs_bill_yn == 'N' || obj.fs_bill_yn == 'Y'){   //클릭한 ROW의 데이터가 [발행요청(N)] 또는 [발행완료(Y)] 상태일 때 -> return
                                disableCount++;
                                return false;
                            }else{
                                arrCalList.push(obj);
                            }

                            if(obj.tax_bill_date =='' || obj.tax_bill_date ==null){ //계산서 생성일자 값이 입력되지 않았을 때
                                notInput ++;
                                return false;
                            }

                        });

                        if (disableCount > 0) {
                            cmmAlert('미발행 건 만 발행요청이 가능합니다.');
                            return false;
                        }else if(disableAmount > 0){
                            cmmAlert('발행요청하실 금액을 <br>확인하여 주십시오.');
                            return false;
                        }

                        if(notInput > 0){
                            cmmAlert('계산서 생성일자를 입력해주세요.');
                            arrCalList = [];
                            return false;
                        }

                        if(type == 'test') {
                            cmmConfirm('발행하시겠습니까?', function() {
                                let url = '/api/hc_calculate/getCalculateDtList_hc/rqPublish2';
    
                                axiosCall('post', url, arrCalList, function(res){
                                    cmmAlert(res.data);
                                });
                            })

                        } else {

                        // 확인창 추가
                        cmmConfirm('발행하시겠습니까?', async ()=> {
                           
                            // 발행요청 총 Count = vue.totalCnt
                            vue.totalCnt = arrCalList.length;
                            vue.sucCnt = 0;  // 성공                      
                            vue.deCnt = 0;   // 실패 
                            let rqResult = '';
    
                            //메일 발송요청 건수 초기값 세팅 
                            vue.mailTotalCnt = arrCalList.length; 
                            vue.mailSucCnt = 0;
    
                            // 세스톡 발송요청 건수 초기값 세팅
                            vue.talkTotalCnt = arrCalList.length; 
                            vue.talkSucCnt = 0;
    
                            // console.log("1- 총 발송요청 건수 : " + vue.totalCnt);                        
                            
                            for (const [index, val] of arrCalList.entries()) {
                                let url = '/api/hc_calculate/getCalculateDtList_hc/rqPublish';
                                let param = {};
    
                                param.p_type         = '1';                     // 1. p_type
                                param.sys_id         = val.sys_id;              // 2. sysid 
                                param.rgstr_id       = _this.userId;            // 3. 등록자
                                param.bill_cst_id    = val.bill_cst_id;         // 4. 정산거래처
                                param.tax_bill_id    = val.tax_bill_id;         // 5. 정산담당자
                                param.tax_email      = val.tax_bill_email;      // 6. 정산담당자 이메일
                                param.tax_bill_tp_cd = val.tax_bill_tp_cd;      // 7. 세금계산서 발행구분 (미발행(01) / 발행요청(02) / 발행완료(03)) 
                                param.fs_no          = val.fs_no;               // 8. 컨설팅 번호
                                param.fs_seq         = val.fs_seq;              // 9. 컨설팅 번호 순번
                                param.est_seq        = val.est_seq;             // 10. 견적단가 SEQ
                                param.est_tp_cd      = val.est_tp_cd;           // 11. 견적금액 구분코드 (선금/중도금/잔금)
                                param.tax_bill_cnt   = count;                   // 12. 세금계산서 건수
                                param.est_amt        = val.est_amt              // 13. 견적금액 : 세부내역 각 row별 금액(ex. 선금 / 중도금 / 잔금)
                                param.ssmm           = val.est_tp_nm            // 견적금액 구분 (선금/중도금/잔금)
                                param.tax_bill_date  = val.tax_bill_date;       // 6. tax_bill_date 세금계산서발행일자 : 발행시 날짜 선택하여 전달
                                param.mail_item      = val.mail_item;           // 받는사람 메일 정보
                                param.cst_nm         = val.cst_nm;
                                param.prod_nm        = val.prod_nm;
    
                                //(1) 발행요청시 메일/세스톡 param 설정 / 발행요청시(메일, 세스톡) : 고객 -> 세스코 
                                vue.sendMailTalk.cst_mng_nm = val.cst_mng_nm;         // 고객사 담당자 성명
                                vue.sendMailTalk.cst_mng_id = val.cst_mng_id;         // 고객사 담당자 ID
                                vue.sendMailTalk.cst_mng_email = val.cst_mng_email;   // 고객사 담당자 EMAIL
                                vue.sendMailTalk.tax_bill_email = val.tax_bill_email; // 세금계산서 담당자 EMAIL
                                vue.sendMailTalk.ces_mng_email = val.fs_mng_email;    // 세스코 담당자 EMAIL 
                                vue.sendMailTalk.ces_mng_nm = val.fs_mng_nm;          // 세스코 담당자 성명
                                vue.sendMailTalk.ces_mng_id = val.fs_mng_id;          // 세스코 담당자 ID
                                // vue.sendMailTalk.est_tp_cd  = val.est_tp_cd;          
                                vue.sendMailTalk.ces_est_tp_nm = val.est_tp_nm    // 견적금액 구분 (선금/중도금/잔금)
    
                                // es6
                                var res = await axios.post(url, param);
                                vue.sucCnt = vue.sucCnt + Number(res.data); //성공할 때마다 count : res.data += 1
                                // console.log("1- 발송성공 건수 each : " + vue.sucCnt);
    
                                // 발행요청 성공했을 시 메일, 세스톡 발송 
                                // if(Number(res.data) == 1){
                                //     // < 메일 > : [ 발행요청/발행]시 메일발송
                                //     // await vue.sendMngrToCst(1);    
                                //     // await vue.sendMngrToCst(2);    
                                //     // < 세스톡 > : [발행요청]시 세스톡 발송
                                //     // await vue.sendAlarmMngr();  
                                // }else{
                                //     // cmmAlert('발행요청에 문제가 발생하였습니다.<br>담당자에게 문의하여 주시기 바랍니다.');
                                // }
    
                                // console.log("2 - 메일 전체 발송 건수 each : " + vue.mailTotalCnt);
                                // console.log("2 - 메일 발송 성공 건수 each : " + vue.mailSucCnt);
                                // console.log("2 - 세스톡 전체 발송 건수 each : " + vue.talkTotalCnt);
                                // console.log("2 - 세스톡 발송 성공 건수 each : " + vue.talkSucCnt);
    
    
                                // 마지막 each문일 때 해당 메시지 출력
                                if(arrCalList.length == (index + 1)){
    
                                    async function func(){
                                        // 결과값 alert
                                        // let alertMessage = `발행요청 : ${vue.totalCnt} 건 중 ${vue.sucCnt} 건 [발행요청]에 성공하였습니다.
                                        //                     \n메일 발송 : ${vue.mailTotalCnt} 건 중 ${vue.mailSucCnt} 건 [메일발송]에 성공하였습니다.
                                        //                     \n세스톡 발송 : ${vue.talkTotalCnt} 건 중 ${vue.talkSucCnt} 건 [세스톡 발송]에 성공하였습니다.
                                        //                     \n발행요청에 문제가 발생하였을시 담당자에게 문의하여 주시기 바랍니다.`;
    
                                        // let alertMessage = '';
                                         var failCnt = vue.totalCnt - vue.sucCnt;
    
                                        // 선택한 발행요청건과, 발행요청 성공 건의 수가 일치하였을 때
                                        // if(vue.totalCnt == vue.sucCnt){
                                        //     alertMessage = `"청구"세금계산서 <br>${vue.totalCnt}건 중 ${vue.sucCnt}건의 발행요청을 성공적으로 완료하였습니다.`;
                                        // }else{
                                        //     alertMessage = `"청구"세금계산서 <br>${vue.totalCnt}건 중 ${failCnt}건의 발행요청에 문제가 발생하였습니다.<br>담당자에게 문의하여 주시기 바랍니다.`;
                                        // }
    
                                        if(vue.totalCnt == vue.sucCnt){
                                            alertMessage = `"청구"주문서 <br>${vue.totalCnt}건 중 ${vue.sucCnt}건의 발행을 <br>성공적으로 완료하였습니다.`;
                                        }else{
                                            alertMessage = `"청구"주문서 <br>${vue.totalCnt}건 중 ${failCnt}건의 발행에 문제가 발생하였습니다.<br>IS운영실에 문의하여 주시기 바랍니다.`;
                                        }
    
    
                                        await cmmAlert(alertMessage);
                                        // 재조회
                                        await _this.getCalculateListDetail(); 
    
                                        // 재조회
                                        _this.getCalculateListDetail(); 
                                    }
                                    func();
                                }
                            } 
                        })
                        }
                    }
                },
                
                // 발행 : 발행요청 상태에서만 처리 가능 / 버튼 클릭시 : 발행요청 -> 발행완료
                // async publish(){
                //     let _this = this;

                //     //날짜 선택
                //     let checkDate = 0;  
                //     let disableCount = 0;
                //     let notInput = 0;
                //     let completeCount = 0;

                //     let indexArr = $("#calculateGrid").jqxGrid('getselectedrowindexes'); // [0,1,2,...]
                //     let count = indexArr.length;

                //     if(count == 0){
                //         cmmAlert('발행하실 내역을 선택해주세요.');
                //         return false;                        
                //     }else{

                //         let arrCalList = [];
                //         for (const [index, val] of indexArr.entries()) {

                //             var obj = $('#calculateGrid').jqxGrid('getrowdata', val);
                //             async function funcC(){
                //                 if(obj.tax_bill_date =='' || obj.tax_bill_date ==null){ //계산서 생성일자 값이 입력되지 않았을 때
                //                     notInput ++;
                //                     return false;
                //                 }else if(obj.fs_bill_yn != 'N'){ //클릭한 ROW의 데이터가 [발행요청] 상태가 아닐 때
                //                     disableCount++;   
                //                     return false;
                //                 }else{
                //                     arrCalList.push(obj);
                //                 }
                //             }
                //             await funcC();

                //             if(indexArr.length == (index + 1)){
                //                 if (disableCount > 0) {
                //                     cmmAlert('발행요청 건 만 발행 가능합니다.');
                //                     arrCalList = [];
                //                     return false;                            
                //                 }else if(notInput > 0){
                //                     cmmAlert('계산서 생성일자를 입력해주세요.');
                //                     arrCalList = [];
                //                     return false;
                //                 }
                //             }
                //         }
                //         // 발행 총 Count = vue.totalCnt
                //         vue.totalCnt = arrCalList.length;
                //         vue.sucCnt = 0;  // 성공                      
                //         let rqResult = '';

                //         //메일 발행 건수 초기값 세팅 
                //         vue.mailTotalCnt = arrCalList.length; 
                //         vue.mailSucCnt = 0;

                //         for (const [index, val] of arrCalList.entries()) {
                //             let url = '/api/hc_calculate/getCalculateDtList_hc/Publish';
                //             let msg = '';
                //             let param = {};

                //             if(val.tax_bill_date == '' || val.tax_bill_date == null){
                //                 cmmAlert('계산서 생성일자를 선택하여 주십시오.');
                //                 checkDate += 1;
                //                 return false;
                //             }
                //             param.p_type         = '1';                     // 1. p_type
                //             param.sys_id         = val.sys_id;              // 2. sysid 
                //             param.rgstr_id       = _this.userId;            // 3. 등록자
                //             param.fs_bill_no     = val.fs_bill_no;          // 4. 서비스견적서 번호
                //             param.fs_no          = val.fs_no;               // 5. 컨설팅 번호
                //             param.tax_bill_date  = val.tax_bill_date;       // 6. tax_bill_date 세금계산서발행일자 : 발행시 날짜 선택하여 전달
                //             param.est_amt        = val.est_amt;             // 7. 견적금액 : 세부내역 각 row별 금액(ex. 선금 / 중도금 / 잔금)
                //             param.ssmm           = val.est_tp_nm            // 견적금액 구분 (선금/중도금/잔금)

                //             vue.sendMailTalk.ces_mng_nm = val.fs_mng_nm     // 세스코 담당자 성명
                //             vue.sendMailTalk.ces_mng_id = val.fs_mng_id     // 세스코 담당자 id
                //             vue.sendMailTalk.cst_mng_nm = val.cst_mng_nm    // 고객사 담당자 성명
                //             vue.sendMailTalk.ces_est_tp_nm = val.est_tp_nm  // 견적금액 구분 (선금/중도금/잔금)
                            
                //             var res = await axios.put(url, param);
                //             vue.sucCnt += Number(res.data);

                //             // 발행 성공했을 시 메일, 세스톡 발송 // 발행시(메일) : 세스코 -> 고객 : 고객은 메일만 받음 
                //             if(Number(res.data) == 1){
                //                 // < 메일 > : [ 발행요청/발행]시 메일발송
                //                 await vue.sendMngrToCst(2);    
                //             }else{
                //                 cmmAlert('발행에 문제가 발생하였습니다.<br>담당자에게 문의하여 주시기 바랍니다.');
                //             }


                //             console.log("1");

                //             if(arrCalList.length == (index + 1)){
                //                 console.log("2");

                //                 function funcP(){
                //                     // let alertMessage = `발행 : ${vue.totalCnt}건 중 ${vue.sucCnt} 건 [발행]에 성공하였습니다.
                //                     //                     \n메일 발송 : ${vue.mailTotalCnt} 건 중 ${vue.mailSucCnt} 건 [메일발송]에 성공하였습니다.
                //                     //                     \n발행에 문제가 발생하였을시 IS운영실에 문의하여 주시기 바랍니다.`;
                //                     console.log("3");

                //                     var failCnt = vue.totalCnt - vue.sucCnt;
                //                     let alertMessage = ''
                //                     // 선택한 발행건과, 발행 성공 건의 수가 일치하였을 때
                //                     if(vue.totalCnt == vue.sucCnt){
                //                         alertMessage = `"청구"세금계산서 <br>${vue.totalCnt}건 중 ${vue.sucCnt}건의 발행을 <br>성공적으로 완료하였습니다.`;
                //                     }else{
                //                         alertMessage = `"청구"세금계산서 <br>${vue.totalCnt}건 중 ${failCnt}건의 발행에 문제가 발생하였습니다.<br>IS운영실에 문의하여 주시기 바랍니다.`;
                //                     }
                //                     console.log("4");

                //                     // 메일발송 COUNT 확인
                //                     cmmAlert(alertMessage);
                //                     // 재조회
                //                     // await _this.getCalculateListDetail(); 
                //                     console.log("5");

                //                     // 재조회
                //                     _this.getCalculateListDetail(); 
                //                     console.log("6");
                //                 }
                //                 await funcP();
                //             }
                //         }
                //     }
                // },

                // INIT TABLE 
                initDrawTables() {
                    this.drawTable();
                },

                // 발행요청 취소
                rq_cancle(){
                    let _this = this;
                    let indexArr = $("#calculateGrid").jqxGrid('getselectedrowindexes'); // [0,1,2,...]
                    let count = indexArr.length;
                    let disableCount = 0;

                    // 고객(01), 운영자(02), 관리자(03)
                    // 발행, 발행요청은 고객만 가능
                    // if(_this.userTpCd != '01'){ //고객이 아니면 사용불가능
                    //     cmmAlert('고객사만 발행요청 취소가 가능합니다.');
                    //     return false;
                    // }
                    if(count == 0){
                        cmmAlert('발행요청 취소하실 내역을 <br>선택해주세요.');
                        return false;                        
                    }else{

                        let arrCalList = [];
                        $.each(indexArr, function(i, val) {
                            var obj = $('#calculateGrid').jqxGrid('getrowdata', val);
                            // fs_bill_yn = null || fs_bill_yn = '' : 미발행
                            // fs_bill_yn = 'N' : 발행요청
                            // fs_bill_yn = 'Y' : 발행완료                             
                            if(obj.fs_bill_yn == 'Y') {     //클릭한 ROW의 데이터가 [발행요청] 상태일 때
                                arrCalList.push(obj);
                            }else{
                                disableCount ++;
                            }
                        });
                        if (disableCount > 0) {
                            cmmAlert('발행 건만 취소가 가능합니다.');
                            return false;
                        }

                        // 확인창 추가
                        cmmConfirm('발행취소하시겠습니까?', async ()=> {
                            vue.cancleTotal = arrCalList.length;
                            vue.cancleSucCnt = 0;
    
                            for (const [index, val] of arrCalList.entries()) {
                                let url = '/api/hc_calculate/getCalculateDtList_hc/rq_cancle';
                                let msg = '';
                                let param = {};
    
                                // param.sys_id         = val.sys_id;              // 1. sysid 
                                // param.fs_no          = val.fs_no;               // 2. 컨설팅 번호
                                // param.est_seq        = val.est_seq              // 3. 견적단가 seq
                                // param.fs_bill_no     = val.fs_bill_no           // 4. 청구(서비스견적서)번호
                                // param.rgstr_id       = _this.userId;            // 5. 등록자
    
                                var res = await axios.post(url, val);
                                vue.cancleSucCnt += Number(res.data);
    
                                if(arrCalList.length == (index + 1)){
                                    async function funcC(){
    
                                        // let alertMessage = `${vue.cancleTotal} 건 중 ${vue.cancleSucCnt} 건 발행취소 완료되었습니다. `;
    
                                        var failCnt = vue.totalCnt - vue.cancleSucCnt;
    
                                        // 선택한 발행요청취소 건과, 발행요청취소 건의 수가 일치하였을 때
                                        if(vue.cancleTotal == vue.cancleSucCnt){
                                            alertMessage = `"청구"주문서 <br>${vue.cancleTotal}건 중 ${vue.cancleSucCnt}건의 발행취소를 <br>성공적으로 완료하였습니다.`;
                                        }else{
                                            alertMessage = `"청구"주문서 <br>${vue.cancleTotal}건 중 ${failCnt}건의 발행취소에 문제가 발생하였습니다.<br>담당자에게 문의하여 주시기 바랍니다.`;
                                        }
    
                                        
    
                                        // 메일발송 COUNT 확인
                                        await cmmAlert(alertMessage);
                                        // 재조회
                                        await _this.getCalculateListDetail(); 
                                    }
                                    await funcC();
                                }
                            }
                        });
                    }
                }                
            }   // methods 끝
	    }); // vue 컴포넌트 끝
    }); // $(document).ready(function(){}끝
    
</script>

<style>
    .tableHeader {
        text-align: center;
        height: 50px;
        font-size: 16px;
        border-bottom: 1px solid #cfd1d4;
    }
    .tableData {
        text-align: center;
        height: 50px;
        font-size: 15px;
    }

</style>


</head>

<body>
    <section layout:fragment="content" id="app"  v-cloak>

        <div class="page-content">
            <div class="page-box">
                <div class="clear">
                    <h2 class="page-title fl">정산</h2>
                    <div class="fr">
                        <!-- 목록으로 : noticeDetails 참고-->
                        <button class="btn-main" @click="movePage()"><i></i>목록으로</button>
                    </div>          
                </div>
                <hr>

                <div class="mgt20" style="width:90%; margin:15px auto">
                    <table>
                        <colgroup style="background-color:#edeff2;" >
                            <col width="100%">
                            <col width="100%">
                            <col width="100%">
                            <col width="100%">
                            <col width="100%">
                            <col width="100%">
                            <col width="100%">
                        </colgroup>
                        <tbody >
                            <div>
                                <tr>
                                    <th class="tableHeader">상품명</th>
                                    <th class="tableHeader">식품유형</th>
                                    <th class="tableHeader">담당자명</th>
                                    <th class="tableHeader">연락처</th>
                                    <th class="tableHeader">최초접수일자</th>
                                    <th class="tableHeader">진행단계</th>
                                    <th class="tableHeader">세스코담당자</th>
                                </tr>

                                <tr>
                                    <td class="tableData">    <!--상품명-->
                                        {{ sendDataDetail.prod_nm }}
                                    </td>
                                    <td class="tableData">    <!--식품유형-->
                                        {{ sendDataDetail.prod_tp_nm }}
                                    </td>
                                    <td class="tableData">    <!--담당자명-->
                                        {{ sendDataDetail.cst_mng_nm }}
                                    </td>
                                    <td class="tableData">    <!--연락처-->
                                        {{ sendDataDetail.cst_mng_mobile }}
                                    </td>
                                    <td class="tableData">    <!--최초접수일자-->
                                        {{ sendDataDetail.receive_date }}
                                    </td>
                                    <td class="tableData">    <!--진행단계-->
                                        {{ sendDataDetail.fs_status_nm }}
                                    </td>
                                    <td class="tableData">    <!--세스코 담당자명-->
                                        {{ sendDataDetail.cst_cesco_mng_nm }}
                                    </td>
                                </tr>
                            </div>
                        </tbody>
                    </table>


                </div>                        
            </div>    

            <div class="page-box">
                <div class="clear">
                    <div class="fl"><h3 class="content-title">세부내역</h3></div>
                    <div class="fr">                    
                        <a href="javascript:void(0);" class="btn-save" @click="rq_publish" style="text-align: center;" v-if="userTpCd != '01'">주문서 등록</a>
                        <!-- <a href="javascript:void(0);" class="btn-save" @click="rq_publish('test')" style="text-align: center;">주문서 등록2</a> -->
                        <a href="javascript:void(0);" class="btn-save" @click="rq_cancle" style="text-align: center;" v-if="userTpCd != '01'">주문서 취소</a>
                        <!-- <a href="javascript:void(0);" class="btn-save" v-if = "userTpCd != '01'" @click="publish()" style="text-align: center;">발행</a> -->
                    </div>
                    <div id="calculateGrid"></div>
                </div>    
            </div>
        </div>        
    </section>
</body>
</html>