<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
 
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} %clr(${LOG_LEVEL_PATTERN:-%5p}) [%t] %clr(%-40.40logger{39}){cyan} | %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/trace/trace.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/trace/trace.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>60</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize><!-- kb, mb, gb -->
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error/error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error/error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>60</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize><!-- kb, mb, gb -->
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

	<logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.sqltiming" level="INFO"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="INFO"/>
    <logger name="jdbc.connection" level="OFF"/>
    
	<logger name="org.springframework.core" level="INFO" />
    <logger name="org.springframework.beans" level="INFO" />
    <logger name="org.springframework.context" level="INFO" />
    <logger name="org.springframework.web" level="INFO" />
    
    <springProfile name="default">
		<logger name="cesco.fsgrade.web.pc.config.GlobalExceptionHandler" level="ERROR">
			<appender-ref ref="ERROR" />
		</logger>
		<root level="INFO">
			<appender-ref ref="TRACE" />
	        <appender-ref ref="CONSOLE" />
	    </root>
	</springProfile>
	
	<springProfile name="dev">
		<logger name="cesco.fsgrade.web.pc.config.GlobalExceptionHandler" level="ERROR">
			<appender-ref ref="ERROR" />
		</logger>
		<root level="DEBUG">
			<appender-ref ref="TRACE" />
	        <appender-ref ref="CONSOLE" />
	    </root>
	</springProfile>
	
	<springProfile name="prod">
		<logger name="cesco.fsgrade.web.pc.config.GlobalExceptionHandler" level="ERROR">
			<appender-ref ref="ERROR" />
		</logger>
		<root level="INFO">
			<appender-ref ref="TRACE" />
	        <appender-ref ref="CONSOLE" />
	    </root>
	</springProfile>

</configuration>
