<!DOCTYPE html>
<html lang="ko">
<head>
<title>표시컨설팅</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet"  th:href="@{/css/import.css}" />
<script type="text/javascript" src="../../resources/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../resources/js/common.js"></script>
<!--custom scrollbar-->
<link rel="stylesheet" href="../../resources/plugin/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.css">
<script type="text/javascript" src="../../resources/plugin/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    $(function(){
        $(".mCustomScrollbar").mCustomScrollbar({
          scrollInertia: 200,
        });
    })
</script>
</head>
<body>
<div class="wrap">
	<div class="wrapInner">
		<header id="header" class="header">
            <div class="header-inner">
                <div class="header-main">
                    <h1 class="logo">
                        <a href="#"><span>표시컨설팅</span></a>
                    </h1>
                </div>
                <nav id="nav" class="header-nav">
                    <ul class="nav-1depth">
                        <li class="is-opened"><a href="#"><span class="txt">표시컨설팅</span></a></li>
                        <li><a href="#"><span class="txt">정산대상</span></a></li>
                        <li><a href="#"><span class="txt">서비스견적서</span></a></li>
                        <li><a href="#"><span class="txt">공지사항</span></a></li>
                    </ul>
                </nav>
                <div class="utility">
                    <div class="profile-layer" id="utilityProfile">
                        <ul class="profile-menu">
                            <li class="name">
                                <a href="#"><span>CJ제일제당</span><span>김고객</span></a>
                            </li>
                            <li class="logout">
                                <a href="#">로그아웃</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		</header>
		
		<div id="container" class="container">
			<div id="content" class="content">
                <!-- content -->
				<div class="page-content-vr">
                    <div class="vr-layout chat-board-wrap">
                        <div class="vr-top">
                            <div class="clear vr-title">
                                <h2 class="page-title fl">표시컨설팅</h2>
                                <div class="fr">
                                    <button class="btn-list"><i></i>목록</button>
                                </div>
                            </div>
                            <div class="board-info">
                                <dl>
                                    <dt><span class="tag-step">1차 검토중</span></dt>
                                    <dd>딜리조이_크런치치킨텐더</dd>
                                </dl>
                                <dl>
                                    <dt>식품유형</dt>
                                    <dd>양념육</dd>
                                </dl>
                                <dl>
                                    <dt>품목보고번호</dt>
                                    <dd>123456789</dd>
                                </dl>
                                <dl>
                                    <dt>중량</dt>
                                    <dd>1kg</dd>
                                </dl>
                                <dl>
                                    <dt>담당자명</dt>
                                    <dd>김담당</dd>
                                </dl>
                                <dl>
                                    <dt>연락처</dt>
                                    <dd>010-2222-2222</dd>
                                </dl>
                                <dl>
                                    <dt>최초접수일자</dt>
                                    <dd>22/02/18</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="vr-content">
                            <section class="vr-left">
                                <div class="mCustomScrollbar _mCS_1">
                                    <div class="state-wrap">
                                        <ul>
                                            <li>
                                                <i></i>
                                                <span class="date"></span>
                                                <span class="state">최종 검토</span>
                                            </li>
                                            <li>
                                                <i></i>
                                                <span class="date"></span>    
                                                <span class="state">3차 검토</span>
                                            </li>
                                            <li>
                                                <i></i>
                                                <span class="date"></span>
                                                <span class="state">2차 검토</span>
                                            </li>
                                            <li class="ing">
                                                <i></i>
                                                <span class="date">2022-01-04 11:00:14</span>
                                                <span class="state">1차 검토중</span>
                                            </li>
                                            <li class="complete">
                                                <i></i>
                                                <span class="date">2022-01-03 12:00:14</span>
                                                <span class="state">서류취합완료</span>
                                            </li>
                                            <li class="complete">
                                                <i></i>
                                                <span class="date">2022-01-02 10:00:17</span>
                                                <span class="state">컨설팅요청</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                            <section class="vr-center">
                                <div class="vr-center-box">
                                    <div class="vr-center-top">
                                        <div class="mCustomScrollbar _mCS_1">
                                            <div class="vr-main-content">
                                                <ul>
                                                    <li class="chat-list-item">
                                                        <div class="chat-list-box">
                                                            <div class="chat-info">
                                                                <span class="date">22/02/18 14:34:20</span>
                                                                <span>김담당</span>
                                                                <span>CJ제일제당</span>
                                                                <p>OOO 관련 자료가 추가 자료 첨부합니다.</p>
                                                            </div>
                                                            <div class="chat-file-list-all">
                                                                <ul class="chat-file-list">
                                                                    <li>
                                                                        <span>000 자료.pdf</span>
                                                                        <button class="btn-download">다운로드</button>
                                                                    </li>
                                                                </ul>
                                                                <button class="btn-round btn-all-save"><i class="ico-download"></i>모든 파일 저장</button>
                                                            </div>
                                                            <div class="pos-right">
                                                                <div class="btn-square-wrap btn-show">
                                                                    <button class="btn-square-multi"><i class="ico-set"></i>진행단계 설정</button>
                                                                    <button class="btn-square-multi"><i class="ico-reply"></i>답글달기</button>
                                                                </div>
                                                                <span class="tag-step">3차 검토중</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="chat-list-item reply">
                                                        <div class="chat-list-box">
                                                            <div class="chat-info">
                                                                <span class="date">22/02/18 14:34:20</span>
                                                                <span>김담당</span>
                                                                <span>CJ제일제당</span>
                                                                <p>OOO 관련 자료가 추가 자료 첨부합니다.</p>
                                                            </div>
                                                            <div class="chat-file-list-all">
                                                                <ul class="chat-file-list">
                                                                    <li>
                                                                        <span>000 자료.pdf</span>
                                                                        <button class="btn-download">다운로드</button>
                                                                    </li>
                                                                </ul>
                                                                <button class="btn-round btn-all-save"><i class="ico-download"></i>모든 파일 저장</button>
                                                            </div>
                                                            <div class="pos-right">
                                                                <div class="btn-square-wrap btn-show">
                                                                    <button class="btn-square-multi"><i class="ico-set"></i>진행단계 설정</button>
                                                                    <button class="btn-square-multi"><i class="ico-reply"></i>답글달기</button>
                                                                </div>
                                                                <span class="tag-step">3차 검토중</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vr-center-bottom">
                                        <div class="flex-auto-end chat-wrap">
                                            <div>
                                                <div class="chat-input-box">
                                                    <input type="text" class="chat-txt" placeholder="크런치치킨텐더에게 글쓰기">
                                                    <div class="chat-file-upload">
                                                        <input type="file" id="file_name" class="upload-hidden">
                                                        <label for="file_name">파일첨부하기</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="last">
                                                <select><option>1차검토중</option></select>
                                            </div>
                                        </div>
                                        <ul class="chat-file-list">
                                            <li>
                                                <span>000 자료.pdf</span>
                                                <button class="btn-del">삭제</button>
                                            </li>
                                            <li>
                                                <span>000 자료000 자료000 자료000 자료000 자료000 자료자료자료자료자료자료자료자료자료자료자료.pdf</span>
                                                <button class="btn-del">삭제</button>
                                            </li>
                                            <li>
                                                <span>000 자료.pdf</span>
                                                <button class="btn-del">삭제</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="vr-pop js-layer-pop" style="display:none;"><!--초기상태 display:none;-->
                                    <div class="pop-wrap">
                                        <h1 class="blind">파일 더보기</h1>
                                        <header class="pop-header">
                                            <div class="pop-header-title-wrap">
                                                <div class="chat-form-search-wrap">
                                                    <div>
                                                        <select class="select-top"><option>파일타입</option></select>
                                                        <select class="select-top"><option>등록자</option></select>
                                                        <select class="select-top"><option>관심파일</option></select>
                                                    </div>
                                                    <div>
                                                        <span class="num">전체<b>7</b></span>
                                                    </div>
                                                </div>
                                                <button class="btn-pop-close js-pop-close">닫기</button>
                                            </div>
                                        </header>
                                        <div class="pop-container">
                                            <div class="pop-common-box">
                                                <ul class="file-type-list">
                                                    <li>
                                                        <i><img src="../../resources/images/types/xlsx.png" alt="첨부파일"></i>
                                                        <div class="type-info">
                                                            <div>
                                                                <p><a href="">표시컨설팅_요구사항정의서_20220606.xlsx</a></p>
                                                                <span>홍길동</span>&nbsp;<span>CJ제일제당</span>&nbsp;<span>2022/06/08 22:00:10</span>
                                                            </div>
                                                        </div>
                                                        <div class="check-like-wrap">
                                                            <label class="check-like">
                                                                <input type="checkbox">
                                                                <span class="ico"></span>
                                                                <span class="txt">관심파일</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <i><img src="../../resources/images/types/pptx.png" alt="첨부파일"></i>
                                                        <div class="type-info">
                                                            <div>
                                                                <p><a href="">표시컨설팅_요구사항정의서_20220606.pptx</a></p>
                                                                <span>홍길동</span>&nbsp;<span>CJ제일제당</span>&nbsp;<span>2022/06/08 22:00:10</span>
                                                            </div>
                                                        </div>
                                                        <div class="check-like-wrap">
                                                            <label class="check-like">
                                                                <input type="checkbox">
                                                                <span class="ico"></span>
                                                                <span class="txt">관심파일</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="vr-right">
                                <div class="vr-right-wrap">
                                    <div class="vr-right-top">
                                        <div class="mCustomScrollbar _mCS_1">
                                            <div class="vr-title-wrap">
                                                <h4><i class="ico-file"></i>파일</h4>
                                                <button class="btn-more js-pop-open">더보기</button><!-- click시 팝업 open -->
                                            </div>
                                            <div class="vr-right-box">
                                                <div class="file-list-wrap">
                                                    <ul class="file-list">
                                                        <li><a href="">000 자료.pdf</a></li>
                                                        <li><a href="">20220824_자료.pptx</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vr-right-bottom">
                                        <div class="mCustomScrollbar _mCS_1">
                                            <div class="vr-title-wrap">
                                                <h4><i class="ico-user"></i>참여자</h4>
                                                <button class="btn-add">추가</button>
                                            </div>
                                            <div class="vr-right-box">
                                                <ul class="user-list">
                                                    <li>
                                                        <span class="name">김담당(담당자)</span>
                                                        <span>CJ제일제당</span>
                                                        <span><button class="btn-del">삭제</button></span>
                                                    </li>
                                                    <li>
                                                        <span class="name">세스코담당자</span>
                                                        <span>세스코</span>
                                                        <span><button class="btn-del">삭제</button></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
				</div>
				<!-- //content -->
			</div>
		</div>
	</div>
	
	<footer id="footer" class="footer">
		<div class="footer-inner">
			<div>
				(주)세스코 서울특별시 강동구 상일로 10길 46 세스코 터치센터(134-090)&nbsp;&nbsp;&nbsp;&nbsp;Tel : 1588-1119&nbsp;&nbsp;&nbsp;&nbsp;
				대표이사 : 사장 전찬혁&nbsp;&nbsp;&nbsp;&nbsp;사업자등록번호 : 212-81-05946<br>
				COPYRIGHT(C) BY CESCO CO., LTD. ALL RIGHTS RESERVED.
				<div class="footer-link-box">
				    <a href="">개인정보처리방침</a>
				    <a href="">서비스 이용약관</a>
				    <a href="">전자금융거래이용약관</a>
				</div>
			</div>
		</div>
	</footer>
</div>
</body>
</html>
