<!DOCTYPE html>
<html lang="ko">
<head>
<title>표시컨설팅</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="../../resources/css/import.css"/>
<script type="text/javascript" src="../../resources/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../resources/js/common.js"></script>
</head>
<body class="bg00">

<div class="layer-pop-wrap">
    <div class="layer-pop-box">
        <div class="pop-wrap">
            <h1 class="blind">협력사 구성 즐겨찾기 등록</h1>
            <header class="pop-header">
                <div class="pop-header-title-wrap">
                    <h3 class="pop-header-title">협력사 구성 즐겨찾기 등록</h3>
                    <button class="btn-pop-close js-pop-close" onclick="javascript:$('#viewPopDiv').hide();">닫기</button>
                </div>
            </header>
            <div class="pop-container">
                <div class="pop-common-box">
                    <input type="text" class="full" placeholder="즐겨찾기명을 입력하세요">
                </div>
            </div>
            <div class="pop-bottom">
                <div class="pop-btn-box">
                    <a href="javascript:void(0);" class="btn-pop-bottom js-pop-close" onclick="javascript:$('#viewPopDiv').hide();">취소</a>
                    <a href="javascript:void(0);" class="btn-pop-bottom">등록</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
