
<script type="text/javascript">

var hcCompleteVue
$(document).ready(function(){
	hcCompleteVue = new Vue({
		el: '#hcComplete',
		data: {
			eformLoc		:	'[[${eformLoc}]]',
			eformDir		:	'[[${eformDir}]]',
        	sendTypeList	: 	[],
            contentData     :   '',
            signData        :   '',
            paramsdata  : [],
            userTpCd : '[[${session.userTpCd}]]',
            userId : '[[${session.userId}]]',
            userNm : '[[${session.userNm}]]',
            sys_id : '',
            fs_no : '',
            fs_seq : '',
            email : '[[${session.email}]]',
            fileList:[],
            attachList:[],
            delAttachList: [],
            AtchTotalSize: 0,
            fileObj : [],
            loading : false,
            sendMailStt : '',
            loadingTxt : '로딩 중입니다. 잠시만 기다려주세요'
		},
        mounted: function (){
            $("#fileUpload").hide();
            $("#fileDel").hide();
            $("#reqUpdateToMng").hide();

            var _this = this;
        	_this.paramsdata = window.localStorage.getItem('consultGridRow');
            let url = '/api/hcConsulting/getComplete';
            let msg = '';

            axiosCall('get', url, JSON.parse(_this.paramsdata), function(res){
                    console.log(res.data)
                    _this.contentData = res.data[0];
                    _this.signData = res.data[1];
                    var form = document.createElement('form');
                        form.target = 'eformView';
                        form.method = 'POST';
                        form.style.display = 'none';
                        form.action = _this.eformLoc + '/eform_003001_hc.jsp';
                                 
                    var input0 = document.createElement('input');
                        input0.type = 'hidden';
                        input0.name = 'content0';
                        input0.value = '{\"content0\":' + JSON.stringify(_this.contentData) + '}';
                    form.appendChild(input0);
            
                    var input1 = document.createElement('input');
                        input1.type = 'hidden';
                        input1.name = 'content1';
                        input1.value = '{\"content1\":' + JSON.stringify(_this.signData) + '}';
                    form.appendChild(input1);
                
                    var fileNm = document.createElement('input');
                        fileNm.type = 'hidden';
                        fileNm.name = 'fileNm';
                        fileNm.value = _this.contentData[0].fs_no + '_' + _this.userId;
                        
                    var eformDir = document.createElement('input');
                        eformDir.type = 'hidden';
                        eformDir.name = 'eformDir';
                        eformDir.value = _this.eformDir;
                    
                    var completTpCd = document.createElement('input');
                        completTpCd.type = 'hidden';
                        completTpCd.name = 'completTpCd';
                        completTpCd.value = _this.contentData[0].con_complet_tp_cd;

                    var htmlUrl = document.createElement('input');
                        htmlUrl.type = 'hidden';
                        htmlUrl.name = 'htmlUrl';
                        htmlUrl.value = window.location.protocol + '//' + window.location.host +'/consulting/consult/hcComplete';

                    if(_this.contentData[0].fs_mng_id == _this.userId && _this.contentData[0].con_complet_tp_cd == "01"){
                        $("#fileUpload").show();
                        $("#fileDel").show();
                    }    
                    if(_this.contentData[0].con_complet_tp_cd != '01' && _this.contentData[0].con_complet_tp_cd != '05'){
                        $("#reqUpdateToMng").show();
                    }

                    form.appendChild(fileNm);
                    form.appendChild(eformDir);
                    form.appendChild(completTpCd);
                    form.appendChild(htmlUrl);
                    
                    document.body.appendChild(form);
                    form.submit();
                    
                    _this.getCompletAttach(_this.contentData[0].sys_id, _this.contentData[0].fs_no);

                    
                });

            },
		methods: {
            // getHcComplete : function(paramsdata){
            //     let url = '/api/hcConsulting/getComplete';
            //     let _this = this;
            //     let msg = '';

            //     axiosCall('get', url, paramsdata, function(res){
            //         if(res.data.length != 0){
            //             console.log(res.data)
            //             _this.contentData = res.data;
            //         }else{
            //             console.log("데이터가 존재하지 않습니다.");
            //         }
            //     }, msg);
            // },
            getCompletAttach : function(sysId, fsNo){
                console.log(fsNo)
                let _this = this;
                let url = '/api/hcConsulting/getCompletAttach';
                let param = {
                    sys_id : sysId
                    ,fs_no : fsNo
                    ,atch_kn_cd : 'F00006'
                }
                axiosCall('get', url, param, function(res){
                    if(res.data.length != 0){
                        _this.attachList = res.data;
                    }else{
                        console.log("data X")
                    }
                })
            },
            closePopup: function() {
                let _this = this;
                vue.getMainList()
                closeCmmPopup('hcComplete');      
            },
            reqUpdateToMng: function(){
                if(confirm("수정요청 하시겠습니까?")){
                    let _this = this;
                    let url = "/api/hcConsulting/setReqUpdate";
                    let param = {fs_no:_this.contentData[0].fs_no, user_id:_this.userId , sys_id:_this.contentData[0].sys_id}
                    axiosCall('post', url, param, function(res){
                            _this.sendReqModify();
                            cmmAlert("수정 요청 되었습니다.");  
                            _this.closePopup('hcComplete');              
                            })
                }else{
                    
                }
            },
            sendReqModify: function(){
                let _self = this;
                let url = "/api/hcConsulting/sendMail";
                let param = {receive_email:_self.contentData[0].fs_mng_email
                            , status: '2'
                            , send_nm:_self.userNm
                            , user_id:_self.userId
                            , cst_nm:'세스코'
                            , sys_id:_self.contentData[0].sys_id
                            , receive_nm:_self.contentData[0].fs_mng_nm }
                axiosCall('post', url,param,function(res){
                            console.log("메일")
                            console.log(res.data)
                        })
            },
            sendMngrToCst: function() {
                let _self = this;
                let url = "/api/hcConsulting/sendMail";
                let param = {receive_email:_self.email
                            , status: '3'
                            , send_nm:_self.userNm
                            , user_id:_self.userId
                            , cst_nm:'세스코'
                            , sys_id:_self.contentData[0].sys_id
                            , receive_nm:_self.contentData[0].cst_mng_nm }
                axiosCall('post', url,param,function(res){
                            console.log("메일")
                            console.log(res.data)
                        })
            },
            sendCstToMngr: function(type) {
                //type 1 : 확인완료, 2: 수정요청
                let _self = this;
                let url = "/api/hcConsulting/sendMail";
                let param = {receive_email:_self.email
                            , status: type
                            , send_nm:_self.userNm
                            , user_id:_self.userId
                            , cst_nm:_self.contentData[0].cst_nm
                            , sys_id:_self.contentData[0].sys_id
                            , receive_nm:_self.contentData[0].fs_mng_nm }
                axiosCall('post', url,param,function(res){
                            console.log("메일")
                            console.log(res.data)
                        })
            },
            sendAlarmMngr: function(type){
                //type 1 : 확인완료, 2: 수정요청
                let _self = this;
                let url = "/api/hcConsulting/setMsgAlarm";
                let param = {fs_mng_id: _self.contentData[0].fs_mng_id
                            , cst_mng_nm: _self.contentData[0].cst_mng_nm
                            , contents: type}
                axiosCall('post', url,param,function(res){
                            console.log("세스톡")
                            console.log(res.data)
                        })
            },
            fileUpload: function(e) {
                let _this = this;
                let fileArr = e.target.files;
                var maxSize = 5 * 1024 * 1024; 

                $.each(fileArr, function(idx, obj) {
                    // file size 제한
                    // if(obj.size > maxSize){
                    //     cmmAlert("첨부파일 사이즈는 5G 이내로 등록 가능합니다.");
                    //     e.target.value = '';
                    //     return false;
                    // }

                    // 화면에 보여주기 위한 용도
                    var file = {};
                    file.atch_nm = obj.name;
                    file.atch_size = obj.size;
                    file.org_file_nm = obj.name;
                    file.idx = _this.attachList.length;

                    _this.fileList.push(obj);
                    _this.attachList.push(file);
                });

                // input value 초기화
                e.target.value = '';

            },
            // 파일 삭제
            deleteFile: function(idx) {
                console.log("1")
                let _this = this;
                if(_this.contentData[0].fs_mng_id == _this.userId && _this.contentData[0].con_complet_tp_cd == "01"){
                    // 신규파일이 아닌 기존에 저장된 파일이라면 delAttachList에 넣어준다.
                    if(_this.attachList[idx].atch_seq != '' && _this.attachList[idx].atch_seq != undefined) {
                        _this.delAttachList.push(_this.attachList[idx]);
                    // 신규파일
                    } else {
                        var cnt = 0;
                        $.each(_this.attachList, function(i, v) {
                            cnt += (v.atch_seq == '' || v.atch_seq == undefined) ? 0 : 1;
                        })
                        _this.fileList.splice(idx - cnt, 1);
                    }
    
                    // 화면에 보여주기 위한 용도
                    _this.attachList.splice(idx, 1);
                }

            },
            setCompletInfo: function() {
                let url = '/api/hcConsulting/setAttachInfo';
                let _this = this;
                var formData = new FormData();

                // form data add
                formData.append("completInfo", new Blob([JSON.stringify(_this.contentData[0])], {type: "application/json"}));
                formData.append("delAttachList", new Blob([JSON.stringify(_this.delAttachList)], {type: "application/json"}));
                $.each(_this.fileList, function(i, v) {
                    formData.append('files', v);
                })

                // 로딩바 text변경
                _this.loading = true;
                _this.loadingTxt = '파일 업로드 중입니다. 5GB 이상인 경우 20분 정도 예상됩니다';

                // 완료확인서 첨부파일 저장
                axios.post(url,formData,{
                    headers:{
                        "Content-Type": "multipart/form-data",
                        'x-requested-with' : 'AJAX'
                    }
                }).then((res) => {
                    cmmAlert("저장되었습니다.");
                    _this.closePopup('hcComplete'); 
                }).catch((err) => {
                    cmmAlert(err.response.data.message)
                }).finally(()=>{
                    _this.loading = false;
                    _this.loadingTxt = '로딩 중입니다. 잠시만 기다려주세요'
                });

                // axiosCall('multi', url, formData, function() {	
                //     alert("저장되었습니다.");
                //     _this.closePopup('hcComplete');
			    // });
            },
            onDownload: function(filename) {
                if(filename != undefined && filename != '') {
                    debugger
                    location.href = '/api/filedownload/cons/' + filename;
                }
            },
            getCompletStt(){
                let _this = this;
                let param = _this.contentData[0];
                let url = '/api/hcConsulting/getCompletStt';
                console.log(param)
                axiosCall('get', url, param, function(res){
                    console.log(res.data.con_complet_tp_cd)
                    if(res.data.con_complet_tp_cd == "05"){
                        _this.sendMailList;
                    }
                });
            },
            sendMailList(){ // 맨션 안내메일 발송
                let _self = this;
                let url = "/api/hcConsulting/sendMailList";
                let signMembers = _self.signData
               
                let sendMailMembers = [];
                signMembers.forEach((el,index)=>{
                    console.log("signMembers.forEach",el.email)
                    _self.sendMailParam.receive_email   = "haijun82923@gmail.com";      // 받는 사람 메일 
                    _self.sendMailParam.receive_nm      = el.fs_chat_nm;                // 받는 사람 명
                    _self.sendMailParam.cst_nm          = el.cst_nm;            // 받는 사람 회사명
                    _self.sendMailParam.send_text       = "완료확인서";                  // 전송 내용
                    _self.sendMailParam.send_chat_st_nm = "작성완료";            // 진행 상태 명
                    _self.sendMailParam.prod_nm         = "완료확인서"; // 상품 명
                    _self.sendMailParam.send_tp_cd      = "11";
                    sendMailMembers.push(_self.sendMailParam)
                })
                axiosCall('post', url,sendMailMembers,res =>{
                    _self.getMainList()
                })
                
            },
            
        }     
	});

    
});
$(window).off('message')
$(window).on('message', function (e) {
    var json = e.originalEvent.data.resultJson;
    var result = json.errorCode;
    if(hcCompleteVue.contentData[0].con_complet_tp_cd != '05'){
        
        var sign_image = ''; 
        var i = 0
        for(i ; i < json.values.clipsign1.data.length; i++){
            if(json.values.clipsign1.data[i] != ''){
                sign_image = json.values.clipsign1.data[i]
            }
        }
        console.log(hcCompleteVue.contentData[0].fs_mng_id)
        console.log(hcCompleteVue.userId);
        var inputJson = {};
        if(hcCompleteVue.contentData[0].fs_mng_id == hcCompleteVue.userId && hcCompleteVue.contentData[0].con_complet_tp_cd == '01'){
            var inputJson ={
                sys_id : hcCompleteVue.contentData[0].sys_id,
                fs_no : hcCompleteVue.contentData[0].fs_no,
                fs_seq : hcCompleteVue.contentData[0].fs_seq,
                con_start_date : hcCompleteVue.contentData[0].con_start_date,
                con_end_date : json.values.Calendar1.data[0],
                con_text11 : json.values.Inputbox1.data[0],
                con_text12 : json.values.Inputbox14.data[0],
                con_text21 : json.values.Inputbox2.data[0],
                con_text22 : json.values.Inputbox8.data[0],
                con_text31 : json.values.Inputbox3.data[0],
                con_text32 : json.values.Inputbox9.data[0],
                con_text41 : json.values.Inputbox4.data[0],
                con_text42 : json.values.Inputbox10.data[0],
                con_text51 : json.values.Inputbox5.data[0],
                con_text52 : json.values.Inputbox11.data[0],
                con_text61 : json.values.Calendar3.data[0],
                con_text62 : json.values.Inputbox12.data[0],
                con_text71 : json.values.Inputbox7.data[0],
                con_text72 : json.values.Inputbox13.data[0],
                con_complet_date : '', //con_end_date랑 같음
                con_complet_tp_cd : hcCompleteVue.contentData[0].con_complet_tp_cd,
                fs_mng_id : hcCompleteVue.contentData[0].fs_mng_id,
                rgstr_id : hcCompleteVue.userId,
                mdfr_id : hcCompleteVue.userId,
                sign_image : sign_image
            }
        }else{
            var inputJson ={    
                sys_id : hcCompleteVue.contentData[0].sys_id,
                fs_no : hcCompleteVue.contentData[0].fs_no,
                fs_seq : hcCompleteVue.contentData[0].fs_seq,
                con_start_date : hcCompleteVue.contentData[0].con_start_date,
                con_end_date : hcCompleteVue.contentData[0].con_end_date,
                con_text11 : hcCompleteVue.contentData[0].con_text11,
                con_text12 : hcCompleteVue.contentData[0].con_text12,
                con_text21 : hcCompleteVue.contentData[0].con_text21,
                con_text22 : hcCompleteVue.contentData[0].con_text22,
                con_text31 : hcCompleteVue.contentData[0].con_text31,
                con_text32 : hcCompleteVue.contentData[0].con_text32,
                con_text41 : hcCompleteVue.contentData[0].con_text41,
                con_text42 : hcCompleteVue.contentData[0].con_text42,
                con_text51 : hcCompleteVue.contentData[0].con_text51,
                con_text52 : hcCompleteVue.contentData[0].con_text52,
                con_text61 : hcCompleteVue.contentData[0].con_text61,
                con_text62 : hcCompleteVue.contentData[0].con_text62,
                con_text71 : hcCompleteVue.contentData[0].con_text71,
                con_text72 : hcCompleteVue.contentData[0].con_text72,
                con_complet_tp_cd : hcCompleteVue.contentData[0].con_complet_tp_cd,
                fs_mng_id : hcCompleteVue.contentData[0].fs_mng_id,
                mdfr_id : hcCompleteVue.userId,
                user_id : hcCompleteVue.userId,
                sign_image : sign_image
            }
        }
        var saveData = {};
        var addData  = [];
        var error    = '';
        var loginID	 =	hcCompleteVue.userId;

        //var value = JSON.stringify(json.values);
        
        var isPass   = false;

        json.userId = loginID;
        console.log(inputJson)
        if (result == 0) {

            let url = '/api/hcConsulting/setComplete';
            
                // axiosCall('post',url, inputJson, function (res) {
                //     console.log("res" + res);
                //     if (res.data.body != 0) {
                //         hcCompleteVue.setCompletInfo();
                //         var filter = "win16|win32|win64|mac|macintel";
                //         if (navigator.platform) {
                //             if (filter.indexOf(navigator.platform.toLowerCase()) < 0) {
                //                 opener.hcCompleteVue
                //             }
                //         }
                //     }
                    
                // });

                // 로딩바 show
                hcCompleteVue.loading = true;

                axios.post(url, inputJson,{
                    headers:{			
                        'Content-Type': 'application/json',
                        'x-requested-with' : 'AJAX'
                    },
                }).then((res) => {
                    console.log("res" + res);
                    if (res.data.body != 0) {
                        hcCompleteVue.setCompletInfo();
                        hcCompleteVue.getCompletStt();
                        var filter = "win16|win32|win64|mac|macintel";
                        if (navigator.platform) {
                            if (filter.indexOf(navigator.platform.toLowerCase()) < 0) {
                                opener.hcCompleteVue
                            }
                        }
                    } else {
                        hcCompleteVue.loading = false;
                    }
                    
                }).catch((err) => {
                    hcCompleteVue.loading = false;
                    cmmAlert(err.response.data.message);
                });
                
                //pdf정보 업로드
            
            }
    }else if (result == 1) {
        alert('리포트 정보가 없습니다.');
        return false;
    }else if (result == 2) {
        alert('리포트 서버 설치가 안되어있습니다.');
        return false;
    }else if (result == 3) {
        alert('결과물(document) 파일을 찾지 못하였습니다.');
        return false;
    }else if (result == 4) {
        alert('PDF 파일 생성시 오류가 발생하였습니다.');
        return false;
    }else if (result == 5) {
        alert('리포트 페이지가 존재하지 않습니다.');
        return false;
    }
});
</script>

<section layout:fragment="content" id="hcComplete" v-cloak>
    <div class="layer-pop-wrap">
        <div class="layer-pop-box large">
            <div class="pop-wrap">
                <h1 class="blind">HACCP 완료확인서</h1>
                <header class="pop-header">
                    <div class="pop-header-title-wrap">
                        <h3 class="pop-header-title">HACCP 완료확인서</h3>
                        <button class="btn-pop-close js-pop-close" @click="closePopup">닫기</button>
                    </div>
                </header>
                <div class="pop-container" style="overflow: hidden;">
                    <div class="pop-common-box" style="height:calc(100% - 50px);margin:0;">
                        <button type="button" class="btn-save fr" id="reqUpdateToMng" @click="reqUpdateToMng" style="position:absolute;top:15px;right:30px;">수정요청</button>
                        <div class="service-detailed" style="height:100%;margin-top:50px;">
                            <div class="e-form-box" style="height:70%">
                                <div class="e-form-content" style="height:100%">
                                    <iframe name="eformView" style="width: 100%; height: 100%;"></iframe>
                                </div>
                            </div>
                            <div style="height:calc(30% - 30px);">
                                <div class="file-upload-wrap" id="fileUpload">
                                    <H3>파일첨부</H3>
                                    <div class="file-upload">
                                        <input type="file" id="file_name" name="file_name" class="upload-hidden" @change="fileUpload">
                                        <label for="file_name"><i></i>파일 찾아보기</label>
                                    </div>
                                </div>
                                <div class="mgt10">
                                    <table class="tb-list-mini">
                                        <thead>
                                            <tr>
                                                <th>파일명</th>
                                                <th>파일크기</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, idx) in attachList">
                                                <td><a href="#" @click="onDownload(item.ser_file_nm)" class="a-link-file">{{item.atch_nm}}</a></td>
                                                <td class="txt-r" v-text="(item.atch_size/Math.pow(1024,2)).toFixed(2)+'MB'"></td>
                                                <td class="txt-c"><a href="#" class="btn-del-mini" @click="deleteFile(idx)" id="fileDel">삭제</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layer-pop-wrap" v-show="loading">
        <div class="spinnerWrap">
            <img class="spinner" th:src="@{/images/common/img_loading01.png}"/>
            <p class="typing-txt">{{loadingTxt}}</p>
        </div>
    </div>
</section>

