<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />

<script th:inline="javascript" type="text/javascript">
var vue
$(document).ready(function(){
	vue = new Vue({
		el: '#app',
		data: {
            searchComboCes          : [],       //조회 세스코 담당자
            searchComboStep         : [],       //조회 진행 단계 : FS020
            searchComboCus          : [],       //조회 고객사
            searchComboFType        : [],       //조회 식품 유형 : FS018
            searchComboProdype      : [],       //조회 상품명 : FS017
            searchComboMngr         : [],       //조회 담당자
            searchComboDept         : [],       //조회 지역본부
            sendData:{},
            consultingList:{},
            userTpCd: [[${session.userTpCd}]],
            userId : [[${session.userId}]],
            srchParam : {
                p_type             : '2',               //조회구분
                sys_id             : 'HC',              //시스템구분
                cst_id             : '',                //고객사코드
                rgstr_id           : [[${session.userId}]],   //입력자
                food_type          : '',                //식품유형
                product_name       : '',                //제품명
                cst_mng_id         : '',                //담당자
                fs_mng_id          : '',                //세스코담당자
                start_date         : '',                //일자
                end_date           : '',                //일자
                fs_status_cd       : '',                //상태
                dept_cd            : '',                //지역본부
                md_day             : '',                //계약MD
                mw_day             : ''                 //수행MD                 
            },
            searchFileOpt:{                                 // 파일 조회 파라미터
                sys_id: 'HC',
                fs_no:'',
                fs_seq:'',
                atch_nm:'',
                p_type:'1',
                d_type:'01',
                fs_chat_yn:'N',
                fs_chat_yn_pre:'Y',
                fs_chat_seq:'',
                fs_file_type:'',
                fs_chat_id:'',
                fs_chat_nm:'',
                md_status_cd:'01',
                fs_interest_yn:'',
            },
            eformLoc		:	[[${eformLoc}]], //완료확인서.crfe
			eformDir		:	[[${eformDir}]], //완료확인서.crfe
            gridMaxCnt      :   2,               // 그리드 내용 최대수
            memberList      : []                 // 참여 멥버 리스트
		},
        mounted: function (){
                var _this = this;
                // $( "#opener" ).click();
                if (_this.userTpCd == '01') {// 고객로그인시 
                    _this.srchParam.cmbType = '01' ; 
                }else {
                    _this.srchParam.cmbType = '02' ;
                }
                //일시
                $("#time02").click();  

                // 지역본부 목록
                _this.getDeptList();
                // 공통 코드 가져오기
                let param = [                
                    {sys_cd:'HC',   cmm_cd:'FS020', arr_nm:'searchComboStep',      comboType:'all'}, // 조회 진행 단계 : FS020
                    {sys_cd:'HC',   cmm_cd:'FS018', arr_nm:'searchComboFType',      comboType:'all'}, // 조회 식품 유형 : FS018
                    {sys_cd:'HC',   cmm_cd:'FS017', arr_nm:'searchComboProdype',    comboType:'all'}, // 조회 상품명 : FS017
                ];
                
                getCodeListForArrNm(param, _this);
                
                _this.getMainList();
            },
		methods: {
            getDeptList: function(){
                let _this = this;
                let p_type = '1';

                if(_this.userTpCd === '03'){
                    p_type = '2'
                }

                axiosCall('get', '/api/hcConsultMgt/deptList', {p_type:p_type}, (res)=> {
                    _this.searchComboDept = res.data;
                });                
            },
			getMainList : function() {
                let _this = this;
                axiosCall('get','/api/hcConsulting/getList', _this.srchParam,(res)=>{
                    _this.consultingList        = res.data;
                    _this.drawTable();
                    
                });
            },
            setPeriod: function(e,val) { // 기간 선택
                let _this = this;
                $('.but-tiem').removeClass('mini-btns-togger')
                e.target.setAttribute('class','but-tiem mini-btns-togger')
                var periodDate = getPeriod(val);
                _this.srchParam.start_date = periodDate.startDt;
                _this.srchParam.end_date = periodDate.endDt;
                _this.changeCombo();
            },
            changeCombo: function() {  // 일자변경시 콤보내역을 변경한다.
                let _this = this;

                let cus_type
                let ces_type
                let mngr_type
                if(_this.userTpCd == '03'){
                    cus_type = '06'
                    ces_type = '04'
                    mngr_type = '05'
                }else if(_this.userTpCd == '02'){
                    cus_type = '02'
                    ces_type = '02'
                    mngr_type = '01'
                }else{
                    cus_type = '01'
                    ces_type = '02'
                    mngr_type = '01'
                }

                let param = [
                    {cmm_cd:'cst', p_type:cus_type, 
                        p_parm4:_this.srchParam.start_date,p_parm5:_this.srchParam.end_date,
                        arr_nm:'searchComboCus', comboType:'all'}, //고객사 구분
                    {cmm_cd:'mng', p_type:mngr_type, 
                        p_parm4:_this.srchParam.start_date,p_parm5:_this.srchParam.end_date, 
                        arr_nm:'searchComboMngr', comboType:'all'}, // 담당자
                    {cmm_cd:'mng', p_type:ces_type, 
                        p_parm4:_this.srchParam.start_date,p_parm5:_this.srchParam.end_date, 
                        arr_nm:'searchComboCes', comboType:'all'}, // 세스코 담당자
                ];

                _this.srchParam.manager = '';
                _this.srchParam.customer = '';
                _this.srchParam.cesco_person_in_charge = '';

                getCodeListForArrNm(param, _this);
			},
            setDivCenter: function(val, tag){

                let inTag = "height:100%;";
                inTag += "display:flex;";
                inTag += "flex-direction:column;";
                inTag += "justify-content:center;";
                inTag += "align-items:center;";
                inTag += "word-break:break-all;";
                inTag += tag;

                return "<div style='" + inTag + "'>" + val + "</div>";
            },
            // 그리드 줄 높이
            setGridHeight: function(){
                $('#consultGrid').jqxGrid({ rowsheight: this.gridMaxCnt * 35});
            },
            getChatMemberList (item) {// 컨설팅 체팅 방 멤버 조회
                let url = '/api/consulting/consult/uspFsGetChatMemAddList';
                let _this = this;
                _this.searchFileOpt.fs_seq = item.fs_seq;
                _this.searchFileOpt.sys_id = item.sys_id;
                _this.searchFileOpt.fs_no = item.fs_no;

                axiosCall('get', url, _this.searchFileOpt,res=>{
                    _this.memberList = res.data;
                    _this.sendMailList(item)
                }, "");
            },
            setReqUpdateCompletTpCd(item){ // 완료 일지 상태 변경
                let _self = this;
                let url = '/api/hcConsulting/setReqUpdateCompletTpCd';
                axiosCall('put',url, item, res =>{
                    _self.getMainList()
                    _self.getChatMemberList(item)
                });
            },
            sendMailList(item){ // 맨션 안내메일 발송
                let _self = this;
                let url = "/api/hcConsulting/sendMailList";
                let cescoMembers = _self.memberList.filter((pre)=>pre.fs_chat_id != _self.userId && pre.fs_sign_yn == "Y")
                if (cescoMembers.length < 1) {
                    _self.getMainList()
                } else {
                    let sendMailCescoMembers = [];
                    cescoMembers.forEach((el,index)=>{
                        console.log("cescoMembers.forEach",el.email)
                        _self.sendMailParam.receive_email   = "haijun82923@gmail.com";      // 받는 사람 메일
                        _self.sendMailParam.receive_nm      = el.fs_chat_nm;                // 받는 사람 명
                        _self.sendMailParam.cst_nm          = el.fs_chat_cst_nm;            // 받는 사람 회사명
                        _self.sendMailParam.send_text       = "완료확인서";                  // 전송 내용
                        _self.sendMailParam.send_chat_st_nm = item.md_status_cd;            // 진행 상태 명
                        _self.sendMailParam.prod_nm         = item.md_day + "MD ->" + "완료확인서"; // 상품 명
                        _self.sendMailParam.rgstr_dt        = item.md_date;                 // 상품 등록 날짜
                        _self.sendMailParam.send_tp_cd      = "11";
                        sendMailCescoMembers.push(_self.sendMailParam)
                    })
                    axiosCall('post', url,sendMailCescoMembers,res =>{
                        _self.getMainList()
                    })
                }
            },
            // jqxgrid 생성 및 bind
            drawTable : function() {
                let _this = this;

                // 금일 완료 예정 컨설팅
                var consultSource = {  
                    datatype: "json", // json 형태의 데이터를 셋팅할 것이고. // array
                    datafields: [     // 각필의 이름과 타입은 datafields에 마찬가지로 json 형태이다.

                        { name: 'sys_id',           type: 'string'},        // 시스템 ID
                        { name: 'cst_nm',           type: 'string'},        // 고객사명
                        { name: 'fs_no',            type: 'string'},		// 컨설팅번호
                        { name: 'fs_seq',           type: 'string'},		// 컨설팅순번합계
                        { name: 'prod_cd',          type: 'string'},        // 상품코드
                        { name: 'prod_nm',          type: 'string'},        // 상품명  
                        { name: 'prod_tp_nm',       type: 'string'},		// 상품유형명 
                        { name: 'corp_nm',          type: 'string'},        // 참여자명
                        { name: 'corp_id',          type: 'string'},        // 참여자 id
                        { name: 'cst_mng_id',       type: 'string'},		// 고객담당자
                        { name: 'cst_mng_nm',       type: 'string'},        // 고객담당자명
                        { name: 'cst_mng_mobile',   type: 'string'},        // 담당자연락처
                        { name: 'bill_cst_id',      type: 'string'},	    // 정산거래처 :  신청시 등록시 넣는다.
                        { name: 'bill_cst_nm',      type: 'string'},        // 정산거래처명
                        { name: 'receive_date',     type: 'string'},	    // 접수일자
                        { name: 'tax_bill_id',      type: 'string'},        // 정산담당자
                        { name: 'tax_bill_nm',      type: 'string'},        // 정산담당자명
                        { name: 'tax_bill_email',   type: 'string'},        // 정산담당자이메일
                        { name: 'fs_bill_item',     type: 'string'},        // 세금계산서 발행여부/청구번호
                        { name: 'fs_bill_no',       type: 'string'},        // 청구번호
                        { name: 'fs_mng_id',        type: 'string'},		// 세스코담당자
                        { name: 'cst_cesco_mng_nm', type: 'string'},        // 세스코담당자명
                        { name: 'cseco_dept_cd',    type: 'string'},        // 지역본부코드
                        { name: 'cseco_dept_nm',    type: 'string'},        // 지역본부명
                        { name: 'md_day',           type: 'string'},        // 계약일수
                        { name: 'mw_day',           type: 'string'},        // 진행일수
                        { name: 'fs_status_cd',     type: 'string'},        // 진행상태
                        { name: 'fs_status_nm',     type: 'string'},        // 진행상태명
                        { name: 'mem_cnt',          type: 'string'},        // 참여자수
                        { name: 'est_amt',          type: 'number'},        // 견적금액
                        { name: 'bill_ar_amt',      type: 'number'},        // 납입금액(수금금액)
                        { name: 'bill_amt',         type: 'string'},        // 청구금액  
                        { name: 'bill_net_amt',     type: 'string'},        // 미청구금액  
                        { name: 'mdfr_dt',          type: 'string'},        // 수정일시 
                        { name: 'complt_yn',        type: 'string'},        // 완료여부
                        { name: 'cont_yn',          type: 'string'},        // 동의여부		    
                        { name: 'cont_no',          type: 'string'},        // 계약번호
                        { name: 'cont_id',          type: 'string'},        // 계약사원번호   
                        { name: 'cont_nm',          type: 'string'},        // 계약자명
                        { name: 'complet_tp_cd',    type: 'string'},        // 완료확인서 상태
                        { name: 'complet_stt',      type: 'string'},        // 완료확인서 상태 1:작성중, 2:확인요청, 3:완료
                        //{ name: 'cont_url',         type: 'string'},      // 계약서 url
                        { name: 'read_yn',          type: 'string'},        //관리자 확인여부
                        { name: 'sign_cnt',         type: 'string'},        // 싸인 수
                        { name: 'sign_mng_tp_cd',   type: 'string'}         // 진행 단계 구분 
                        
                    ],  
                    localdata: _this.consultingList, // 위에서 셋팅해놓은 data를 localdata에 담아준다.
                    pagenum: 0,
                    pagesize: 5,
                    pager: function (pagenum, pagesize, oldpagenum) {
                        // callback called when a page or page size is changed.
                    }
                };
                
                var consultDataAdapter = new $.jqx.dataAdapter(consultSource);  
                $('#consultGrid').jqxGrid('clearselection');

                if(this.userTpCd != "01"){ //고객이 아닐경우
                    $("#consultGrid").jqxGrid({  
                        width               : '100%',
                        autoheight          : true,
                        // autorowheight       : true,
                        source              : consultDataAdapter, //위에서 만든 dataAdapter
                        sortable            : true,
                        filterable          : true,
                        pageable            : true,
                        pagermode           : 'simple',
                        columnsheight       :   60,
                        rowsheight          :   110,
                        selectionmode       :'checkbox',
                        showrowlines        : false,
                        showcolumnlines     : false,
                        localization        : {emptydatastring:'해당 자료가 존재하지 않습니다.'},
                        columns: [                  // 각 컬럼값들의 대한 설정이다.
                            {
                                text: 'No', sortable: false, filterable: false, editable: false,width: '3.5%',
                                groupable: false, draggable: false, resizable: false,
                                datafield: '', columntype: 'number', align:'center',
                                cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter((value + 1));
                                }
                            },
                            { 
                                text: '고객사 / 컨설팅번호', datafield: 'fs_no', align:'center',width: '11%',cellsalign:'center',
                                    cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                        if(rowdata.read_yn === 'N'){
                                            return _this.setDivCenter('<span class="tag new">new</span>' + rowdata.cst_nm
                                                                    + '<span class="a-link">' + rowdata.fs_no + '</span>'
                                                                    , 'cursor:pointer;');
                                        }else{
                                            return _this.setDivCenter(rowdata.cst_nm 
                                                                    + "<span class='a-link'>"+ rowdata.fs_no +"</span><br />"
                                                                    );
                                        }        
                                    },        
                            },  
                            { text: '식품유형', datafield: 'prod_tp_nm',cellsalign:'center', align:'center', width: '7%', cellsalign:'center'
                                , cellsrenderer: function (row, column, value) {

                                    let arrVal = value.split(',');
                                    let viewVal = '';

                                    arrVal.forEach((element, index) => {
                                        if(index != 0)
                                            viewVal += "<br>";
                                        viewVal += element;

                                        _this.gridMaxCnt = _this.gridMaxCnt < (index + 1) ? (index + 1) : _this.gridMaxCnt;
                                    });                                

                                    return _this.setDivCenter(viewVal);
                                    }  
                            },
                            { text: '상품명', datafield: 'prod_nm',cellsalign:'center', align:'center' , width: '8%'
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },
                            { text: '담당자', datafield: 'cst_mng_nm', width: '8%', align:'center', cellsalign:'center'
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },  
                            { text: '접수(계약)일자', datafield: 'receive_date', width: '8%', align:'center', cellsalign:'center'
                                , cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                    return _this.setDivCenter(value);
                                }
                            }, 
                            { text: '지역본부', datafield: 'cseco_dept_nm', width: '8%', align:'center', cellsalign:'center' 
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },
                            { text: '세스코담당자', datafield: 'cst_cesco_mng_nm', width:'5%', align:'center', cellsalign:'center' 
                                , renderer: function () {
                                    return _this.setDivCenter('세스코 <br />담당자');
                                }
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },
                            { text: '계약MD', datafield : 'md_day', width: '3%', align:'center', cellsalign:'center'
                                , renderer: function () {
                                    return _this.setDivCenter('계약 <br />MD');
                                }
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },
                            { text: '수행MD', datafield : 'mw_day', width: '3%', align:'center', cellsalign:'center'
                                , renderer: function () {
                                    return _this.setDivCenter('수행 <br />MD');
                                }
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },
                            { text: '진행단계', datafield : 'fs_status_nm', width: '5%', align:'center', cellsalign:'center'
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },
                            { text: '매출액(VAT제외)', datafield : 'est_amt', width: '8%', align:'center', cellsalign:'center'
                                , cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                    return _this.setDivCenter(rowdata.est_amt.toLocaleString('ko-KR'), 'font-size:13px;');
                                }
                            },
                            { text: '수금액', datafield : 'bill_ar_amt', width: '6%', align:'center', cellsalign:'center', 
                                cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                    return _this.setDivCenter(rowdata.bill_ar_amt.toLocaleString('ko-KR'), 'font-size:13px;');
                                }
                            },
                            { text: '최종처리일시', datafield: 'mdfr_dt', width: '6%', align:'center', cellsalign:'center' 
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },
                            // { text: '계약서/고객 정보동의여부', datafield:'cont_yn', width:'5%', align:'center', cellsalign:'center',
                            //     renderer: function () {
                            //         return _this.setDivCenter('&nbsp;&nbsp;계약서 <br />고객동의');
                            //     },
                            //     cellsrenderer: function (row, column, value) {
                            //         return _this.setDivCenter('<span class="a-link">' + value + '</span>', 'cursor:pointer;');
                            //     }
                            // },
                            { text: '완료확인서', datafield: 'complet_tp_cd', width: '8%', align:'center', cellsalign:'center',
                                renderer: function (defaultText, alignment, height) {
                                    return '<div style="margin-top: 15px; text-align:center;">완료확인서<br>(서명자/대상자)</div>';
                                },
                                cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                    return _this.setDivCenter('<span class="a-link">' + rowdata.complet_stt + '(' + rowdata.sign_cnt + '/' + rowdata.mem_cnt  +  ')' + '</span>', 'cursor:pointer;');                                    
                                },
                            },
                            { text: '순번', datafield: 'fs_seq', width: '6%', align:'center', cellsalign:'center' 
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }, hidden :true
                            },
                            
                        ]  
                    });

                    _this.setGridHeight();

                    $('#consultGrid').off('cellclick').on('cellclick', function(e) {
                        if(e.args.datafield == 'complet_stt') {
                            window.localStorage.setItem('consultGridRow',JSON.stringify(_this.consultingList[e.args.row.bounddata.boundindex]));
                            _this.openCompletPopupDiv('hcComplete');                            
                        }
                        if(e.args.datafield == 'fs_no'){
                            window.localStorage.setItem('consultGridRow',JSON.stringify(_this.consultingList[e.args.row.bounddata.boundindex]));
                            window.location = "/consulting/consult/hcConsultChatDetail"   
                        }

                        if(e.args.datafield == 'cont_yn'){
                            // window.localStorage.setItem('consultGridRow',JSON.stringify(_this.consultingList[e.args.row.bounddata.boundindex]));
                            // url = JSON.parse(window.localStorage.consultGridRow).cont_url;
                            // window.open(url)
                            window.open("https://e-contract.cesco.co.kr/info/cesnetPreview?custCd=H22I004246&custClsNm=가정집&contrDocNo=C5597320221028170957&contractStatusCd=014007&userID=")
                        }
                        // 완료 일지 상태 이벤트
                        if(e.args.datafield == 'complet_tp_cd') {
                            window.localStorage.setItem('consultGridRow',JSON.stringify(_this.consultingList[e.args.row.bounddata.boundindex]));
                            if (e.args.row.bounddata.fs_mng_id === _this.userId) {
                                if (e.args.row.bounddata.complet_tp_cd == "03") {
                                    cmmConfirm('고객에게 확인요청메일을 발송 하시겠습니까?', res =>{
                                        if (!!res) { 
                                            let item = e.args.row.bounddata;
                                                item.p_type = "02";
                                                item.con_complet_tp_cd = "04"
                                            _this.setReqUpdateCompletTpCd(item)// 확정중으로 셋팅 ( 고객 싸인 상태로 변경)
                                            return;
                                        } else {
                                            _this.openCompletPopupDiv('hcComplete');
                                        }
                                    },"hcChat")
                                } else if (e.args.row.bounddata.mem_cnt == e.args.row.bounddata.sign_cnt && e.args.row.bounddata.sign_mng_tp_cd != "01") {
                                    cmmConfirm('고객에게 확인요청메일을 발송 하시겠습니까?', res =>{
                                        if (!!res) { 
                                            let item = e.args.row.bounddata;
                                                item.p_type = "02";
                                                item.con_complet_tp_cd = "04"
                                            _this.setReqUpdateCompletTpCd(item)// 확정중으로 셋팅 ( 고객 싸인 상태로 변경)
                                            return;
                                        } else {
                                            _this.openCompletPopupDiv('hcComplete');
                                        }
                                    },"hcChat")
                                } else if (e.args.row.bounddata.complet_tp_cd == "04") {
                                    cmmConfirm('수행일지 완료처리 하시겠습니까?', res =>{
                                        if (!!res) {
                                            let item = e.args.row.bounddata;
                                                item.p_type = "02";
                                                item.con_complet_tp_cd = "05"
                                            _this.setReqUpdateCompletTpCd(item)// 확정중으로 셋팅 ( 고객 싸인 상태로 변경)
                                            return;
                                        } else {
                                            _this.openCompletPopupDiv('hcComplete');
                                        }
                                    },"hcChat")
                                } else if(e.args.row.bounddata.mem_cnt == e.args.row.bounddata.sign_cnt && e.args.row.bounddata.sign_mng_tp_cd == "01" && e.args.row.bounddata.complet_tp_cd != "05"){
                                    cmmConfirm('수행일지 완료처리 하시겠습니까?', res =>{ 
                                        if (!!res) { // 고객인 경우 싸인 끝난 상태서 확정 중 인 경우
                                            let item = e.args.row.bounddata;
                                                item.p_type = "02";
                                                item.con_complet_tp_cd = "05"
                                            _this.setReqUpdateCompletTpCd(item)// 확정중으로 셋팅 ( 고객 싸인 상태로 변경)
                                            return;
                                        } else {
                                            _this.openCompletPopupDiv('hcComplete');
                                        }
                                    },"hcChat")
                                } else {
                                    if (e.args.row.bounddata.complet_tp_cd == "02" && e.args.row.bounddata.sign_cnt == "1") {
                                        if (e.args.row.bounddata.mem_cnt == e.args.row.bounddata.sign_cnt) {
                                            cmmConfirm('고객에게 확인요청메일을 발송 하시겠습니까?',res => {
                                                if (!!res) { // 세스코 담당자 한명인 경우,본인 싸인 후 고객에게 메일 발송 그리고 04 확정 주으로 변경
                                                    let item = e.args.row.bounddata;
                                                        item.p_type = "02";
                                                        item.con_complet_tp_cd = "04"
                                                    _this.setReqUpdateCompletTpCd(item) // 메일 발송 후 확정요청중으로 셋팅 ( 강제확정 가능 상태으로 변경)
                                                    return;
                                                } else {
                                                    _this.openCompletPopupDiv('hcComplete');
                                                }
                                            },"hcChat") 
                                        } else {
                                            cmmConfirm('참여 컨설턴트에 서명 요청을 메일로 발송합니까?',res => {
                                                if (!!res) { // 주 담당자 서명 후 다른 컨설턴트에게 메일 발송 그리고 03 확정 요청 중으로 상태 변경
                                                    let item = e.args.row.bounddata;
                                                    item.p_type = "02";
                                                    item.con_complet_tp_cd = "03"
                                                    _this.setReqUpdateCompletTpCd(item)
                                                    return;
                                                } else {
                                                    _this.openCompletPopupDiv('hcComplete')
                                                }
                                            },"hcChat") 
                                        }
                                    } else {
                                        if (_this.userTpCd == "01" && (parseInt(e.args.row.bounddata.md_status_cd) < 4)) {
                                            cmmAlert("참여 컨설턴트 서명이후 고객서명이 가능합니다.")
                                            return
                                        }
                                        _this.openCompletPopupDiv('hcComplete');
                                    }
                                }
                            } else {
                                _this.openCompletPopupDiv('hcComplete');
                        }
                    }
                });
                }else{
                    $("#consultGrid").jqxGrid({  
                        width               : '100%',
                        autoheight          : true,
                        // autorowheight       : true,
                        source              : consultDataAdapter, //위에서 만든 dataAdapter
                        sortable            : true,
                        filterable          : true,
                        pageable            : true,
                        pagermode           : 'simple',
                        columnsheight       : 60,
					    rowsheight          : 110,
                        selectionmode       :'checkbox',
                        showrowlines        : false,
                        showcolumnlines     : false,
                        localization        : {emptydatastring:'해당 자료가 존재하지 않습니다.'},
                        columns: [                  // 각 컬럼값들의 대한 설정이다.
                            {
                                text: 'No', sortable: false, filterable: false, editable: false,width: '5.5%',
                                groupable: false, draggable: false, resizable: false,
                                datafield: '', columntype: 'number', align:'center',
                                cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter((value + 1));
                                }
                            },
                            { 
                                text: '고객사 / 컨설팅번호', datafield: 'fs_no', align:'center',width: '13%',cellsalign:'center',
                                    cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                            if(rowdata.read_yn === 'N'){
                                                return _this.setDivCenter('<span class="tag new">new</span>' + rowdata.cst_nm 
                                                                        + '<span class="a-link">' + rowdata.fs_no + '</span>'
                                                                        , 'cursor:pointer;');
                                            }else{
                                                return _this.setDivCenter(rowdata.cst_nm 
                                                                        + "<a href='#none' class='a-link'>"+ rowdata.fs_no +"</a><br />"
                                                                        );
                                            }        
                                    },        
                            },  
                            { text: '식품유형', datafield: 'prod_tp_nm',cellsalign:'center', align:'center', width: '10%', cellsalign:'center'
                                , cellsrenderer: function (row, column, value) {

                                    let arrVal = value.split(',');
                                    let viewVal = '';

                                    arrVal.forEach((element, index) => {
                                        if(index != 0)
                                            viewVal += "<br>";
                                        viewVal += element;

                                        _this.gridMaxCnt = _this.gridMaxCnt < (index + 1) ? (index + 1) : _this.gridMaxCnt;
                                    });                                

                                    return _this.setDivCenter(viewVal);
                                    }  
                            },
                            { text: '상품명', datafield: 'prod_nm',cellsalign:'center', align:'center' , width: '10%'
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },
                            { text: '담당자', datafield: 'cst_mng_nm', width: '9%', align:'center', cellsalign:'center'
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },  
                            { text: '접수(계약)일자', datafield: 'receive_date', width: '12%', align:'center', cellsalign:'center'
                                , cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                    return _this.setDivCenter(value);
                                }
                            }, 
                            { text: '세스코담당자', datafield: 'cst_cesco_mng_nm', width:'8%', align:'center', cellsalign:'center' 
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },
                            { text: '진행단계', datafield : 'fs_status_nm', width: '10%', align:'center', cellsalign:'center'
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },
                            { text: '최종처리일시', datafield: 'mdfr_dt', width: '13%', align:'center', cellsalign:'center' 
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }
                            },
                            { 
                                text: '완료확인서', datafield: 'complet_tp_cd', width: '7%', align:'center', cellsalign:'center',
                                renderer: function (defaultText, alignment, height) {
                                    return '<div style="margin-top: 15px; text-align:center;">완료확인서<br>(서명자/대상자)</div>';
                                },
                                cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                    return _this.setDivCenter('<span class="a-link">' + rowdata.complet_stt + '(' + rowdata.sign_cnt + '/' + rowdata.mem_cnt  +  ')' + '</span>', 'cursor:pointer;');
                                },
                            },
                            { text: '순번', datafield: 'fs_seq', width: '6%', align:'center', cellsalign:'center' 
                                , cellsrenderer: function (row, column, value) {
                                    return _this.setDivCenter(value);
                                }, hidden :true
                            },
                            
                        ]  
                    });
                    
                    _this.setGridHeight();

                    $('#consultGrid').off('cellclick').on('cellclick', function(e) {
                        window.localStorage.setItem('consultGridRow',JSON.stringify(_this.consultingList[e.args.row.bounddata.boundindex]));

                        // vue.moveDetailChat(e.args.row.bounddata)
                        if(e.args.datafield == 'fs_no') {// 상세이동
                            window.localStorage.setItem('consultGridRow',JSON.stringify(_this.consultingList[e.args.row.bounddata.boundindex]));
                            window.location = "/consulting/consult/hcConsultChatDetail"
                        }
                        // 완료 일지 상태 이벤트
                        if(e.args.datafield == 'complet_tp_cd') {
                            if (_this.userTpCd == "01" && (parseInt(e.args.row.bounddata.complet_tp_cd) < parseInt("04"))) {
                                cmmAlert("참여 컨설턴트 서명이후 고객서명이 가능합니다.")
                                return
                            }
                            _this.openCompletPopupDiv('hcComplete');
                        }
                        
                    });
                }    
                
            },
            onChangeStartDate: function(val) {
				    this.srchParam.start_date = val;
                    this.changeCombo() ;
            },
            onChangeEndDate: function(val) {
                this.srchParam.end_date = val;
                this.changeCombo() ;
            }, 
            downloadXls : function(){
                let selectedrowindexes = $('#consultGrid').jqxGrid('getselectedrowindexes');
                if(selectedrowindexes.length == 0){
                    $("#consultGrid").jqxGrid('exportdata', 'xls', 'haccp 컨설팅 목록', true);
                }else{
                    let newData = [];
                    $(selectedrowindexes).each(function(index, item){
                        let rowdata = $('#consultGrid').jqxGrid('getrowdata', item)
                        newData.push(rowdata);
                    })
                    $("#consultGrid").jqxGrid('exportdata', 'xls', 'haccp 컨설팅 목록', true, newData);
                }
                
            },
            openCompletPopupDiv:function(val){ // 완료확인서 팝업
                //val = 'hcComplete';
                let _this = this;
                let popupNm = val;
                let divId = val + 'Div';
                let param = {};

                // 담당자 추가 팝업
                if(val == "hcComplete") {
                    param.sys_id = _this.sendData.sys_id;
                    param.fs_no = _this.sendData.fs_no;
                    param.fs_seq = _this.sendData.fs_seq;
                }

                // 공통팝업호출
                openCmmPopup(popupNm, divId, param); 
            },
        }     
	});

});

</script>

</head>
<body>
	<section layout:fragment="content" id="app"  v-cloak>
        <div id="content" class="content">
            <!-- content -->
            <div class="page-content">
                <div class="page-box">
                    <div class="clear">
                        <h2 class="page-title fl">HACCP 컨설팅</h2>
                        <div class="fr">
                            <button class="btn-search" @click="getMainList"><i></i>조회</button>
                        </div>
                    </div>
                    <hr>
                    <div class="board-search mgt20">
                        <table>
                            <colgroup>
                                <col width="60px"><col width="310px">
                                <col width="110px"><col width="">
                                <col width="110px"><col width="">
                                <col width="110px"><col width="">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th rowspan="2" class="valign-b th-pd">기간</th>
                                    <td rowspan="2" class="valign-b">
                                        <div class="mini-btns">
                                            <button id="time01" class="but-tiem mini-btns-togger" @click="setPeriod($event,'currentMonth')">당월</button>
                                            <button id="time02" class="but-tiem" @click="setPeriod($event,'currentYear')">당해</button>
                                            <button id="time03" class="but-tiem" @click="setPeriod($event,'oneMonth')">1개월</button>
                                            <button id="time04" class="but-tiem" @click="setPeriod($event,'threeMonth')">3개월</button>
                                            <button id="time05" class="but-tiem" @click="setPeriod($event,'sixMonth')">6개월</button>
                                            <button id="time06" class="but-tiem" @click="setPeriod($event,'oneYear')">1년</button>
                                            <button id="time07" class="but-tiem" @click="setPeriod($event,'all')">전체</button><!-- 2022.12.09 검색조건 "전체" 추가 -->
                                        </div>
                                        <div class="calendar-wrap"><!-- 2022.12.09 "전체"  클릭시 all 클래스 추가, 아닐경우 제거 -->
                                            <span class="calendar-box">
                                                <date-picker-from name="startDate" type="text" id="startDate" size="12" title="조회 시작일" 
                                                :val="srchParam.start_date" @on-change-start-date="onChangeStartDate"/>
                                                <label for="startDate"></label>
                                            </span>
                                            <span class="dash">~</span>
                                            <span class="calendar-box">
                                                <date-picker-to name="endDate" type="text" id="endDate" size="12" title="조회 종료일" 
                                                :val="srchParam.end_date" @on-change-end-date="onChangeEndDate"/>
                                                <label for="endDate"></label>
                                            </span>
                                        </div>
                                    </td>
                                    <th v-if = "userTpCd != '01'">계약MD</th>
                                    <td v-if = "userTpCd != '01'">
                                        <div><input type="text" class="full txt-r" v-model="srchParam.md_day"></div>
                                    </td>
                                    <th v-if = "userTpCd != '01'">수행MD</th>
                                    <td v-if = "userTpCd != '01'">
                                        <div><input type="text" class="full txt-r" v-model="srchParam.mw_day"></div>
                                    </td>
                                    <th>상품명</th>
                                    <td>
                                        <select class="full" v-model="srchParam.product_name">
                                            <option v-for="(item, index) in searchComboProdype" :key="index" :value="item.cmm_dtl_cd">{{item.cmm_dtl_nm}}</option> 
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>담당자</th>
                                    <td>
                                        <select class="full" v-model="srchParam.cst_mng_id">
                                            <option v-for="(item, index) in searchComboMngr" :value="item.cmm_dtl_cd">{{item.cmm_dtl_nm}}</option>
                                        </select>
                                    </td>
                                    <th>진행단계</th>
                                    <td>
                                        <select class="full" v-model="srchParam.fs_status_cd">
                                            <option v-for="(item, index) in searchComboStep" :key="index" :value="item.cmm_dtl_cd">{{item.cmm_dtl_nm}}</option> 
                                        </select>
                                    </td>
                                    <th>세스코담당자</th>
                                    <td>
                                        <select class="full" v-model="srchParam.fs_mng_id">
                                            <option v-for="(item, index) in searchComboCes" :key="index" :value="item.cmm_dtl_cd">{{item.cmm_dtl_nm}}</option> 
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th v-if = "userTpCd != '01'">고객사</th>
                                    <td v-if = "userTpCd != '01'">
                                        <select class="full" v-model="srchParam.cst_id">
                                            <option v-for="(item, index) in searchComboCus" :key="index" :value="item.cmm_dtl_cd">{{item.cmm_dtl_nm}}</option> 
                                        </select>
                                    </td>
                                    <th v-if = "userTpCd != '01'">식품유형</th>
                                    <td v-if = "userTpCd != '01'">
                                        <select class="full" v-model="srchParam.food_type" >
                                            <option v-for="(item, index) in searchComboFType" :key="index" :value="item.cmm_dtl_cd">{{item.cmm_dtl_nm}}</option> 
                                        </select>
                                    </td>
                                    <th></th>
                                    <td></td>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="page-box">
                    <div class="clear">
                        <div class="fl"><h3 class="content-title" v-if = "userTpCd == '01'">현황</h3></div>
                        <div class="fl"><h3 class="content-title" v-if = "userTpCd != '01'">수행현황</h3></div>
                        <div class="fr">
                            <button type="button" class="btn-save" v-if = "userTpCd != '01'" @click="downloadXls">엑셀다운로드</button>
                        </div>
                    </div>
                    <div class="tb-list">
                        <div id="consultGrid"></div>
                    </div>
                </div>
            </div>
            
            <!-- //content -->
        </div>
        <div id="hcCompleteDiv"></div>
    </section>	
</body>
</html>