<script th:inline="javascript" type="text/javascript">
    var serviceStmtPopVue
    $(document).ready(function(){
        serviceStmtPopVue = new Vue({
            el: '#serviceStatementPop',
            data: {
				userId: [[${session.userId}]],
				userTpCd: [[${session.userTpCd}]],
                eformDir: [[${eformDir}]],
                eformLoc : [[${eformLoc}]],
                modiReq: false,
                serviceStmtData: [[${serviceStmtData}]],
                serviceStmtDtlList: [],
				directEmail: '',
				directPhone: '',
				reqableStatus: false,
            },
            methods: {
				closePopup: function() {
					closeCmmPopup('serviceStatementPop');
				},
				changeModiText: function() {
					this.modiReq = this.modiReq ? false : true;
				},
                // 서비스견적서 상세 목록
				getServiceStmtDtlList: function() {
					let _this = this;
					let url = '/api/service/getServiceStmtDtlList';
					let param = {
						fs_bill_no: _this.serviceStmtData.fs_bill_no
					};

					axiosCall('get', url, param, function(res){
						_this.serviceStmtDtlList = res.data;
						_this.drawReportForm();
					});
				},
				// 서비스견적서 확정
				setServiceStmtConfirm: function() {
					let _this = this;
					let url = '/api/service/setServiceStmtConfirm';
					let param = {
						fs_bill_no: _this.serviceStmtData.fs_bill_no,
						fs_bill_seq: _this.serviceStmtData.fs_bill_seq
					};

					axiosCall('post', url, param, function(res){
						if(res.data == 'success') {
							cmmAlert("확정되었습니다.");
						} else {
							cmmAlert("확정되었습니다.<br/>(" + res.data + ")")
						}
						_this.closePopup();
						vue.getServiceStmtList();
					});
				},
				// 서비스견적서 수정요청
				setServiceStmtReq: function() {
					let _this = this;
					let url = '/api/service/setServiceStmtReq';
					let param = {
						fs_bill_no: _this.serviceStmtData.fs_bill_no,
						fs_bill_seq: _this.serviceStmtData.fs_bill_seq,
						bill_mdify_note: _this.serviceStmtData.bill_mdify_note
					};

					axiosCall('post', url, param, function(res){
						if(res.data == 'success') {
							cmmAlert("수정요청되었습니다.");
						} else {
							cmmAlert("수정요청되었습니다.<br/>(" + res.data + ")")
						}
						_this.closePopup();
						vue.getServiceStmtList();
					});
				},
				// direct Email 전송
				sendDirectEmail: function() {

					// eform 레포트 저장이벤트 호출
					// document.getElementById('eformView').contentWindow.postMessage(
					// 	{ code: 1, msg: '' },
					// 	"https://deveform.cesco.co.kr"
					// );

					let _this = this;

					if(_this.directEmail == '') {
						cmmAlert("이메일이 입력되지 않았습니다.");
						return false;
					}

					var emailArr = _this.directEmail.split(',');
					var checkCnt = 0;
					$.each(emailArr, function(idx, obj) {
						if(!emailCheck(obj.replace(/(\s*)/g, ""))) { // 공백 제거하여 check.
							checkCnt++;
							return false;
						}
					});

					if(checkCnt > 0) {
						cmmAlert("이메일 형식이 잘못되었습니다.<br/>이메일를 확인해주세요.");
						return false;
					}

					let url = '/api/service/sendDirectEmail';
					let param = {
						fs_bill_no: _this.serviceStmtData.fs_bill_no,
						fs_bill_seq: _this.serviceStmtData.fs_bill_seq,
						direct_email: _this.directEmail,
						// file_loc: json.fileLoc,
						// file_nm: json.counterpartFilePath
					};

					axiosCall('post', url, param, function(res){
						cmmAlert("메일이 전송되었습니다.");
					});
					
				},
				// 레포트 iframe에 jsp그리기 => jsp:report에 데이터 넘기고 세팅하는 곳(권한없음, 수정시 요청해야함.)
				drawReportForm: function() {
					let _this = this;
					var taxbilltpcd = _this.serviceStmtData.tax_bill_tp_cd
					let _content0 = [{
						title       : _this.serviceStmtData.bill_cst_nm + ' 표시컨설팅 견적서',
						price       : Number(_this.serviceStmtData.supply_amt).toLocaleString('ko-KR') + "원 (VAT 별도)",
						detail      : "1) 표시검토 의뢰건수/청구비용 : " + _this.serviceStmtData.est_cnt + "건 / " 
						        	    + Number(_this.serviceStmtData.supply_amt).toLocaleString('ko-KR') + "원",
						note        : _this.serviceStmtData.ssmm,
            			taxbilltpcd : taxbilltpcd,
            			item1       : (taxbilltpcd == '01' ? "본 견적서로 계약서 갈음함" : ""),
            			item2       : (taxbilltpcd == '01' ? "서비스 비용이 입금되어야 서비스 결과가 송부됨" : "")
					}];

					let _content1 = [];
					$.each(_this.serviceStmtDtlList, function(idx, obj) {
						obj.fs_no = obj.fs_no + '-' + obj.fs_seq;
						_content1.push(obj);
					});

					var form = $('<form></form>');
					form.attr('target', 'eformView');
					form.attr('method', 'POST');
					form.attr('style', 'display:none');
					form.attr('action', _this.eformLoc + '/eform_bill.jsp');

					form.append($('<input/>', {type: 'hidden', name: 'content0' , value:'{\"content0\":' + JSON.stringify(_content0) + '}' }));
					form.append($('<input/>', {type: 'hidden', name: 'content1' , value:'{\"content1\":' + JSON.stringify(_content1) + '}' }));
					form.append($('<input/>', {type: 'hidden', name: 'fileNm'   , value:'Bill_' + _this.serviceStmtData.fs_bill_no }));
					form.append($('<input/>', {type: 'hidden', name: 'eformDir' , value:_this.eformDir }));
					form.append($('<input/>', {type: 'hidden', name: 'returnUrl', value: window.location.protocol + '//' + window.location.host +'/service/serviceStatementPop' }));
					
					form.appendTo('body');
					form.submit();
				},
				setFormatPhoneNum: function(e) {
					this.directPhone = addHyphenToPhone(e.target.value);
				}
            },
            mounted() {
				this.getServiceStmtDtlList();
				this.reqableStatus = (
					this.userTpCd == '01' 
					&& this.serviceStmtData.bill_req_cd != '01' 
					&& this.serviceStmtData.bill_req_cd != '03' 
					&& this.userId == this.serviceStmtData.tax_bill_id // 정산담당자의 경우에만 수정요청, 확정이 가능함.
				);
            },
        })
    });

// report에서 window.parent.postMessage로 전송된 데이터
$(window).on('message', function (e) {
    var json = e.originalEvent.data.resultJson.pdf;
    var result = json.errorCode;
	var directEmail = serviceStmtPopVue.directEmail;
	// var destPhone = serviceStmtPopVue.directPhone;

	if(result == 0) {
		// if(destPhone == '') {
		// 	cmmAlert("휴대폰 번호가 입력되지 않았습니다.");
		// 	return false;
		// }

		// if(!phoneValidation(destPhone)) {
		// 	cmmAlert("휴대폰 번호 형식이 잘못되었습니다.<br/>휴대폰 번호를 확인해주세요.");
		// 	return false;
		// }

		// var url = '/api/sendPhone';
		// var param = {};
		// param.type = 'serviceStmt';
		// param.dest_phone = destPhone.replaceAll('-', '');
		// param.msg_body = json.fileLoc + json.counterpartFilePath;
		

		if(directEmail == '') {
			cmmAlert("이메일이 입력되지 않았습니다.");
			return false;
		}

		if(!emailCheck(directEmail)) {
			cmmAlert("이메일 형식이 잘못되었습니다.<br/>이메일를 확인해주세요.");
			return false;
		}

		let url = '/api/service/sendDirectEmail';
		let param = {
			fs_bill_no: serviceStmtPopVue.serviceStmtData.fs_bill_no,
			fs_bill_seq: serviceStmtPopVue.serviceStmtData.fs_bill_seq,
			direct_email: directEmail,
			file_loc: json.fileLoc,
			file_nm: json.counterpartFilePath
		};

		axiosCall('post', url, param, function(res){
			cmmAlert("메일이 전송되었습니다.");
		});

	}

});
</script>
<section layout:fragment="content" id="serviceStatementPop" v-cloak>
	<div class="page-head">
		<div class="layer-pop-wrap">
			<div class="layer-pop-box large">
				<div class="pop-wrap">
					<h1 class="blind">{{serviceStmtData.fs_bill_nm}}</h1>
					<header class="pop-header">
						<div class="pop-header-title-wrap">
							<h3 class="pop-header-title">{{serviceStmtData.fs_bill_nm}}</h3>
							<button class="btn-pop-close js-pop-close" @click="closePopup">닫기</button>
						</div>
					</header>
					<div class="pop-container">
                        <div class="pop-common-box">
                            <div class="service-detailed">
                                <div class="e-form-box">
                                    <div class="e-form-content">

										<!-- 이메일 발송 : 고객사 -->
										<div v-if="userTpCd == '01'" class="board-search bg mgb10">
											<table>
												<colgroup>
													<!-- <col width="80px"><col width="25%"><col width=""> -->
													<col width="100px"><col width="75%"><col width="">
												</colgroup>
												<tbody>
													<tr>
														<th>이메일</th>
														<td><input type="text" class="full" v-model="directEmail"></td>
														<td class="txt-r">
															<a href="#" class="btn-report-mail tooltip" @click="sendDirectEmail"><span class="tooltip-txt">메일 전송</span></a>
														</td>
														<!-- <th>휴대폰 번호</th>
														<td><input type="text" class="full" maxlength="13" :value="directPhone" @input="setFormatPhoneNum"></td> -->
													</tr>
												</tbody>
											</table>
										</div>

										<!-- 수정요청 입력 : 고객사 && 확인완료가 아닐경우 -->
										<div v-if="reqableStatus" class="service-memo mgb10">
											<button :class="'btn-save btn-service-edit' + (modiReq ? ' on' : '')" @click="changeModiText">
												수정요청 입력하기<i class="ico-arrow"></i>
											</button><!--클릭시 입력란 show / 버튼에 on 클래스 추가(btn-save btn-service-edit on)-->
											<div class="clear mgt10 service-edit-box" :style="(modiReq ? 'display:block;' : 'display:none;')">
												<textarea maxlength="2000" cols="30" rows="3" class="full" v-model="serviceStmtData.bill_mdify_note"></textarea>
											</div>
										</div>

										<!-- 레포트 -->
										<div class="tb-list">
                                        	<iframe name="eformView" id="eformView" 
												:style="'width:100%; border:1px solid; height:' 
												+ (reqableStatus ? '500' : (userTpCd == '01') ? '600' : '700') 
												+ 'px;'">
											</iframe>
                                        </div> 

										<!-- 확정, 수정 버튼 : 고객사 && 확인완료가 아닐경우 -->
										<div v-if="reqableStatus" class="pop-bottom">
											<div class="pop-btn-box">
												<a href="#" class="btn-pop-bottom" @click="(modiReq ? setServiceStmtReq() : setServiceStmtConfirm())">서비스견적서 {{(modiReq ? '수정요청' : '확정')}}</a>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>	
