<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
<title>세스코</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
<script type="text/javascript">
var vue
$(document).ready(function(){
	vue = new Vue({
		el: '#app',
		data: {
			userTpCd: [[${session.userTpCd}]], // 권한
			regPop: false,
			remarkPop: false,
			startDate: '',
			endDate: '',
			srchCstId: '',            // 고객사
			srchFsBillNo: '',         // 서비스견적서번호
			srchBillReqCd: '',        // 비용확인상태
			srchTaxBillId: '',        // 정산 담당자
			srchBillArCd: '',         // 입금확인
			srchContMngId: '',        // 계약 담당자.
			dtlTotalCnt: '0',         // 상세 그리드 총 건수
			reqBtn: false,            // 고객확인요청버튼
			delBtn: false,            // 서비스견적서삭제버튼
			modiBtn: false,           // 비고내용수정버튼
			taxReqBtn: false,     // 세금계산서발행요청버튼
			disabledStyle: 'color: #cccccc; border: 1px solid #ccc;',     // 세금계산서발행요청버튼
			serviceStmtData: {},
			serviceStmtPopData: {},
			serviceStmtChkList: [],
			serviceStmtList: [],
			serviceStmtDtlList: [],	
			codeList01: [],
			codeList02: [],
			cstList: [],
			billMngList: [],
			contMngList: [],
		},
		methods: {
			// 비고수정팝업 열기
			openRemarkPop: function(val) {
				// 체크된 데이터
				var chkCnt = 0;
				let checkedData = [];
				var rowDatas = $("#serviceStmtGrid").jqxGrid('getrows');
				$.each(rowDatas, function(i, obj) {
					if(obj.check == true){

						if(obj.bill_req_cd != '01' && obj.bill_req_cd != '04') {
							chkCnt++;
							return false;
						}

						checkedData.push(obj);
					}
				})

				if(chkCnt > 0) {
					cmmAlert("확인 요청 전 또는 수정요청상태만 비고 수정할 수 있습니다.")
					return false;
				}

				// 선택 확인.
				if(checkedData.length == 1) {
					this.remarkPop = val;
					this.serviceStmtPopData = checkedData[0];

				} else if(checkedData.length > 1) {
					cmmAlert("수정은 단일 체크 시에 만 가능합니다.");
					return false;
					
				} else if(checkedData.length == 0) {
					cmmAlert("체크박스가 선택되지 않았습니다.");
					return false;
				}
            },
			// 비고수정팝업 닫기
            closeRemarkPop: function(val) {
                this.remarkPop = val
            },
			onChangeStartDate: function(val) {
				this.startDate = val;
				this.getChangeComboList();
			},
			onChangeEndDate: function(val) {
				this.endDate = val;
				this.getChangeComboList();
			},
			setPeriod: function(val) {
				var periodDate = getPeriod(val);
				this.startDate = periodDate.startDt;
				this.endDate = periodDate.endDt;
				this.getChangeComboList();
			},
			// 서비스견적서 팝업 열기
			openServiceStmtPop: function(param) {
                openCmmPopup('/service/serviceStatementPop', 'reportDiv', param);
            },
			// 서비스견적서 목록
			getServiceStmtList: function(type) {
				let _this = this;

				// 검색 check
				if(!_this.checkSrchValidation()) return false;

				let url = '/api/service/getServiceStmtList';
				let param = {};

				param.start_date = _this.startDate.replaceAll('-', '');
				param.end_date = _this.endDate.replaceAll('-', '');
				param.cst_id = _this.srchCstId;          // 고객사
				param.fs_bill_no = _this.srchFsBillNo;  // 서비스견적서번호
				param.bill_req_cd = _this.srchBillReqCd; // 비용확인상태
				param.tax_bill_id = _this.srchTaxBillId;   // 정산담당자
				param.bill_ar_cd = _this.srchBillArCd;   // 입금확인
				param.cont_id = _this.srchContMngId;     // 계약담당자

				axiosCall('get', url, param, function(res){
					_this.serviceStmtList = res.data;

					// 버튼 활성화 비활성화 (01:확인요청전, 02:확인요청, 03:확인완료, 04:수정요청)
					if(_this.srchBillReqCd) {
						_this.reqBtn = (_this.srchBillReqCd != '01' && _this.srchBillReqCd != '02') ? true:false;   // 고객확인요청
						// _this.delBtn = (_this.srchBillReqCd != '01' && _this.srchBillReqCd != '04') ? true:false;   // 서비스견적서삭제
						_this.modiBtn = (_this.srchBillReqCd != '01' && _this.srchBillReqCd != '04') ? true:false;  // 비고내용수정
						_this.taxReqBtn = _this.srchBillReqCd != '03' ? true:false;                                 // 세금계산서발행요청
					} else {
						_this.reqBtn = false;
						_this.delBtn = false;
						_this.modiBtn = false;
						_this.taxReqBtn = false;
					}
					
					_this.drawTable();

					// 상세 그리드 clear
					// 조회버튼 클릭 시 하단 상세그리드 초기화
					if(type == 'srch') {
						_this.serviceStmtDtlList = [];
						if(res.data.length > 0) {
							$("#serviceStmtGrid").jqxGrid('selectrow', 0);
						} else {
							_this.drawDtlTable();
						}
					}
				});
			},
			// 서비스견적서 상세 목록
			getServiceStmtDtlList: function() {
				let _this = this;
				let url = '/api/service/getServiceStmtDtlList';
				let param = {
					fs_bill_no: _this.serviceStmtData.fs_bill_no
				};

				axiosCall('get', url, param, function(res){
					_this.serviceStmtDtlList = res.data;
					_this.drawDtlTable();
				}, true);
			},
			// 고객확인요청(메일보내기)
			sendEmailForCstReq: function() {
				let _this = this;

				// 체크된 데이터
				var chkCnt = 0;
				let checkedData = [];
				var rowDatas = $("#serviceStmtGrid").jqxGrid('getrows');
				$.each(rowDatas, function(i, obj) {
					if(obj.check == true){

						if(obj.bill_req_cd != '01' && obj.bill_req_cd != '02') {
							chkCnt++;
							return false;
						}

						checkedData.push(obj);
					}
				})

				if(chkCnt > 0) {
					cmmAlert("확인 요청 전 또는 확인 요청 상태만 고객 확인 요청할 수 있습니다.");
					return false;
				}

				// 선택 확인.
				if(checkedData.length > 0) {
					// 초기화
					_this.serviceStmtChkList = [];
					_this.serviceStmtChkList = checkedData;

				} else if(checkedData.length == 0) {
					cmmAlert("체크박스가 선택되지 않았습니다.")
					return false;
				}

				// 이메일발송
				cmmConfirm("메일을 전송하시겠습니까?", function() {
					let url = '/api/service/sendEmailForCstReq';
					var param = {serviceStatementList : _this.serviceStmtChkList}
					axiosCall('post', url, param, function(res){
						if(res.data == 'success') {
							cmmAlert("메일이 전송되었습니다.");
						} else {
							cmmAlert(res.data);
						}

						_this.getServiceStmtList('srch');
					});
				});

			},
			// 서비스견적서 삭제
			setDelServiceStmtList: function() {
				let _this = this;

				// 체크된 데이터
				var chkCnt = 0;
				let checkedData = [];
				var rowDatas = $("#serviceStmtGrid").jqxGrid('getrows');
				$.each(rowDatas, function(i, obj) {
					if(obj.check == true){

						if(obj.tax_bill_no != undefined && obj.tax_bill_no != null && obj.tax_bill_no != '') {
							chkCnt++;
							return false;
						}

						checkedData.push({
							fs_bill_no: obj.fs_bill_no
							, fs_bill_seq: obj.fs_bill_seq
						});
					}
				})
				
				if(chkCnt > 0) {
					cmmAlert("주문서가 등록된 서비스견적서는 삭제할 수 없습니다.");
					return false;
				}

				// 선택 확인.
				if(checkedData.length > 0) {
					// 초기화
					_this.serviceStmtChkList = [];
					_this.serviceStmtChkList = checkedData;

				} else if(checkedData.length == 0) {
					cmmAlert("체크박스가 선택되지 않았습니다.")
					return false;
				}

				// 서비스견적서 삭제
				cmmConfirm("서비스견적서를 삭제하시겠습니까?", function() {
					let url = '/api/service/setDelServiceStmtList';
					var param = {serviceStatementList : _this.serviceStmtChkList}
					axiosCall('post', url, param, function(res){
						cmmAlert("삭제되었습니다.");
						_this.getServiceStmtList('srch');
					});
				}) 
			},
			// 세금계산서발행요청(주문서등록)
			setTaxBillReq: function() {
				let _this = this;

				// 초기화
				_this.serviceStmtChkList = [];

				// 체크된 데이터
				var chkCnt = 0;
				let checkedData = [];
				let billCompletedData = [];
				var rowDatas = $("#serviceStmtGrid").jqxGrid('getrows');
				$.each(rowDatas, function(i, obj) {
					if(obj.check == true ){

						if(obj.bill_req_cd != '03') {
							chkCnt++;
							return false;
						}

						checkedData.push({
							fs_bill_no: obj.fs_bill_no
							, cont_id: obj.cont_id
						});

						// 세금계산서가 발행될 서비스견적서
						if(obj.tax_bill_no == undefined || obj.tax_bill_no == null || obj.tax_bill_no == '') {
							_this.serviceStmtChkList.push({
								fs_bill_no: obj.fs_bill_no
								, cont_id: obj.cont_id
							});
						} else {
							// 이미 세금계산서가 발행된 서비스견적서
							billCompletedData.push({
								fs_bill_no: obj.fs_bill_no
							});
						}
					}
				})

				if(chkCnt > 0) {
					cmmAlert("확인 완료 상태만 주문서 등록을 할 수 있습니다.");
					return false;
				}

				// 선택 확인.
				if(checkedData.length == 0) {
					cmmAlert("체크박스가 선택되지 않았습니다.")
					return false;
					
				} else if(billCompletedData.length == checkedData.length) {
					cmmAlert("이미 주문서가 등록된 서비스견적서만 존재합니다.")
					return false;
				} 

				// 세금계산서발행요청
				let url = '/api/service/setTaxBillReq';
				var param = {serviceStatementList : _this.serviceStmtChkList};

				cmmConfirm("주문서를 등록하시겠습니까?", function() {

					axiosCall('post', url, param, function(res){
						// 이미 세금계산서가 발행된 서비스견적서 확인
						if(billCompletedData.length != 0) {
							var cmpltBillNoStr = '';

							$.each(billCompletedData, function(i, o){ 
								cmpltBillNoStr += (cmpltBillNoStr != '' ? ',' : '') + o.fs_bill_no;
							});

							cmmAlert("주문서 등록 요청되었습니다.<br/>" + "(제외 : "+ cmpltBillNoStr +" 는 이미 주문서가 등록된 서비스견적서입니다.)");
	
						} else {
							cmmAlert("주문서 등록 요청되었습니다.");
						}
						
						_this.getServiceStmtList();
					})
				});
				
				
			},
			// 세금계산서발행취소(주문서취소)
			setTaxBillCancel: function() {
				let _this = this;

				// 초기화
				_this.serviceStmtChkList = [];

				// 체크된 데이터
				var chkCnt = 0;
				let checkedData = [];
				let billNotData = [];
				var rowDatas = $("#serviceStmtGrid").jqxGrid('getrows');
				$.each(rowDatas, function(i, obj) {
					if(obj.check == true ){

						checkedData.push({
							fs_bill_no: obj.fs_bill_no
							, cont_id: obj.cont_id
						});

						// 주문서 등록 전
						if(obj.tax_bill_no == undefined || obj.tax_bill_no == null || obj.tax_bill_no == '') {
							billNotData.push({
								fs_bill_no: obj.fs_bill_no
							});
						} else {
							// 주문서가 등록된 서비스견적서(취소가능)
							_this.serviceStmtChkList.push({
								fs_bill_no: obj.fs_bill_no
								, tax_bill_no : obj.tax_bill_no
							});
						}
					}
				})


				// 선택 확인.
				if(checkedData.length == 0) {
					cmmAlert("체크박스가 선택되지 않았습니다.")
					return false;
				} else if(billNotData.length == checkedData.length) {
					cmmAlert("주문서가 등록되지 않은 서비스견적서만 존재합니다.")
					return false;
				} 

				// 세금계산서발행요청
				let url = '/api/service/setTaxBillCancel';
				var param = {serviceStatementList : _this.serviceStmtChkList};

				cmmConfirm("주문서를 취소 하시겠습니까?", function() {

					axiosCall('post', url, param, function(res){
						// 이미 세금계산서가 발행된 서비스견적서 확인
						if(billNotData.length != 0) {
							var cmpltBillNoStr = '';

							$.each(billNotData, function(i, o){ 
								cmpltBillNoStr += (cmpltBillNoStr != '' ? ',' : '') + o.fs_bill_no;
							});

							cmmAlert("주문서 취소가 요청되었습니다.<br/>" + "(제외 : "+ cmpltBillNoStr +" 는 주문서가 등록되지 않은 서비스견적서입니다.)");
	
						} else {
							cmmAlert("주문서 취소가 요청되었습니다.");
						}

						_this.getServiceStmtList();
					})
				});
				
				
			},
			// 서비스견적서 jqxGrid
			drawTable: function() {
				let _this = this;

				// 사용자별 hidden column
                let hiddenCol = _this.userTpCd == '01' ? true : false;

				// 서비스견적서대상 컨설팅 목록
				var source = {  
					datatype: "json", // json 형태의 데이터를 셋팅할 것이고. // array
					datafields: [     // 각필의 이름과 타입은 datafields에 마찬가지로 json 형태이다.
    					{ name: 'sys_id', type: 'string' },                      // 시스템구분
						{ name: 'fs_bill_no', type: 'string' },                  // 서비스견적서번호
						{ name: 'fs_bill_seq', type: 'string' },                 // 순번 
						{ name: 'fs_bill_nm', type: 'string' },                  // 서비스견적서명
						{ name: 'est_cnt', type: 'string' },                     // 총건수
	                    { name: 'tax_bill_id', type: 'string' },                 // 정산담당자
                        { name: 'tax_bill_nm', type: 'string' },                 // 정산담당자명
                        { name: 'tax_email', type: 'string' },                   // 정산담당자이메일
                        { name: 'tax_bill_mobile', type: 'string' },             // 정산담당자연락처
                        { name: 'tax_bill_make_date', type: 'string' },          // 작성일
                        { name: 'rgstr_id', type: 'string' },                    // 작성자
                        { name: 'rgstr_nm', type: 'string' },                    // 작성자명
						{ name: 'bill_cst_id', type: 'string' },                 // 정산주체(회사)
						{ name: 'bill_cst_nm', type: 'string' },                 // 정산주체(회사)명
						{ name: 'tax_email', type: 'string' },                   // 이메일            
						{ name: 'tax_bill_no', type: 'string' },                 // 세금계산서번호
						{ name: 'tax_bill_date', type: 'string' },               // 세금계산서발행일자
						{ name: 'supply_amt', type: 'string' },                  // 총공급가액
						{ name: 'vat_amt', type: 'string' },                     // 총부가세금액
						{ name: 'bill_req_cd', type: 'string' },                 // 비용확인요청코드
						{ name: 'bill_req_nm', type: 'string' },                 // 비용확인요청명(비용확인요청코드)FS009
						{ name: 'bill_req_date', type: 'string' },               // 비용확인요청일자
						{ name: 'bill_rep_date', type: 'string' },               // 비용확인일자
						{ name: 'bill_mdify_note', type: 'string' },	         // 비용수정요청내용
						{ name: 'bill_mdify_date', type: 'string' },	         // 비용수정요청일자
						{ name: 'bill_ar_cd', type: 'string' },                  // 입금확인
						{ name: 'bill_ar_nm', type: 'string' },                  // 입금확인명(대금수금코드)FS007
						{ name: 'ssmm', type: 'string' },                        // 비고
						{ name: 'mdfr_dt', type: 'string' },                     // 수정일
						{ name: 'mdfr_id', type: 'string' },                     // 수정자
						{ name: 'mdfr_nm', type: 'string' },                     // 수정자명
						{ name: 'cont_id', type: 'string' },                     // 계약담당자명
						{ name: 'cont_nm', type: 'string' },                     // 계약담당자명
						{ name: 'tax_bill_tp_cd', type: 'string' },              // 세금계산서발행구분
						{ name: 'tax_bill_tp_nm', type: 'string' },              // 세금계산서발행구분명
						{ name: 'sale_mng_id', type: 'string' },                 // 매출사원
						{ name: 'sale_mng_nm', type: 'string' },                 // 매출사원명
					],
					localdata: _this.serviceStmtList, // 위에서 셋팅해놓은 data를 localdata에 담아준다.
				};
				
				var dataAdapter = new $.jqx.dataAdapter(source); 

				$("#serviceStmtGrid").jqxGrid({  
					width: '100%',
					// height: '300',
					autoheight: true, //높이설정(자동)
					source: dataAdapter,    //위에서 만든 dataAdapter
					// sortable: true,
					// filterable: true,
					columnsresize: true,        //column의 너비를 컨텐츠에 맞게 리사이징
					pageable            :   true,
					pagermode           :   'simple',
					pagesize            :   5,
					pagerbuttonscount   :   10,
					showrowlines: false,
                    showcolumnlines: false,
					selectionmode: 'singlerow',
					columnsheight: 60,
					rowsheight: 70,
					autorowheight: true,
					editable: true,
					localization: { emptydatastring:'해당 자료가 존재하지 않습니다.' },
					columns: [                  // 각 컬럼값들의 대한 설정이다.
						// 운영자
						{ text: '', datafield: 'check', columntype: 'checkbox', width: 30, hidden:hiddenCol },
						{
							text: 'No', sortable: false, filterable: false, editable: false, groupable: false, draggable: false
							, resizable: false, datafield: '', columntype: 'number', width: (hiddenCol? 50:30), align:'center', cellsalign:'center',
							cellsrenderer: function (row, column, value) {
								return "<div style='text-align:center; margin-top:29px;'>" + (value + 1) + "</div>";
							}
						},
						{
							text: '서비스견적서', datafield: 'fs_bill_nm', align:'center', cellsalign:'center', editable: false,
							cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                var html = "<div class='list-txt' style='margin-top:14px;text-align:left;' >"
										 + "<p style='white-space:nowrap; overflow:hidden; text-overflow:ellipsis;'><a href='#' class='a-link' onClick='vue.openServiceStmtPop("+ JSON.stringify(rowdata) +")'>"+ value +"</a></p>"
										 + "<p class='small'><span class='tag number'>총 건수 "+ rowdata.est_cnt +"</span><span class='txt-sub'>"+ rowdata.fs_bill_no +"</span></p>"
										 + "</div>";

                                return html;
                            },
						},  
						{ 
							text: '작성자/작성일(정산일)', datafield: 'rgstr_nm', width: (hiddenCol? 130:90), align:'center', cellsalign:'center', editable: false,
							renderer: function (defaultText, alignment, height) {
								return '<div style="margin-top: 15px; text-align:center;">작성자<br/>작성일(정산일)</div>';
							},
                            cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                var html = "<div style='text-align: center; margin-top:18px;'>"
									     + "<div class='list-txt'><p>"+ value +"</p>"
										 + "<p class='small'>"+ rowdata.tax_bill_make_date +"</p></div>"
										 + "</div>";
                                return html;
                            },
						},
						{ text: '정산담당자', datafield: 'tax_bill_nm', align:'center', cellsalign:'center', width: (hiddenCol? 100:70), editable: false },
						{ text: '정산주체', datafield: 'bill_cst_nm', align:'center', cellsalign:'center', width: (hiddenCol? 140:100), editable: false }, 
						{ text: '정산담당자이메일', datafield: 'tax_email', align:'center', cellsalign:'center', width: (hiddenCol? 180:160), editable: false },
						{ 
							text: '총 청구금액/비용확인', datafield: 'supply_amt', align:'center', cellsalign:'center', width: (hiddenCol? 110:90), editable: false,
							renderer: function (defaultText, alignment, height) {
								return '<div style="margin-top: 15px; text-align:center;">총 청구금액<br/>비용확인</div>';
							},
							cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
								var classNm = rowdata.bill_req_cd == '03' ? 'complete' : '';
								var html = "<div style='text-align:center; margin-top:18px;'>"
									     + "<span>"+ Number(value).toLocaleString('ko-KR') +"</span> <br> "
								         + "<span class='txt-state "+ classNm +"'>"+ rowdata.bill_req_nm +"</span>"
										 + "</div>"
								return html; 
							},
						},
						// 운영자
						{ 
							text: '주문서번호', datafield: 'tax_bill_no', width: 90, align:'center', cellsalign:'center', editable: false, hidden:hiddenCol,
							renderer: function (defaultText, alignment, height) {
								return '<div style="margin-top: 15px; text-align:center;">주문서번호<br/>발행일자</div>';
							},
							cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                                var html = "<div style='text-align: center; margin-top:18px;'>"
									     + "<div class='list-txt'><p>"+ value +"</p>"
										 + "<p class='small'>"+ (rowdata.tax_bill_date == null ? '' : rowdata.tax_bill_date) +"</p></div>"
										 + "</div>";
                                return html;
                            },
						},
						{ text: '발행구분', datafield: 'tax_bill_tp_nm', width: 60, align:'center', cellsalign:'center', editable: false },
						{ text: '입금확인', datafield: 'bill_ar_nm', width: 60, align:'center', cellsalign:'center', editable: false },
						{ text: '계약담당자', datafield: 'cont_nm', width: (hiddenCol? 90:70), align:'center', cellsalign:'center', editable: false },  
						{ text: '매출사원', datafield: 'sale_mng_nm', width: (hiddenCol? 90:70), align:'center', cellsalign:'center', editable: false },  
						// 운영자
						{ 
							text: '비고', datafield: 'ssmm', width: 60, align:'center', cellsalign:'center', editable: false, hidden:hiddenCol,
							cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
								var html = "";
								if(value != null && value != '') {
									var ssmm = value.replaceAll('\n', '<br/>');
									html = "<div style='text-align:center; margin-top:18px''><div class='tooltip-wrap'>"
										 + "<i class='ico-tooltip'></i>"
										 + "<span class='tooltip-txt'>"+ rowdata.mdfr_dt +' '+ rowdata.mdfr_nm +"<br>" + ssmm + "</span>"
										 + "</div></div>";
								}

								// 툴팁 적용
								cmmTooltip();

                                return html;
                            },
						}, 
						{ 
							text: '수정요청', datafield: 'bill_mdify_note', width: 60, align:'center', cellsalign:'center', editable: false,
							cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
								var html = "";
								if(value != null && value != '') {
									var ssmm = value.replaceAll('\n', '<br/>');
									html = "<div style='text-align:center; margin-top:18px''><div class='tooltip-wrap'>"
										 + "<i class='ico-tooltip'></i>"
										 + "<span class='tooltip-txt'>"+ rowdata.bill_mdify_date +"<br>" + ssmm + "</span>"
										 + "</div></div>";
								}

								// 툴팁 적용
								cmmTooltip();

                                return html;
                            },
						}, 
					]  
				});

				let pageNum = 0;
				// 페이지 이동시 선택 초기화
                $("#serviceStmtGrid").off('pagechanging').on('pagechanging', function (event) {
                    pageNum = event.args.pagenum
                    $('#serviceStmtGrid').jqxGrid('clearselection');
                });

				// row select 시 하단 상세 그리드 변경
				$('#serviceStmtGrid').off('rowselect').on('rowselect', function (event) {
					_this.serviceStmtData = $('#serviceStmtGrid').jqxGrid('getrowdata', args.rowindex);
					_this.dtlTotalCnt = _this.serviceStmtData.est_cnt;
					_this.getServiceStmtDtlList();
				});

				// widow resize되면 tooltip이 동작하지 않음.
				$(window).resize(function() {
					cmmTooltip();
				});

				// 권한 별 컬럼 hide
				$("#serviceStmtGrid").jqxGrid('hidecolumn', 'firstname');

			},
			// 서비스견적서대상 상세 jqxGrid
			drawDtlTable: function() {
				let _this = this;

				// 사용자별 hidden column
                let hiddenCol = _this.userTpCd == '01' ? true : false;

				var dtlSource = {  
					datatype: "json", // json 형태의 데이터를 셋팅할 것이고. // array
					datafields: [     // 각필의 이름과 타입은 datafields에 마찬가지로 json 형태이다.
						{ name: 'sys_id', type: 'string' },                // 시스템id
						{ name: 'fs_no', type: 'string' },                 // 컨설팅번호
						{ name: 'fs_seq', type: 'string' },                // 컨설팅번호순번
						{ name: 'est_seq', type: 'string' },               // 
						{ name: 'fs_bill_no', type: 'string' },            // 청구번호
						{ name: 'cst_id', type: 'string' },                // 고객사
						{ name: 'cst_nm', type: 'string' },                // 고객사명
						{ name: 'receive_date', type: 'string' },          // 접수일자
						{ name: 'fs_mng_id', type: 'string' },             // 세스코담당자
						{ name: 'fs_mng_nm', type: 'string' },             // 세스코담당자명
						{ name: 'prod_cd', type: 'string' },               // 제품
						{ name: 'prod_nm', type: 'string' },               // 제품명
						{ name: 'prod_tp_cd', type: 'string' },            // 내용물
						{ name: 'prod_tp_cust_nm', type: 'string' },       // 
						{ name: 'prod_item', type: 'string' },             // 품목번호
						{ name: 'prod_unit_cd', type: 'string' },          // 견적금액구분
						{ name: 'prod_unit_nm', type: 'string' },          // 견적금액구분명
						{ name: 'prod_mafa_nm', type: 'string' },          // 제조업체명
						{ name: 'status', type: 'string' },                // 상태
						{ name: 'ssmm', type: 'string' },                  // 비고
						{ name: 'cst_mng_id', type: 'string' },            // 고객담당자
						{ name: 'cst_mng_nm', type: 'string' },            // 고객담당자명
						{ name: 'fs_bill_yn', type: 'string' },            // 세금계산서 발행구분(정산여부)
						{ name: 'est_amt', type: 'string' },               // 견적금액
						{ name: 'est_ssmm', type: 'string' },              // 견적ssmm
						{ name: 'fs_status_cd', type: 'string' },          // 진행상태
						{ name: 'fs_status_nm', type: 'string' },          // 진행상태명
						{ name: 'mem_cnt', type: 'string' },               // 참여자 수
						{ name: 'mdfr_dt', type: 'string' },               // 최종처리일시
						{ name: 'sale_tp_cd', type: 'string' },            // 매출구분
						{ name: 'sale_tp_nm', type: 'string' },            // 매출구분명
					],
					localdata: _this.serviceStmtDtlList, // 위에서 셋팅해놓은 data를 localdata에 담아준다.
				};
				
				var dtlDataAdapter = new $.jqx.dataAdapter(dtlSource);  

				$("#serviceStmtDtlGrid").jqxGrid({  
					width: '100%',
					// autowidth: true,
					// height : '250',
					autoheight: true,
					autorowheight: true,
					source: dtlDataAdapter,     // 위에서 만든 	
					// sortable: true,
					// filterable: true,
					columnsresize: true,        // column의 너비를 컨텐츠에 맞게 리사이징
					selectionmode: 'singlerow',
					columnsheight: 50,
					rowsheight: 70,
					showrowlines: false,
					showcolumnlines: false,
					editable: true,
					localization: { emptydatastring:'해당 자료가 존재하지 않습니다.' },
					columns: [                  // 각 컬럼값들의 대한 설정이다.
						{
							text: 'No', sortable: false, filterable: false, editable: false,
							groupable: false, draggable: false, resizable: false,
							datafield: '', columntype: 'number', align:'center', cellsalign:'center', width: 40,
							cellsrenderer: function (row, column, value) {
								return "<div style='margin-top: 17px;'>" + (value + 1) + "</div>";
							}
						},
						{ 
							text: '컨설팅번호 / 고객사', datafield: 'fs_no', align:'center', cellsalign:'center', editable: false,
							renderer: function (defaultText, alignment, height) {
								return '<div style="margin-top: 10px; text-align:center;">컨설팅번호<br/>고객사</div>';
							},
							cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
								var param = {sys_id:rowdata.sys_id, fs_no:value, fs_seq:rowdata.fs_seq};
                                var html = "<div class='col-consultant' style='margin-top:14px'>"
                                         + "<span class='tag blue'>"+ rowdata.prod_unit_nm +"</span>"
                                         + "<span>"+ rowdata.cst_nm +"</span><br>" + "<span style='display:inline-block;margin-top:3px;'>"+value +"-"+ rowdata.fs_seq+"</span>"
                                        //  + "<a href='#none' class='a-link' onClick='vue.movePage(\"2\", "+ JSON.stringify(param) +")'>"+ value +"-"+ rowdata.fs_seq +"</a>";
                                         + "</div>"
								return html;
                            }
						},
						{ text: '제품명', datafield: 'prod_nm', width: 120, align:'center', cellsalign:'center', editable: false },
						{ text: '매출구분', datafield: 'sale_tp_nm', width: 110, align:'center', cellsalign:'center', editable: false },
						{ text: '식품유형', datafield: 'prod_tp_cust_nm', width: 110, align:'center', cellsalign:'center', editable: false },
						{ text: '제조업체명', datafield: 'prod_mafa_nm', width: 120, align:'center', cellsalign:'center', editable: false },
						{ text: '품목보고번호', datafield: 'prod_item', width: 110, align:'center', cellsalign:'center', editable: false },
						{ 
							text: '담당자 / 접수일시', datafield: 'cst_mng_nm', width: 150, align:'center', cellsalign:'center', editable: false,
							renderer: function (defaultText, alignment, height) {
								return '<div style="margin-top: 10px; text-align:center;">담당자<br/>접수일자</div>';
							},
							cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
								var html = "<div class='list-txt' style='margin-top:19px'>"
										 + "<p>"+ value +"</p>"
										 + "<p class='small'>"+ rowdata.receive_date +"</p>"
										 + "</div>"
								return html;
                            }
						},
						{ 
							text: '세스코담당자/견적단가', datafield: 'est_amt', width: 180, align:'center', editable: false,
							renderer: function (defaultText, alignment, height) {
								return '<div style="margin-top: 10px; text-align:center;">세스코담당자/견적단가<br/>진행상태/참여자수</div>';
							},
							cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
								var html = "<div style='margin-top:14px;'><div class='list-txt'>"
                                        + "<p><span>"+ rowdata.fs_mng_nm +"</span> / <span>"+ Number(value).toLocaleString('ko-KR') +"</span></p>"
                                        + "<p><span class='tag'>"+ rowdata.fs_status_nm +"</span><span class='tag'>참여자수 "+ rowdata.mem_cnt +"</span></p>"
										+ "</div></div>";

                                return html;
                            }
						},
						{ text: '최종처리일시', datafield: 'mdfr_dt', width: 180, align:'center', cellsalign:'center', editable: false },
					]  
				});

				// radio버튼처럼 check됨.
				$("#serviceStmtDtlGrid").on('cellbeginedit', function (event) {
					var args = event.args;
					var rowBoundIndex = args.rowindex;
					var rowDatas = $("#serviceStmtDtlGrid").jqxGrid('getrows');
					for( var i = 0 ; i < rowDatas.length ; i++ ) {
						if(rowDatas[i].check == true){
							var rowIndex = $("#serviceStmtDtlGrid").jqxGrid('getrowboundindex', i);
							$("#serviceStmtDtlGrid").jqxGrid('setcellvalue', rowIndex , 'check' , false);
						}
					}

					$("#serviceStmtDtlGrid").jqxGrid('setcellvalue', rowBoundIndex , 'check' , true);
				});


			},
			// 검색 필수 check
			checkSrchValidation: function() {
				let _this = this;
				
				// 날짜 validation check
				if(_this.startDate) {
					if(!dateValidationAndAlert(_this.startDate)) {
						return false;
					} 
				}
				
				if(_this.endDate) {
					if(!dateValidationAndAlert(_this.endDate)) {
						return false;
					}
				}

				return true;
			},
			getChangeComboList: function() {
				var _this = this;
				var param = [
					// 고객사 combo list
					{cmm_cd:'cst', p_type:'03', p_parm4:_this.startDate, p_parm5:_this.endDate, arr_nm:'cstList', comboType:'all'} 
					// 정산담당자 combo list
					, {cmm_cd:'mng', p_type:'03', p_parm4:_this.startDate, p_parm5:_this.endDate, arr_nm:'billMngList', comboType:'all'}
					// 계약담당자 combo list
					, {cmm_cd:'mng', p_type:'12', p_parm4:_this.startDate, p_parm5:_this.endDate, arr_nm:'contMngList', comboType:'all'}
				];
				getCodeListForArrNm(param, _this, _this.initDrawTables);
			},
			initDrawTables: function() {
				this.drawTable();
				this.drawDtlTable();
			},
		},
		created() {
			this.setPeriod("currentMonth");
		},
		mounted: function() {
			var _this = this;
			var param = [
				// 입금확인
				{cmm_cd:'FS007', arr_nm:'codeList01', comboType:'all'}
				// 비용확인요청
				, {cmm_cd:'FS009', arr_nm:'codeList02', comboType:'all'}
			];
			getCodeListForArrNm(param, _this, _this.getServiceStmtList('srch'));
		}
	})
});

// 비고 수정 팝업
Vue.component('serviceRemarkPop', {
	template: '#serviceRemarkPop',
	props: ['remarkPop', 'serviceStmtPopData'],
	data() {
		return {
		}
	},
	methods: {
		closePop(e) {
			let _this = this;
			// $emit : 부모컴포넌트로 자식 값 전달
			_this.$emit("close-remark-pop",false)
		},
		setServiceStmtRemark: function() {
			// 체크된 데이터
			let _this = this;
			let url = '/api/service/setServiceStmtRemark';
			let param = {
				ssmm: _this.serviceStmtPopData.ssmm
				, fs_bill_no: _this.serviceStmtPopData.fs_bill_no
				, fs_bill_seq: _this.serviceStmtPopData.fs_bill_seq
			};

			axiosCall('post', url, param, function(res){
				cmmAlert("수정되었습니다.")
				_this.$parent.getServiceStmtList();
				_this.closePop();
			});
		}
	},
	mounted: function (){
	},
});

</script>

</head>
<body>	
	<section layout:fragment="content" id="app"  v-cloak>		
		<div class="page-head">
			<!-- content -->			
			<div class="page-content">
				<div class="page-box">
					<div class="clear">
						<h2 class="page-title fl">서비스견적서</h2>
						<div class="fr">
							<button class="btn-search" @click="getServiceStmtList('srch')"><i></i>조회</button>
						</div>
					</div>
					<hr>
					<div class="board-search mgt20">
						<table>
							<colgroup>
								<col width="60px"><col width="310px">
								<col width="110px"><col width="">
								<col width="120px"><col width="">
								<col width="120px"><col width="">
							</colgroup>
							<tbody>
								<tr>
									<th rowspan="2" class="valign-b th-pd">등록일</th>
									<td rowspan="2" class="valign-b">
										<div class="mini-btns">
											<button @click="setPeriod('currentMonth')">당월</button>
											<button @click="setPeriod('currentYear')">당해</button>
											<button @click="setPeriod('oneMonth')">1개월</button>
											<button @click="setPeriod('threeMonth')">3개월</button>
											<button @click="setPeriod('sixMonth')">6개월</button>
											<button @click="setPeriod('oneYear')">1년</button>
											<button @click="setPeriod('all')">전체</button><!-- 2022.12.09 검색조건 "전체" 추가 -->
										</div>
										<div class="calendar-wrap"><!-- 2022.12.09 "전체"  클릭시 all 클래스 추가, 아닐경우 제거 -->
											<span class="calendar-box">
												<date-picker-from name="startDate" type="text" id="startDate" size="12" title="등록 조회 시작일" 
												:val="startDate" @on-change-start-date="onChangeStartDate"/>
												<label for="startDate"></label>
											</span>
											<span class="dash">~</span>
											<span class="calendar-box">
												<date-picker-to name="endDate" type="text" id="endDate" size="12" title="등록 조회 종료일" 
												:val="endDate" @on-change-end-date="onChangeEndDate"/>
												<label for="endDate"></label>
											</span>
										</div>
									</td>
									<th v-if="(userTpCd!='01')">입금확인</th>
									<td v-if="(userTpCd!='01')">
										<select class="full" title="입금확인" v-model="srchBillArCd">
											<option v-for="(item, index) in codeList01" :value="item.cmm_dtl_cd">{{item.cmm_dtl_nm}}</option>
										</select>
									</td>
									<th v-if="(userTpCd!='01')">계약담당자</th>
									<td v-if="(userTpCd!='01')">
										<select class="full" title="계약담당자" v-model="srchContMngId">
											<option v-for="(item, index) in contMngList" :value="item.cmm_dtl_cd">{{item.cmm_dtl_nm}}</option>
										</select>
									</td>
									<th>비용확인상태</th>
									<td>
										<select class="full" title="비용확인상태" v-model="srchBillReqCd">
											<option v-for="(item, index) in codeList02" :value="item.cmm_dtl_cd">{{item.cmm_dtl_nm}}</option>
										</select>
									</td>
								</tr>
								<tr>
									<th v-if="(userTpCd!='01')">고객사</th>
									<td v-if="(userTpCd!='01')">
										<select class="full" title="고객사" v-model="srchCstId">
											<option v-for="(item, index) in cstList" :value="item.cmm_dtl_cd">{{item.cmm_dtl_nm}}</option>
										</select>
									</td>
									<th>정산담당자</th>
									<td>
										<select class="full" title="정산담당자" v-model="srchTaxBillId">
											<option v-for="(item, index) in billMngList" :value="item.cmm_dtl_cd">{{item.cmm_dtl_nm}}</option>
										</select>
									</td>
									<th>서비스견적서번호</th>
									<td><input type="text" class="full" v-model="srchFsBillNo"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="page-box">
					<div>
						<div class="clear">
							<div class="fl"><h3 class="content-title">서비스견적서</h3></div>
							<div class="fr" v-if="(userTpCd!='01')">
								<button class="btn-save" @click="sendEmailForCstReq" :style="(reqBtn ? disabledStyle : '')" :disabled="reqBtn">고객확인요청</button>
								<button class="btn-save" @click="setDelServiceStmtList" :style="(delBtn ? disabledStyle : '')" :disabled="delBtn">서비스견적서삭제</button>
								<button class="btn-save" @click="openRemarkPop(true)" :style="(modiBtn ? disabledStyle : '')" :disabled="modiBtn">비고내용수정</button>
								<button class="btn-save" @click="setTaxBillReq" :style="(taxReqBtn ? disabledStyle : '')" :disabled="taxReqBtn">주문서등록</button>
								<button class="btn-save" @click="setTaxBillCancel" :style="(taxReqBtn ? disabledStyle : '')" :disabled="taxReqBtn">주문서취소</button>
							</div>
						</div>
						<div id="serviceStmtGrid">
						</div>
					</div>
					<div class="mgt20">
						<div class="clear">
							<div class="fl">
								<h3 v-if="(serviceStmtData.fs_bill_nm == undefined ? false : true)" class="content-title-sub">
									<span>{{serviceStmtData.fs_bill_nm}}</span><span class="tag number big mgl10">총 건수 {{serviceStmtData.est_cnt}}</span>
								</h3>
							</div>
						</div>
						<div class="sub-grid">
							<div id="serviceStmtDtlGrid">
							</div>
						</div>
					</div>
				</div>
			</div>
			<service-reg-pop v-if="regPop" :reg-pop="regPop" :service-stmt-pop-data="serviceStmtPopData" @close-reg-pop="closeRegPop"></service-reg-pop>
			<service-remark-pop v-if="remarkPop" :remark-pop="remarkPop" :service-stmt-pop-data="serviceStmtPopData"  @close-remark-pop="closeRemarkPop"></service-remark-pop>
			<!-- //content -->
		</div>
		<div id="reportDiv">
		</div>
	</section>	    
</div>
</body>
</html>
<template id="serviceRemarkPop">
	<div class="layer-pop-wrap">
		<div class="layer-pop-box midium">
			<div class="pop-wrap">
				<h1 class="blind">서비스 견적서 비고</h1>
				<header class="pop-header">
					<div class="pop-header-title-wrap">
						<h3 class="pop-header-title">서비스 견적서 비고</h3>
						<button class="btn-pop-close js-pop-close" @click="closePop">닫기</button>
					</div>
				</header>
				<div class="pop-container">
					<div class="pop-common-box">
						<textarea cols="30" rows="10" class="full ht250" v-model="serviceStmtPopData.ssmm"></textarea>
					</div>
				</div>
				<div class="pop-bottom">
					<div class="pop-btn-box">
						<a href="#" class="btn-pop-bottom js-pop-close" @click="closePop">취소</a>
						<a href="#" class="btn-pop-bottom" @click="setServiceStmtRemark">등록</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>