<!DOCTYPE html>
<html lang="ko">
<head>
<title>표시컨설팅</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="../../../static/css/import.css"/>
<script type="text/javascript" src="../../../static/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../static/js/common.js"></script>
<script>
$(function(){
    //alert();
})
</script>
</head>
<body>
<div class="wrap main">
	<div class="wrapInner">
		<header id="header" class="header">
            <div class="header-inner">
                <div class="header-main">
                    <h1 class="logo">
                        <a href="#"><span>표시컨설팅</span></a>
                    </h1>
                </div>
                <nav id="nav" class="header-nav">
                    <ul class="nav-1depth">
                        <li class="is-opened"><a href="#"><span class="txt">표시컨설팅</span></a></li>
                        <li><a href="#"><span class="txt">정산대상</span></a></li>
                        <li><a href="#"><span class="txt">서비스견적서</span></a></li>
                        <li><a href="#"><span class="txt">공지사항</span></a></li>
                    </ul>
                </nav>
                <div class="utility">
                    <div class="profile-layer" id="utilityProfile">
                        <ul class="profile-menu">
                            <li class="name">
                                <a href="#"><span>CJ제일제당</span><span>김고객</span></a>
                            </li>
                            <li class="logout">
                                <a href="#">로그아웃</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		</header>
		
		<div id="container" class="container">
			<div id="content" class="content">
                <!-- content -->
				<div class="page-content">
                    <div class="page-box">
                        <div class="clear">
                            <div class="fl"><h3 class="content-title">표시컨설팅</h3></div>
                            <div class="fr">
                                <div class="list-select-box Family">
                                    <a href="#" class="btn-select"> <span>Family Site</span>
                                    </a>
                                    <ul class="list-select">
                                        <li><a href="https://www.cesco.co.kr/" target="_blank"><span>세스코 통합 홈페이지</span></a></li>
                                        <li><a href="https://www.cescofood.co.kr/CescoFs/" target="_blank"><span>세스코 푸드 홈페이지</span></a></li>
                                        <li><a href="https://www.cescoacademy.co.kr/Main.cmd?cmd=academyUser" target="_blank"><span>세스코 아카데미</span></a></li>
                                        <li><a href="https://www.cesco.co.kr/solution/service/alien" target="_blank"><span>세스코 이물분석 서비스 </span></a></li>
                                        <li><a href="https://www.cesco.co.kr/solution/service/exam" target="_blank"><span>세스코 시험분석 서비스</span></a></li>
                                        <li><a href="https://mall.cesco.co.kr" target="_blank"><span>세스케어 쇼핑몰</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <ul class="hc-menu-wrap">
                                <li>
                                    <a href="https://www.cescoacademy.co.kr" target="_blank">
                                        <div>
                                            <h4>식품안전교육 <span>(HACCP, 위생용품 등)</span></h4>
                                            <p>식약처 지정 HACCP 훈련기관(제10호)<br>및 위생용품 위생교육기관(제4호)</p>
                                        </div>
                                        <div><i class="ico-hc-01"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="" target="_blank">
                                        <div>
                                            <h4>시험분석 서비스</h4>
                                            <p>국내 최고 수준의 전문시험 검사서비스<br>식품/축산물/건강기능식품/위생용품 등</p>
                                        </div>
                                        <div><i class="ico-hc-02"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.cesco.co.kr/solution/service/alien" target="_blank">
                                        <div>
                                            <h4>통합이물분석 서비스</h4>
                                            <p>국내 유일, 이물전문 분석센터<br>30여가지 유형별 전문 분석 기법</p>
                                        </div>
                                        <div><i class="ico-hc-03"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://mall.cesco.co.kr" target="_blank">
                                        <div>
                                            <h4>환경위생 솔루션 <span>(세스케어)</span></h4>
                                            <p>케미컬 솔루션과 클리닝 솔루션<br>맞춤형 친환경 환경위생용품 브랜드</p>
                                        </div>
                                        <div><i class="ico-hc-04"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="page-box">
                        <div class="clear">
                            <div class="fl"><h3 class="content-title">공지사항</h3></div>
                            <div class="fr">
                                <button class="btn-txt">더보기</button>
                            </div>
                        </div>
                        <div>
                            그리드 영역
                        </div>
                    </div>
				</div>
				<!-- //content -->
			</div>
		</div>
	</div>
	
	<footer id="footer" class="footer">
		<div class="footer-inner">
			<div>
				(주)세스코 서울특별시 강동구 상일로 10길 46 세스코 터치센터(134-090)&nbsp;&nbsp;&nbsp;&nbsp;Tel : 1588-1119&nbsp;&nbsp;&nbsp;&nbsp;
				대표이사 : 사장 전찬혁&nbsp;&nbsp;&nbsp;&nbsp;사업자등록번호 : 212-81-05946<br>
				COPYRIGHT(C) BY CESCO CO., LTD. ALL RIGHTS RESERVED.
				<div class="footer-link-box">
				    <a href="">개인정보처리방침</a>
				    <a href="">서비스 이용약관</a>
				    <a href="">전자금융거래이용약관</a>
				</div>
			</div>
		</div>
	</footer>
</div>
</body>
</html>
