<script th:inline="javascript" type="text/javascript">

    var UnActivityRecord
    $(document).ready(function(){
        UnActivityRecord = new Vue({
            el: '#SalesUnActivityPop',
            data: {
                eformLoc		:	[[${eformLoc}]],
                eformDir		:	[[${eformDir}]],
                sendTypeList	: 	[],
                contentData     :   null,
                paramsdata     : 
                    { 
                        sys_id  : [[${sys_id}]],
                        fs_no   : [[${fs_no}]],
                        etc_seq  : [[${etc_seq}]],
                        user_id : [[${session.userId}]]
                    },
                userTpCd        : [[${session.userTpCd}]],
                userId          : [[${session.userId}]],
                userNm          : [[${session.userNm}]],
                sys_id          : [[${sys_id}]],
                fs_no           : [[${fs_no}]],
                etc_seq         : [[${etc_seq}]],
                md_date         : null,
                user_id         : [[${user_id}]],
                etc_status_cd         : [[${etc_status_cd}]],
                fs_mng_id         : [[${fs_mng_id}]],
                email           : [[${session.email}]]
            },
            mounted: function (){
                console.log("팝업시작");
                var _this = this;
                let url = '/api/main_hc/getUnActivityRecord';
                let msg = '';
                
                axiosCall('get', url, _this.paramsdata, function(res){
                    console.log(res);
                    if(res.data.length != 0){
                        _this.contentData = res.data;
                        console.log(res);
                        console.log("content0:");
                        console.log(_this.contentData);
                         _this.md_date=_this.contentData.md_date;
                                var form = document.createElement('form');
                                form.target = 'eformView';
                                form.method = 'POST';
                                form.style.display = 'none';
                                form.action = _this.eformLoc + '/UnActivityRecord.jsp';
                                
                                var input0 = document.createElement('input');
                                input0.type = 'hidden';
                                input0.name = 'content0';
                                input0.value = '{\"content0\":' + JSON.stringify(_this.contentData) + '}';
                                console.log("content1:");
                                console.log("paramsdata1");
                                form.appendChild(input0);
                                var fileNm = document.createElement('input');
                                fileNm.type = 'hidden';
                                fileNm.name = 'fileNm';
                                fileNm.value = _this.fs_no + '_' + _this.userId + '_' + _this.md_date;
                                console.log("파일이름: " + fileNm.value);    
                                var eformDir = document.createElement('input');
                                eformDir.type = 'hidden';
                                eformDir.name = 'eformDir';
                                eformDir.value = _this.eformDir;
                        
                                form.appendChild(fileNm);
                                form.appendChild(eformDir);
                                document.body.appendChild(form);
                                form.submit();
                        }else{                          
                            console.log("데이터가 존재하지 않습니다1.");
                    }
                }, msg);
            
                },
            methods: {
                getActivityRecord : function(paramdata){
                    let url = '/api/main_hc/getUnActivityRecord';
                    let _this = this;
                    let msg = '';
                    axiosCall('get', url, _this.paramsdata, function(res){
                        
                        if(res.data.length != 0){
                            console.log(res.data)
                            _this.contentData = res.data;
                        }else{
                            console.log("데이터가 존재하지 않습니다2.");
                        }
                    }, msg);
                },
                setPeriod: function(e,val) {
                    let _this = this;
                    $('.but-tiem').removeClass('mini-btns-togger')
                    e.target.setAttribute('class','but-tiem mini-btns-togger')
                    var periodDate = getPeriod(val);
                    _this.srchParam.start_date = periodDate.startDt;
                    _this.srchParam.end_date = periodDate.endDt;
                },
                closePopup: function() {
                    let _this = this;
                    vue.getCoslEtcDayList();
                    closeCmmPopup('SalesUnActivityPop');
                },
                reqUpdateToMng: function(){
                let _this = this;
                let url = "/api/main_hc/setReqUpdate";
                let param = {fs_no:_this.contentData.fs_no, cst_mng_id:_this.contentData.cst_mng_id, sys_id:_this.contentData.sys_id}
                axiosCall('post', url, param, function(res){
                        console.log("수정요청")
                        _this.sendCstToMngr(2);
                        _this.sendAlarmMngr(2);
                        cmmAlert("수정 요청 되었습니다.");                   
                        })
                },
                sendMngrToCst: function() {
                    let _self = this;
                    let url = "/api/main_hc/sendMail";
                    let param = {receive_email:_self.email
                            , status: '1'
                            , send_nm:_self.userNm
                            , user_id:_self.userId
                            , sys_id:_self.contentData.sys_id
                            , receive_nm:_self.contentData.cst_mng_nm2 }
                    axiosCall('post', url,param,function(res){
                            console.log("메일")
                            console.log(res.data)
                        })
                },
                sendCstToMngr: function(type) {
                    let _self = this;
                    let url = "/api/main_hc/sendMail";
                    let param = {receive_email:_self.email
                            , status: type
                            , send_nm:_self.userNm
                            , user_id:_self.userId
                            , sys_id:_self.contentData.sys_id
                            , receive_nm:_self.contentData.fs_mng_nm2 }
                axiosCall('post', url,param,function(res){
                            console.log(res.data)
                        })
                },
                sendAlarmMngr: function(type){
                    let _self = this;
                    let url = "/api/main_hc/setMsgAlarm";
                    let param = {fs_mng_id: _self.contentData.fs_mng_id
                                //fs_mng_id: "CESCO00008"
                                , cst_mng_nm: _self.contentData.cst_mng_nm
                                , contents: type}
                    axiosCall('post', url,param,function(res){
                                console.log("세스톡")
                                console.log(res.data)
                            })
                },
            }     
        });
    });
    
    $(window).off('message');
    $(window).on('message', function (e) {
        if(e.originalEvent.data.request!=undefined){
            var parameter = UnActivityRecord.paramsdata1;
            let url = '/api/main_hc/setModifyRequest';
                    axiosCall('post',url,parameter , function (res) {
                        console.log("수정요청");
                        if (res.data.body != 0) {
                            alert("수정요청이 완료되었습니다");             
                        }else{
                            alert("수정 요청 중 에러가 발생했습니다. 담당자에게 연락 주시길 바랍니다.");             
                        }
                    });
        }else{
        var json = e.originalEvent.data.resultJson;
        var result = json.errorCode;
        var inputJson = {};
        var cst_mng_sig_yn;
        var filenm1;
        var filesize1;
        var servfilenm;
        var signimage;
        var clipsign;
        
        console.log("UnActivityRecord.contentData.userTpCd:" + UnActivityRecord.userTpCd)
        console.log("UnActivityRecord.contentData.userTpCd:" + UnActivityRecord.contentData.md_status_cd)
        console.log("UnActivityRecord.contentData.userTpCd3:" + UnActivityRecord.contentData.userTpCd)
        console.log("md_status_cd:"+ UnActivityRecord.contentData.md_status_cd);
        console.log("user_tp_cd:"+ UnActivityRecord.contentData.userTpCd);
        console.log("md_date:"+ UnActivityRecord.contentData.md_date);
        
        console.log("atch_nm:" + filenm1);    
         inputJson ={
            sys_id : UnActivityRecord.contentData.sys_id,
            fs_no : UnActivityRecord.contentData.fs_no,
            fs_seq : UnActivityRecord.fs_seq,
            etc_day : UnActivityRecord.contentData.etc_day,
            atch_nm : json.counterpartFilePath,
            atch_size : json.fileSize,
            url : '/file/fsccs/',
            org_file_nm : json.counterpartFilePath,
            ser_file_nm : json.counterpartFilePath,
            user_id : UnActivityRecord.userId,
            etc_seq : UnActivityRecord.contentData.etc_seq
            
        }
        var loginID = UnActivityRecord.userId;
            json.userId = loginID;
            if (result == 0) {
                let url = '/api/main_hc/setUnActivityRecord';
                axiosCall('post', url, inputJson, function (res) {
                    console.log(res);

                    console.log("저장1");
                    if (res.data.body != 0) {
                        alert('저장이 완료되었습니다.');
                        
                        let sendMailParam = {};
                        let url = "/api/hcConsulting/sendMailList";
                        let sendMailMembers = [];

                        var mailList = UnActivityRecord.contentData.mail_item.split(',')

                        mailList.forEach((el, index) => {
                            var receiveTarget = el.split('/');
                            console.log("mailList.forEach", receiveTarget[1]);
                            sendMailParam.user_id = UnActivityRecord.userId;
                            sendMailParam.send_nm = UnActivityRecord.userNm
                            sendMailParam.sys_id =  UnActivityRecord.sys_id;
                            sendMailParam.receive_email =  receiveTarget[1];                            // 받는 사람 메일
                            sendMailParam.receive_nm =  receiveTarget[0];                               // 받는 사람 명
                            sendMailParam.send_tp_cd  ='12';                                            // 서비스 외 방문일지 메일 코드
                            sendMailParam.cst_nm = '';                                                  // 받는 사람 회사명
                            sendMailParam.send_text = "서비스 외 방문일지";                             // 전송 내용
                            sendMailParam.send_chat_st_nm = UnActivityRecord.contentData.md_status_cd;  // 진행 상태 명
                            sendMailParam.prod_nm = "서비스 외 방문일지";                               // 상품 명
                            sendMailParam.rgstr_dt = UnActivityRecord.contentData.md_date;              // 상품 등록 날짜
                            sendMailParam.ssmm = UnActivityRecord.contentData.fs_no;
                            sendMailMembers.push(sendMailParam);
                        });
                        axiosCall('post', url, sendMailMembers, res => {
                            UnActivityRecord.closePopup();
                            console.log("저장2");
                            var filter = "win16|win32|win64|mac|macintel";
                            if (navigator.platform) {
                                console.log("저장3");
                                if (filter.indexOf(navigator.platform.toLowerCase()) < 0) {
                                    console.log("저장4");
                                    opener.ActivityRecord
                                }
                            }
                        })
                    }
                    });
                }
                else if (result == 1) {
                    alert('리포트 정보가 없습니다.');
                    return false;
                }else if (result == 2) {
                    alert('리포트 서버 설치가 안되어있습니다.');
                    return false;
                }else if (result == 3) {
                    alert('결과물(document) 파일을 찾지 못하였습니다.');
                    return false;
                }else if (result == 4) {
                    alert('PDF 파일 생성시 오류가 발생하였습니다.');
                    return false;
                }else if (result == 5) {
                    alert('리포트 페이지가 존재하지 않습니다.');
                    return false;
                }
                
        }    
            });
    </script>
    
    <section layout:fragment="content" id="SalesUnActivityPop"  v-cloak>
        <div class="layer-pop-wrap">
            <div class="layer-pop-box large">
                <div class="pop-wrap">
                    <h1 class="blind">HACCP 수행일지</h1>
                    <header class="pop-header">
                        <div class="pop-header-title-wrap">
                            <h3 class="pop-header-title">HACCP 수행일지</h3>
                            <button class="btn-pop-close js-pop-close" @click="closePopup">닫기</button>
                        </div>
                    </header>
                    <div class="pop-container" style="overflow: hidden;">
                        <div class="pop-common-box">
                            <div class="service-detailed">
                                <div class="e-form-box">
                                    <div class="e-form-content">
                                           <iframe name="eformView" style="width: 100%; height: 700px;"></iframe>
                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    