<script th:inline="javascript" type="text/javascript">

    var ActivityRecord
    $(document).ready(function(){
        ActivityRecord = new Vue({
            el: '#SalesActivityPop',
            data: {
                eformLoc		:	[[${eformLoc}]],
                eformDir		:	[[${eformDir}]],
                sendTypeList	: 	[],
                contentData     :   null,
                contentData2     :   null,
                paramsdata1     : 
                    { 
                        sys_id  : [[${sys_id}]],
                        fs_no   : [[${fs_no}]],
                        fs_seq  : [[${fs_seq}]],
                        md_day  : [[${md_day}]],
                        user_id : [[${session.userId}]]
                    },
                paramsdata2     : 
                    { 
                        sys_id  : [[${sys_id}]],
                        fs_no   : [[${fs_no}]],
                        md_day  : [[${md_day}]],
                        sign_sheet_tp_cd  : '01',
                        user_id : ''
                    },    
                userTpCd        : [[${session.userTpCd}]],
                userId          : [[${session.userId}]],
                userNm          : [[${session.userNm}]],
                sys_id          : [[${sys_id}]],
                fs_no           : [[${fs_no}]],
                fs_seq          : [[${fs_seq}]],
                md_day          : [[${md_day}]],
                email           : [[${session.email}]],
                uscd            : ''
            },
            mounted: function (){
                console.log("팝업시작");
                var _this = this;
                let url = '/api/main_hc/getActivityRecord';
                let msg = '';
                
                axiosCall('get', url, _this.paramsdata1, function(res){
                    console.log(res);
                    if(res.data.length != 0){
                        _this.contentData = res.data;
                        console.log(res);
                        let url2 = '/api/main_hc/getActivityRecordSignCount';
                        let msg2 = '';
                        console.log("content0:");
                        console.log(_this.contentData);
                        axiosCall('get', url2, _this.paramsdata2, function(res2){
                            console.log(res2);
                            var mySignCK = 'N';
                            if(res2.data.length!=0){

                                console.log(res2);
                                _this.contentData2= res2.data;

                                for(var i = 0 ; i<_this.contentData2.length; i++){
                                    _this.contentData2[i].userId = _this.userId;
                                     
                                if(_this.contentData2[i].fs_chat_id == _this.userId && _this.contentData2[i].sign_image != null ){
                                        mySignCK ='Y';
                                    }
                                }
                                var form = document.createElement('form');
                                form.target = 'eformView';
                                form.method = 'POST';
                                form.style.display = 'none';
                                form.action = _this.eformLoc + '/ActivityRecord.jsp';
                                
                                var input0 = document.createElement('input');
                                input0.type = 'hidden';
                                input0.name = 'content0';
                                input0.value = '{\"content0\":' + JSON.stringify(_this.contentData) + '}';
                                
                                var input1 = document.createElement('input');
                                input1.type = 'hidden';
                                input1.name = 'content1';
                                input1.value = '{\"content1\":' + JSON.stringify(_this.contentData2) + '}';  

                                console.log("content1:");
                                console.log(_this.contentData2);
                                console.log("paramsdata1");
                                console.log(_this.paramsdata2);

                                form.appendChild(input0);
                                form.appendChild(input1);
                                
                                var fileNm = document.createElement('input');
                                fileNm.type = 'hidden';
                                fileNm.name = 'fileNm';
                                fileNm.value = _this.fs_no + '_' + _this.userId + '_' + _this.md_day;

                                var mdstatuscd = document.createElement('input');
                                mdstatuscd.type = 'hidden';
                                mdstatuscd.name = 'mdstatuscd';
                                mdstatuscd.value = _this.contentData.md_status_cd;

                                var signck = document.createElement('input');
                                signck.type = 'hidden';
                                signck.name = 'signck';
                                signck.value = mySignCK;

                                console.log("파일이름: " + fileNm.value);    
                                var eformDir = document.createElement('input');
                                eformDir.type = 'hidden';
                                eformDir.name = 'eformDir';
                                eformDir.value = _this.eformDir;
                        
                                form.appendChild(fileNm);
                                form.appendChild(eformDir);
                                form.appendChild(mdstatuscd);
                                form.appendChild(signck);
                                document.body.appendChild(form);
                                form.submit();
                            }
                            else{                          
                                console.log("데이터가 존재하지 않습니다1.");
                            }
                        },msg);
                    }else{                          
                            console.log("데이터가 존재하지 않습니다1.");
                    }
                }, msg);
            
                },
            methods: {
                getActivityRecord : function(paramdata){
                    let url = '/api/main_hc/getActivityRecord';
                    let _this = this;
                    let msg = '';
                    console.log("고객구분코드 : " + ActivityRecord.contentData.userTpCd);
                    console.log("md_day콘텐츠 : " + ActivityRecord.contentData.md_day);
                    console.log("md_day콘텐츠 : " + ActivityRecord.contentData.md_day);
                    console.log("파일이름2: " + fileNm.value);    
                    axiosCall('get', url, _this.paramsdata1, function(res){
                        
                        if(res.data.length != 0){
                            console.log(res.data)
                            _this.contentData = res.data;
                        }else{
                            console.log("데이터가 존재하지 않습니다2.");
                        }
                    }, msg);
                },
                setPeriod: function(e,val) {
                    let _this = this;
                    $('.but-tiem').removeClass('mini-btns-togger')
                    e.target.setAttribute('class','but-tiem mini-btns-togger')
                    var periodDate = getPeriod(val);
                    _this.srchParam.start_date = periodDate.startDt;
                    _this.srchParam.end_date = periodDate.endDt;
                },
                closePopup: function() {
                    let _this = this;
                    
                    closeCmmPopup('SalesActivityPop');
                },
                reqUpdateToMng: function(){
                let _this = this;
                let url = "/api/main_hc/setReqUpdate";
                let param = {fs_no:_this.contentData.fs_no, cst_mng_id:_this.contentData.cst_mng_id, sys_id:_this.contentData.sys_id}
                axiosCall('post', url, param, function(res){
                        console.log("수정요청")
                        _this.sendCstToMngr(2);
                        _this.sendAlarmMngr(2);
                        cmmAlert("수정 요청 되었습니다.");                   
                        })
                },
                sendMngrToCst: function() {
                    let _self = this;
                    let url = "/api/main_hc/sendMail";
                    let param = {receive_email:_self.email
                            , status: '1'
                            , send_nm:_self.userNm
                            , user_id:_self.userId
                            , sys_id:_self.contentData.sys_id
                            , receive_nm:_self.contentData.cst_mng_nm2 }
                    axiosCall('post', url,param,function(res){
                            console.log("메일")
                            console.log(res.data)
                        })
                },
                sendCstToMngr: function(type) {
                    let _self = this;
                    let url = "/api/main_hc/sendMail";
                    let param = {receive_email:_self.email
                            , status: type
                            , send_nm:_self.userNm
                            , user_id:_self.userId
                            , sys_id:_self.contentData.sys_id
                            , receive_nm:_self.contentData.fs_mng_nm2 }
                axiosCall('post', url,param,function(res){
                            console.log(res.data)
                        })
                },
                sendAlarmMngr: function(type){
                    let _self = this;
                    let url = "/api/main_hc/setMsgAlarm";
                    let param = {fs_mng_id: _self.contentData.fs_mng_id
                                //fs_mng_id: "CESCO00008"
                                , cst_mng_nm: _self.contentData.cst_mng_nm
                                , contents: type}
                    axiosCall('post', url,param,function(res){
                                console.log("세스톡")
                                console.log(res.data)
                            })
                },
            }     
        });
    });

    $(window).off('message');
    $(window).on('message', function (e) {
        //console.log("파일이름3: " + fileNm.value);    
        if(e.originalEvent.data.request!=undefined){
            var parameter = ActivityRecord.paramsdata1;
            let url = '/api/main_hc/setModifyRequest';
                    axiosCall('post',url,parameter , function (res) {
                        console.log("수정요청");
                        if (res.data.body != 0) {
                            alert("수정요청이 완료되었습니다");             
                        }else{
                            alert("수정 요청 중 에러가 발생했습니다. 담당자에게 연락 주시길 바랍니다.");             
                        }
                    });
        }else{
        var json = e.originalEvent.data.resultJson;
        var result = json.errorCode;
        var inputJson = {};
        console.log("테스트00000000000000000000000");
        console.log(json.fileSize);
        var cst_mng_sig_yn;
        var filenm1;
        var filesize1;
        var servfilenm;
        var setDate;
        var signimage;
        var clipsign;
        console.log(json.values);
        if(json.values.clipsign1.data[0] == ''){
            cst_mng_sig_yn = 'N';
            filenm1 = '';
            filesize1 = '';
            servfilenm = '';
        }else{
            cst_mng_sig_yn = 'Y';
            filenm1 = json.counterpartFilePath;
            filesize1 = json.fileSize;
           // servfilenm = res.servfilename;
        }
    
        var fs_mng_sig_yn
        // if(json.values.clipsign2.data[0] == ''){
        //     fs_mng_sig_yn = 'N'
        // }else{
        //     fs_mng_sig_yn = 'Y'
        // }
        console.log("테스트11111111111111111111111");
      
        console.log("ActivityRecord.contentData.userTpCd:" + ActivityRecord.userTpCd)
        console.log("ActivityRecord.contentData.userTpCd:" + ActivityRecord.contentData.md_status_cd)
        console.log("ActivityRecord.contentData.userTpCd3:" + ActivityRecord.contentData.userTpCd)
        console.log("md_status_cd:"+ ActivityRecord.contentData.md_status_cd);
        console.log("user_tp_cd:"+ ActivityRecord.contentData.userTpCd);
        console.log("md_date:"+ ActivityRecord.contentData.md_date);

        if(ActivityRecord.userTpCd== "02" && ActivityRecord.contentData.md_status_cd == "01"){
            setDate = json.values.Calendar1.data[0];
        }
        else{
            setDate = ActivityRecord.contentData.md_date;
        }
        
     
        // for(var i = 0; i < json.values.length; i++){
        //     if(ActivityRecord.userId == json.values.fs_chat_id.data[i]){
        //         clipsign = json.values.clipsign1.data[i];
        //     }
        // }

        console.log("서명 개수:" +json.values.clipsign1.data.length);
        for(var i = 0; i< ActivityRecord.contentData2.length; i++){
            if(ActivityRecord.contentData2[i].userId == ActivityRecord.userId){
                if(json.values.clipsign1.data[i] != ''){
                     clipsign = json.values.clipsign1.data[i];
                }
            }
        }
        

        



        console.log("서명테스트값");
        console.log(clipsign);
        
        console.log("서명1" + json.values.clipsign1.data[0]);
        console.log("서명2" + json.values.clipsign1.data[1]);
        console.log("서명3" + json.values.clipsign1.data[2]);
        
        console.log("테스트222222222222222222222222222222");    
        console.log("atch_nm:" + filenm1);    
         inputJson ={
            sys_id : ActivityRecord.contentData.sys_id,
            fs_no : ActivityRecord.contentData.fs_no,
            fs_seq : ActivityRecord.fs_seq,
            // cst_id : ActivityRecord.contentData.cst_id, 
            // cst_nm : ActivityRecord.contentData.cst_nm,
            md_day : ActivityRecord.contentData.md_day,
            // md_status_cd : this.uscd, //수행일지 현황
            // //md_yn : '',
            // md_date : setDate,
            // con_text11 : json.values.Inputbox2.data[0],
            // con_text12 : json.values.Inputbox3.data[0],
            // con_text21 : json.values.Inputbox4.data[0],
            // con_text22 : json.values.Inputbox5.data[0],
            // con_text31 : json.values.Inputbox6.data[0],
            // con_text32 : '',
            // con_text41 : '',
            // con_text42 : '',
            // cst_mng_id : '',
            // fs_mng_sig_yn : '',
            // fs_mng_sig_date : '',
            atch_nm : filenm1,
            // //atch_nm : '',
            atch_size : filesize1,
            // //atch_size : '',
            // atch_ref_id : '',
            url : '/file/fsccs/',
            org_file_nm : filenm1,
            ser_file_nm : filenm1,
            //ser_file_nm : servfilenm,
            status : 'Y',
            rgstr_id : ActivityRecord.userId,
            rgstr_dt : '',
            mdfr_id : ActivityRecord.userId,
            mdfr_dt : '',
            cst_mng_sign : clipsign,
            
            // fs_mng_sign : json.values.clipsign2.data[0],
            //ssmm : '',
             //cst_mng_sig_yn : cst_mng_sig_yn,
             //cst_mng_sig_date : clipsign,
            fs_mng_sig_yn : fs_mng_sig_yn,
            user_id : ActivityRecord.userId
            
        }
        console.log("테스트444444444444444444444444444444333");    

    // }else{
    //     var inputjson = {
    //         sys_id : ActivityRecord.contentData.sys_id,
    //         fs_no : ActivityRecord.contentData.fs_no,
    //         fs_seq : ActivityRecord.fs_seq,
    //         cst_mng_sig_yn : cst_mng_sig_yn,
    //         cst_mng_sig_date : ActivityRecord.cst_mng_sig_date,
    //     }
    // }
        var saveData = {};
        var addData  = [];
        var error    = '';
        var loginID	 =	ActivityRecord.userId;
        var _this = this;
        //var value = JSON.stringify(json.values);
        console.log("테스트33333333333333333333333333333333333");    
        var isPass   = false;
    
        json.userId = loginID;
        if (result == 0) {
            let url = '/api/main_hc/setActivityRecord';
                    axiosCall('post',url, inputJson, function (res) {
                        console.log(res);
                        
                        console.log("저장1");
                        if (res.data.body != 0) {
                            alert('서명이 완료되었습니다.');
                            ActivityRecord.closePopup();
                            console.log("저장2");
                            var filter = "win16|win32|win64|mac|macintel";
                            if (navigator.platform) {
                                console.log("저장3");
                                if (filter.indexOf(navigator.platform.toLowerCase()) < 0) {
                                    console.log("저장4");
                                    opener.ActivityRecord
                                }
                            }
                        }
                    // if(fs_mng_sig_yn == 'Y'){
                    //     ActivityRecord.sendMngrToCst();
                    //     console.log("sendMngrToCst테스트");
                    // }
                    // if(cst_mng_sig_yn == 'Y'){
                    //     ActivityRecord.sendCstToMngr(1);
                    //     console.log("sendCstToMngr테스트");
                    //     ActivityRecord.sendAlarmMngr(1);
                    //     console.log("sendAlarmMngr테스트");
                    // }
                    location.reload(true); 
                    });
                }
                else if (result == 1) {
                    alert('리포트 정보가 없습니다.');
                    return false;
                }else if (result == 2) {
                    alert('리포트 서버 설치가 안되어있습니다.');
                    return false;
                }else if (result == 3) {
                    alert('결과물(document) 파일을 찾지 못하였습니다.');
                    return false;
                }else if (result == 4) {
                    alert('PDF 파일 생성시 오류가 발생하였습니다.');
                    return false;
                }else if (result == 5) {
                    alert('리포트 페이지가 존재하지 않습니다.');
                    return false;
                }
                
        }    
            });
    </script>
    
    <section layout:fragment="content" id="SalesActivityPop"  v-cloak>
        <div class="layer-pop-wrap">
            <div class="layer-pop-box large">
                <div class="pop-wrap">
                    <h1 class="blind">HACCP 수행일지</h1>
                    <header class="pop-header">
                        <div class="pop-header-title-wrap">
                            <h3 class="pop-header-title">HACCP 수행일지</h3>
                            <button class="btn-pop-close js-pop-close" @click="closePopup">닫기</button>
                        </div>
                    </header>
                    <div class="pop-container" style="overflow: hidden;">
                        <div class="pop-common-box">
                            <div class="service-detailed">
                                <div class="e-form-box">
                                    <div class="e-form-content">
                                           <iframe name="eformView" style="width: 100%; height: 700px;"></iframe>
                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    