<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="content-type" charset="UTF-8" />
		<title>세스코 표시컨설팅 알림 메일</title>
	</head>
	<body>

    <table width="1000" border="0" cellspacing="0" cellpadding="0" style="background-color:#fff;font-family:Malgun Gothic,맑은 고딕,dotum,sans-serif;">
        <tbody>
            <tr>
                <td style="border:0px solid #d0d0d0;border-width:1px 1px 0;">
                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr><td height="60" colspan="3"></td></tr>
                            <tr>
                                <td width="50">&nbsp;</td>
                                <td>
                                    <div style="margin:0;overflow:hidden;">
                                        <img src="../../../static/images/common/logo_2x.png" border="0" style="float:left;width:100px;margin-top:8px;" alt="CESCO 로고" />
                                        <h1 style="margin:0;margin-left:20px;font-weight:400;font-style:normal;color:#233975;font-size:35px;float:left;letter-spacing:-1.8px;font-family:Malgun Gothic,맑은 고딕,dotum,sans-serif;">세스코 표시컨설팅 알림 메일</h1>
                                    </div>
                                </td>
                                <td width="50">&nbsp;</td>
                            </tr>
                            <tr style="font-style:normal;font-size:20px;line-height:30px;letter-spacing:-0.07em;word-spacing:-0.03em;color:#000;font-family:Malgun Gothic,맑은 고딕,dotum,sans-serif;">
                                <td width="50">&nbsp;</td>
                                <td style="line-height:1.5;">
                                    <div style="margin-top:100px;padding-bottom:10px;border-bottom:3px solid #171725;font-size:30px;color:#233975;">[CPLB][컨설팅의뢰][김깐깐] 제품명</div>
                                    <div style="margin-top:40px;font-size:16px;color:#233975;">22/02/18 13:51:20 김깐깐 담당자 님으로부터 멘션 알림이 있습니다.</div>
                                    <div style="margin-top:15px;font-size:16px;color:#233975;">[CPLB][컨설팅의뢰][김깐깐] 제품명</div>
                                    <div style="margin-top:55px;font-size:16px;color:#233975;">@세스코운영자</div>
                                    <div style="margin-top:10px;font-size:25px;color:#233975;">[CPLB][김깐깐]님으로부터 <span style="color:#0052d9;">'제품명'</span> 접수가 의뢰되었습니다.</div>
                                </td>
                                <td width="50">&nbsp;</td>
                            </tr>
                            <tr><td height="100" colspan="3"></td></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- 푸터 -->
            <tr>
                <td>
                    <table border="0" cellspacing="0" cellpadding="0" style="width:100%;background:#e9ecf1;">
                        <tbody>
                            <td colspan="3" height="30">&nbsp;</td>
                            <tr>
                                <td width="50">&nbsp;</td>
                                <td style="font-style:normal;font-size:14px;line-height:20px;letter-spacing:-0.05em;color:#707070;font-family:Malgun Gothic,맑은 고딕,dotum,sans-serif;">
                                    (주)세스코 (대표이사 부회장 전찬혁)&nbsp;&nbsp;|&nbsp;&nbsp;주소 : 서울시 강동구 상일로 10길 46 세스코 터치센터 (우 : 05288)<br />
                                    사업자등록번호 : 212-81-05946&nbsp;&nbsp;|&nbsp;&nbsp;통신판매업신고번호 : 제 2008-서울강동-0240호<br />
                                    고객센터 : 1588-1119&nbsp;(평일 08:30~18:00, 토요일 08:30~15:00, 일요일/공휴일 휴무)&nbsp;&nbsp;|&nbsp;&nbsp;Fax : 02-488-1720<br>
                                    <span style="letter-spacing:-0.03em;">ⓒ ALL RIGHTS RESERVED.</span>
                                </td>
                                <td width="50">&nbsp;</td>
                            </tr>
                            <td colspan="3" height="30">&nbsp;</td>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- //푸터 -->
        </tbody>
    </table>
	</body>
</html>