<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/comm_default}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
<script th:inline="javascript" type="text/javascript">
  var pdfVue
  $(document).ready(function(){
    pdfVue = new Vue({
      el: '#app',
      data: {
        userTpCd:[[${session.userTpCd}]],
        sys_id: [[${sys_id}]],
        fs_bill_no: [[${fs_bill_no}]],
        fs_bill_seq: [[${fs_bill_seq}]],
        eformDir: [[${eformDir}]],
        eformLoc : [[${eformLoc}]],
        serviceStmtData: {},
        serviceStmtDtlList: []
		  },
      mounted: function (){
        let _this = this;
        let url = '/api/service/getServiceStmtViewInfo';
        let param = {
          sys_id: _this.sys_id,
          fs_bill_no: _this.fs_bill_no,
          fs_bill_seq: _this.fs_bill_seq
        };

        axiosCall('get', url, param, function(res){
          _this.serviceStmtData = res.data.serviceStatementData;
          _this.serviceStmtDtlList = res.data.serviceStatementDtlList;
          _this.drawReportForm();
        });

      },
      methods: {
        drawReportForm: function() {
					let _this = this;
          var taxbilltpcd = _this.serviceStmtData.tax_bill_tp_cd
					let _content0 = [{
						title       : _this.serviceStmtData.bill_cst_nm + ' 표시컨설팅 견적서',
						price       : Number(_this.serviceStmtData.supply_amt).toLocaleString('ko-KR') + "원 (VAT 별도)",
						detail      : "1) 표시검토 의뢰건수/청구비용 : " + _this.serviceStmtData.est_cnt + "건 / " 
						        	    + Number(_this.serviceStmtData.supply_amt).toLocaleString('ko-KR') + "원",
						note        : _this.serviceStmtData.ssmm,
            taxbilltpcd : taxbilltpcd,
            item1       : (taxbilltpcd == '01' ? "본 견적서로 계약서 갈음함" : ""),
            item2       : (taxbilltpcd == '01' ? "서비스 비용이 입금되어야 서비스 결과가 송부됨" : "")
					}];
          
					let _content1 = [];
					$.each(_this.serviceStmtDtlList, function(idx, obj) {
						obj.fs_no = obj.fs_no + '-' + obj.fs_seq;
						_content1.push(obj);
					});

					var form = $('<form></form>');
					form.attr('target', 'eformView');
					form.attr('method', 'POST');
					form.attr('style', 'display:none');
					form.attr('action', _this.eformLoc + '/eform_bill.jsp');

					form.append($('<input/>', {type: 'hidden', name: 'content0' , value:'{\"content0\":' + JSON.stringify(_content0) + '}' }));
					form.append($('<input/>', {type: 'hidden', name: 'content1' , value:'{\"content1\":' + JSON.stringify(_content1) + '}' }));
					form.append($('<input/>', {type: 'hidden', name: 'fileNm'   , value:'Bill_' + _this.serviceStmtData.fs_bill_no }));
					form.append($('<input/>', {type: 'hidden', name: 'eformDir' , value:_this.eformDir }));
					form.append($('<input/>', {type: 'hidden', name: 'returnUrl', value: window.location.protocol + '//' + window.location.host + '/service/serviceStatementPop' }));
					
					form.appendTo('body');
					form.submit();
				},
		  }
	})
});
</script>
</head>
<body>
	<section class="wrap" layout:fragment="content" id="app"  v-cloak>
    <div class="e-form-box" style="padding: 0px 180px;">
      <div class="e-form-content">
        <div class="tb-list">
          <iframe name="eformView" id="eformView" style="width:100%; border:1px solid; height:800px"></iframe>
        </div>
      </div>
    </div>
	</section>
</body>
</html>
