@charset 'utf-8';

.addr-search {height:62px;padding:15px 30px;border-bottom:2px solid #000;}
.addr-word:after {display:block;content:'';clear:both;}
.addr-word input {float:left;width:calc(100% - 40px);height:30px;border:none;font-size:18px;}
.addr-word .btn-search {float:right;width:30px;height:30px;cursor:pointer;background-color:transparent;background-image:url(../../common/images/common/ico_search_02.png);background-position:center center;background-repeat:no-repeat;}

.addr-result {position:absolute;top:64px;bottom:0;left:0;right:0;overflow-y:scroll;padding:30px 30px;}
.result-num {margin-bottom:20px;font-size:14px;}
.result-num b {color:#0089d0;font-size:18px;font-weight:700;}
.result-list > li {position:relative;padding:15px 100px;border-bottom:1px solid #f0f0f0;}
.result-list > li:first-child {border-top:1px solid #f0f0f0;}
.result-list div[class^=subject] label {position:absolute;left:0;}
.result-list div[class^=subject] span {line-height:1.4;}
.result-list .subject-1 span {font-size:15px;}
.result-list .subject-2 {margin-top:8px;}
.result-list .zip-code {position:absolute;right:0;top:15px;width:100px;text-align:center;}
.result-list .zip-code span {display:block;margin-top:8px;font-size:15px;}