@charset 'utf-8';

/* reset */
html,body{color:#141414;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input,select,section,textarea,button {margin:0;padding:0;border:0;font-family:'Nanum Barun Gothic', '맑은 고딕', 'Malgun Gothic','Noto Sans Korean', 'cesco', verdana; font-weight:400;font-size: 13px;box-sizing:border-box;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display:block}
dl,ul,ol,menu,li {list-style:none}
footer, header, hgroup, menu, nav, section {display:block;}
img,input,select,textarea,button,label {vertical-align:middle;}
textarea {resize:none}
button {background-color:transparent;cursor:pointer;}
a {text-decoration:none;text-hiright:none;color:#555}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
legend {display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
table caption {visibility:hidden;width:0;height:0;line-height:0;text-indent:-1000em;font-size:0}
table {width:100%;table-layout:fixed;border-collapse:collapse;}
th,td,textarea {word-wrap:break-word;line-height:1.4;}
b {font-weight:700;}

button:focus {outline:none} 
button::-moz-focus-inner {border:0;padding:0}
*:focus{outline:none}

/* etc */
.hidden {display:none;}
.blind {overflow:hidden;position:absolute;width:1px;height:1px;clip:rect(1px, 1px, 1px, 1px)}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* form element */
input[type="text"], input[type="password"], 
input[type="tel"], input[type="number"],
input[type="email"], input[type="url"] {
    padding:0 3px;
}

input[type="text"], input[type="password"], 
input[type="tel"], input[type="number"],
input[type="email"], input[type="url"],
select {
	height: 35px;
	max-width:100%;
	margin-right:0;
	margin-left:0;
	font: inherit;
	font-size: 13px;
	border: 1px solid #dcdcdc;
	text-indent:5px;
	-webkit-appearance:none;
}

textarea {
	height:100px;
	padding:10px;
	font:inherit;
	border:1px solid #e1e1e1;
	border-radius:3px;
	box-sizing:border-box;
}

/* form element - readonly & disabled */
input[type="text"][readonly], input[type="password"][readonly],
input[type="tel"][readonly], input[type="number"][readonly],
input[type="email"][readonly], input[type="url"][readonly],
textarea[readonly] {
	border-color: #e1e1e1;
	background-color:#f5f5f5;
}
input[type="text"][disabled], input[type="password"][disabled],
input[type="tel"][disabled], input[type="number"][disabled],
input[type="email"][disabled], input[type="url"][disabled],
textarea[disabled] {
	border-color:#e1e1e1;
	background-color:#f5f5f5;
}

/* select */
select { 
	min-width: 100px;
	padding: 0 25px 0 5px;
	background: #fff url(../images/common/form-sel.png) right 7px center no-repeat;
	background-size: 7px auto;
	text-indent:0;
}
select::-ms-expand {
	display:none;
}
select[disabled] {
	border-color: #e1e1e1;
	background: #e9e9e9 url(../images/common/form-sel-dis.png) right 7px center no-repeat;
}
.select-large {font-size:20px;padding-left:10px;padding-bottom:0;height:48px;}

/* form element - width */
input.full, textarea.full, select.full {width:100%;min-width:100%;margin-right:0}
input.half, textarea.half, select.half {width:50%;margin-right:0}

/* check radio */
.check, .radio {overflow:hidden;display:inline-block;padding-left: 22px;min-height:22px;position:relative;box-sizing:border-box; cursor:pointer}
.check input, .radio input {overflow:hidden; display:none; width:0px; height:0px; border:0 none; font-size:0; line-height:0; clip:rect(0 0 0 0); opacity:0}
.check .txt, .radio .txt {display:inline-block;padding-left: 6px;vertical-align: top;color:#777;}
.check input:checked + .ico + .txt, .radio input:checked + .ico +.txt {color:#141414;}

.check .ico {position:absolute; left:0; top:0; width:22px; height:22px; border:1px solid #d2d2d2;background-color:#fff;}
.check input:checked + .ico {background-image:url("../images/common/check_on_chk.png");background-repeat:no-repeat;background-position:center center;}
.check input[disabled] + .ico, .check input[disabled]:checked + .ico {opacity: .5}
.check .txt {line-height: 22px;}
.check .txt.mid {font-size:15px;}

.radio .ico {position:absolute;left:0; top:0; width:18px; height:18px; border:1px solid #d2d2d2;border-radius:50%;background-color:#fff;}
.radio input:checked + .ico {border-color:#6d6d6f;}
.radio input:checked + .ico:before {content:'';width:9px;height:9px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);background-color:#6d6d6f;border-radius:50%;}
.radio input[disabled] + .ico, .radio input[disabled]:checked + .ico {opacity: .5}
.radio .txt {line-height: 19px;}
.radio .txt.mid {font-size:15px;}

.radio.purple .ico {border:1px solid #d2d2d2;background-color:#fff;}
.radio.purple input:checked + .ico {border-color:#4d2db9;background-color:#4d2db9;}
.radio.purple input:checked + .ico:before {background-color:#fff;width:7px;height:7px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}

/*purple*/
.check_pp {overflow:hidden;display:inline-block;padding-left: 33px;min-height:25px;position:relative;box-sizing:border-box; cursor:pointer;}
.check_pp input {overflow:hidden; display:none; width:0px; height:0px; border:0 none; font-size:0; line-height:0; clip:rect(0 0 0 0); opacity:0}
.check_pp .ico {position:absolute;left:0; top:0; width:25px; height:25px; background-color:#c6c6c6;border-radius:50%;}
.check_pp .ico:before {display:inline-block;content:"";position:absolute;top:7px;left:7px;width:9px;height:5px;border:2px solid #fff;border-top:0;border-right:0;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.check_pp .txt {display:inline-block;}
.check_pp .txt.big {font-size:20px;}
.check_pp input:checked + .ico {background-color:#4d2db9;}
.check_pp input:checked + .ico + .txt {color:#4d2db9;}
.check_pp input[disabled] + .ico {opacity: .5}
.check_pp input[disabled] + .ico + .txt {opacity: .5}

.check_pp.sm {padding-left: 25px;}
.check_pp.sm .ico {width:20px; height:20px;}
.check_pp.sm .ico:before {top:5px;left:5px;}
.check_pp.sm .txt {margin-top:2px;}

.agree .check .ico {position:absolute; left:0; top:0; width:18px; height:18px; background:url("../images/common/check_agree_off.png") no-repeat 0 0}
.agree .check input:checked + .ico {background:url("../images/common/check_agree_on.png") no-repeat 0 0}
.agree .check .txt {display:inline-block;font-family:'Noto Sans Korean';line-height: 18px;padding-left: 6px}

/* placeholder */
::-webkit-input-placeholder { /* 크롬 */color: #c0c0c0}
:-moz-placeholder { /* 파이어폭스 */color: #c0c0c0}
::-moz-placeholder { /* 파이어폭스 */color: #c0c0c0}
:-ms-input-placeholder { /* 인터넷 익스플로러 */color: #c0c0c0}
::placeholder {color: #c0c0c0}

/* icon */
[class^="icon-"] {display:inline-block;vertical-align:middle;background-repeat:no-repeat}


/*------------------------------------------------------------------------------
  accordion
-------------------------------------------------------------------------------*/
/*기본스타일*/
.accordion_wrap {position:relative;z-index:10;border-top:1px solid #f0f0f0;}
.accordion_wrap .list {border-bottom:1px solid #f0f0f0;}
.accordion_wrap .list .title {position:relative;padding-right:50px;}
.accordion_wrap .list .conts {display:none;position:relative;z-index:99;}
.accordion_wrap .btn_accordion {position:absolute;top:50%;right:13px;width:30px;height:30px;margin-top:-15px;padding:0;border:1px solid #f0f0f0;border-radius:2px;background:url('../images/common/form-sel.png') no-repeat center center;background-size:10px auto;text-indent:-9999px;font-size:0;cursor:pointer;transform:rotate(0deg);}
.accordion_wrap .list.active > .title > .btn_accordion {transform:rotate(180deg);}
.accordion_wrap .btn_accordion.txt {text-indent:0;font-style:normal;font-size:13px;width:60px;background:none;text-align:center;line-height:28px;border-color:#666;}
.accordion_wrap .list.active > .title > .btn_accordion.txt {transform:rotate(0);}
.accordion_wrap .btn_accordion.txt i {display:inline-block;margin-left:5px;width:7px;height:5px;background:url(../images/common/ico_quick_down.png) no-repeat right center;}
.accordion_wrap .list.active > .title > .btn_accordion.txt i {transform:rotate(180deg);}

/*구획선택 팝업 등록버튼 */
.accordion_wrap .btn_accordion1 {position:absolute;top:50%;right:13px;width:30px;height:30px;margin-top:-15px;padding:0;border:1px solid #f0f0f0;border-radius:2px;background:url('../images/common/form-sel.png') no-repeat center center;background-size:10px auto;text-indent:-9999px;font-size:0;cursor:pointer;transform:rotate(0deg);}
.accordion_wrap .btn_accordion1.txt {text-indent:0;font-style:normal;font-size:13px;width:60px;background:none;text-align:center;line-height:28px;border-color:#666;}


/*accordion inner list*/
.accordion-inner-listwrap {padding-left:150px;margin:0 0 10px;}
.accordion-inner-listwrap.pdl {padding-left:5%;margin:0;}
.accordion-inner-list li {border-bottom:1px solid #f0f0f0;}
.accordion-inner-list li:last-child {border-bottom:none;}

/* float */
.fl {float:left !important}
.fr {float:right !important}
.clear{*zoom:1;}
.clear:after {display:block;content:"";clear:both}

/* txt_align */
.txt-c{text-align:center !important}
.txt-l{text-align:left !important}
.txt-r{text-align:right !important}

/* txt_align */
.valign-t{vertical-align:top !important}
.valign-m{vertical-align:middle!important}
.valign-b{vertical-align:bottom!important}

/* height */
.ht60{height:60px !important}
.ht100{height:100px !important}
.ht150{height:150px !important}
.ht180{height:180px !important}
.ht200{height:200px !important}
.ht220{height:220px !important}
.ht250{height:250px !important}
.ht241{height:241px !important}
.ht400{height:400px !important}
.ht430{height:430px !important}

.mht550 {min-height:550px;}

/*width*/
.w80 {width:80px !important;min-width:80px !important;}
.w100 {width:100px !important;}
.w120 {width:120px !important;}
.w140 {width:140px !important;}
.w400 {width:400px !important;}
.w70p {width:70% !important;}
.w100p {width:100% !important;}

/*y-scroll*/
.scroll-y {overflow-y:auto;}

/* padding */
.pdt0{padding-top:0px !important}
.pdt5{padding-top:5px !important}
.pdt10{padding-top:10px !important}
.pdt30{padding-top:30px !important}

.pdb0{padding-bottom:0px !important}
.pdb5{padding-bottom:5px !important}
.pdb10{padding-bottom:10px !important}

.pdl0{padding-left:0px !important}
.pdl5{padding-left:5px !important}
.pdl10{padding-left:10px !important}
.pdl15{padding-left:15px !important}
.pdl20{padding-left:20px !important}
.pdl24{padding-left:24px !important}
.pdl30{padding-left:30px !important}
.pdl60{padding-left:60px !important}
.pdl140{padding-left:140px !important}

.pdr0{padding-right:0px !important}
.pdr5{padding-right:5px !important}
.pdr10{padding-right:10px !important}
.pdr13{padding-right:13px !important}
.pdr15{padding-right:15px !important}
.pdr20{padding-right:20px !important}
.pdr24{padding-right:24px !important}
.pdr30{padding-right:30px !important}
.pdr60{padding-right:60px !important}
.pdr80{padding-right:80px !important}

/* margin */
.mgt0{margin-top:0px !important}
.mgt3{margin-top:3px !important}
.mgt5{margin-top:5px !important}
.mgt7{margin-top:7px !important}
.mgt8{margin-top:8px !important}
.mgt10{margin-top:10px !important}
.mgt12{margin-top:12px !important}
.mgt14{margin-top:14px !important}
.mgt16{margin-top:16px !important}
.mgt20{margin-top:20px !important;}
.mgt25{margin-top:25px !important;}
.mgt30{margin-top:30px !important}
.mgt40{margin-top:40px !important}
.mgt45{margin-top:45px !important}
.mgt50{margin-top:50px !important}
.mgt60{margin-top:60px !important}
.mgt80{margin-top:80px !important}

.mgb0{margin-bottom:0px !important}
.mgb5{margin-bottom:5px !important}
.mgb8{margin-bottom:8px !important}
.mgb10{margin-bottom:10px !important}
.mgb20{margin-bottom:20px !important}
.mgb26{margin-bottom:26px !important}
.mgb30{margin-bottom:30px !important}
.mgb40{margin-bottom:40px !important}
.mgb50{margin-bottom:50px !important}
.mgb65{margin-bottom:65px !important}
.mgb70{margin-bottom:70px !important}

.mgl0{margin-left:0px !important}
.mgl5{margin-left:5px !important}
.mgl10{margin-left:10px !important}
.mgl20{margin-left:20px !important}
.mgl60{margin-left:60px !important}

.mgr0{margin-right:0px !important}
.mgr3{margin-right:3px !important}
.mgr4{margin-right:4px !important}
.mgr5{margin-right:5px !important}
.mgr10{margin-right:10px !important}
.mgr20{margin-right:20px !important}

.mgtm5{margin-top:-5px !important}
.mgtm10{margin-top:-10px !important}

/*text color*/
.txt-org {color:#ff8400 !important;}
.txt-blue {color:#0058ff !important;}
.txt-purple {color:#4d2db9 !important;}

/*말줄임*/
.ellipsis {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/*a*/
.a-line {text-decoration:underline;}
.a-link {border-bottom:1px solid #0b2863;color:#0b2863;}
.a-mention {cursor:pointer;color:#0b2863 !important;}
.a-mention:before {content:'@';}

/*background*/
.bg00 {background-color:#fff;}
.bg01 {background-color:#f3f3f3;}

/* border */
.bdt0 {border-top:none !important;}

[v-cloak] {display: none} 


