.jqx-grid {border:none;border-top: 1px solid #0b2863;}
.jqx-rc-all, .jqx-rc-all-arctic {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.jqx-widget-header {
    border-color: #e6e9f4;
}
.jqx-widget-header, .jqx-widget-header-arctic {
    text-shadow: none;
   	background-color:#e9ecf1; 
   	background:#e9ecf1;
	background:-webkit-gradient(linear, 0 0, 100% 100%, from(#e9ecf1), to(#e9ecf1));
	background:-moz-linear-gradient(100% 100% 90deg, #e9ecf1, #e9ecf1);
	background:-ms-linear-gradient(top, #e9ecf1 100%,#e9ecf1 100%);
	background:linear-gradient(top, #e9ecf1 100%,#e9ecf1 100%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.jqx-grid-column-header {color:#0b2863;font-size:14px;}
.jqx-listitem-state-selected-arctic, .jqx-menu-item-selected-arctic, .jqx-tree-item-selected-arctic, .jqx-calendar-cell-selected-arctic, .jqx-grid-cell-selected-arctic, .jqx-menu-vertical-arctic .jqx-menu-item-top-selected-arctic, .jqx-grid-selectionarea-arctic, .jqx-input-button-header-arctic, .jqx-input-button-innerHeader-arctic, .jqx-fill-state-pressed {
    background-color: #e5f1ff;
    border-color: #ccc #ccc #ccc !important;
    background: #fafafa;
    color: #000 !important;
    text-shadow: none;
}
.jqx-button-arctic, .jqx-fill-state-normal-arctic {
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 100% 100%, from(#fff), to(#fff));
    background: -moz-linear-gradient(100% 100% 90deg, #fff, #fff);
    background: -ms-linear-gradient(top, #fff 0%,#fff 100%);
    background: linear-gradient(top, #fff 0%,#fff 100%);
}

.jqx-checkbox .jqx-fill-state-normal {background:#fff;}
.jqx-grid-cell-hover {
    background:rgba(33,150,243,0.1);
    color:inherit !important;
    border-color:#ccc !important;
}
.jqx-fill-state-hover-arctic {
    text-shadow:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell {
    border: none;
}

/* grid 내부 custom */
.jqx-grid .col-consultant,
.jqx-grid .a-link {}

/* paging */
.jqx-grid-pager-number.jqx-fill-state-hover {
    background:transparent;
    border:none;
    color:#0b2863 !important;
}
.jqx-grid-pager {}
.jqx-grid-pager, .jqx-grid-pager .jqx-fill-state-normal {background-color:transparent !important;background:transparent !important;}
.jqx-grid-pager .jqx-fill-state-normal {border:none !important;}
.jqx-icon-arrow-first, .jqx-icon-arrow-first-hover, .jqx-icon-arrow-first-selected {background-image:url('/images/common/jqx-icon-first.png');background-size:17px auto;}
.jqx-icon-arrow-last, .jqx-icon-arrow-last-hover, .jqx-icon-arrow-last-selected {background-image:url('/images/common/jqx-icon-last.png');background-size:17px auto;}
.jqx-icon-arrow-left, .jqx-icon-arrow-left-hover, .jqx-icon-arrow-left-selected {background-image:url('/images/common/jqx-icon-left.png');background-size:17px auto;}
.jqx-icon-arrow-right, .jqx-icon-arrow-right-hover, .jqx-icon-arrow-right-selected {background-image:url('/images/common/jqx-icon-right.png');background-size:17px auto;}
.jqx-grid-pager .jqx-grid-pager-number {box-sizing:border-box;display:inline-block;width:25px;height:25px;line-height:25px;border:none !important;}
.jqx-grid-pager .jqx-grid-pager-number.jqx-fill-state-pressed {background-color:#0b2863 !important;border:none !important;border-radius:3px;color:#fff !important;}
.jqx-grid-pager .jqx-fill-state-hover {background-color:transparent !important;border:none !important;}
.jqx-grid-pager .jqx-fill-state-hover, .jqx-grid-pager .jqx-fill-state-normal {margin-top:1px;}

/* main grid custom */
.main-grid .jqx-grid {border:none !important;}

/* sub grid */
.sub-grid .jqx-grid {border-top-color:#7e84a3;}
.sub-grid .jqx-widget-header {border-color: #e0e0e0;}
.sub-grid .jqx-widget-header, .sub-grid .jqx-widget-header-arctic {
   	background-color:#fafafa; 
   	background:#fafafa;
	background:-webkit-gradient(linear, 0 0, 100% 100%, from(#fafafa), to(#fafafa));
	background:-moz-linear-gradient(100% 100% 90deg, #fafafa, #fafafa);
	background:-ms-linear-gradient(top, #fafafa 100%,#fafafa 100%);
	background:linear-gradient(top, #fafafa 100%,#fafafa 100%);
}
.sub-grid .jqx-grid-column-header {color:#000;}

/* tooltip */
.jqx-tooltip-text {text-align:left;}