@charset 'utf-8';

.main:before {display:block;content:'';position:absolute;top:0;left:0;z-index:-1;width:100%;height:390px;background-color:#f3f3f3;}
.main-body {min-height:700px;margin-bottom:100px;}
.shadow-box {box-shadow:1.6px 2.5px 7px 0 rgba(0,0,0,0.09);border:1px solid #c6c6c6;background-color:#fff;border-radius:5px;}

.main-box-01 {margin-top:27px;}
.main-box-01:after {display:block;content:"";clear:both;}
.main-column {float:left;width:calc(100% - 250px);}
.main-column.first {width:250px;}
.main-column.first .shadow-box {border:none;padding:0;box-shadow:1.6px 2.5px 7px 0 rgba(0,0,0,0.09);}
.main-column .shadow-box {box-shadow:0 0 32px 0 rgba(0,38,96,0.14);border:1px solid #d1d2de;padding:20px 30px;}
.main-column .shadow-box:after {display:block;content:"";clear:both;}
.main-box-01 .box {min-height:217px;border-radius:5px;}
.main-box-01 .first .box {min-height:117px;}
.main-box-01 .first div + div {margin-top:10px;}
.main-box-01 .box.type01 {padding:34px 25px;background-image:linear-gradient(to top, #15203e, #2c3d6b);color:#73d7ff;}
.main-box-01 .box.type02 {padding:25px 0;background-image:linear-gradient(to top, #0089cf, #009bea);}
.main-box-01 .box.type01 dl:first-child {padding-bottom:20px;border-bottom:1px solid #2e4175;}
.main-box-01 .box.type01 dl:last-child {padding-top:27px;}
.main-box-01 .box.type01 dl {display:table;table-layout:fixed;width:100%;line-height:0;}
.main-box-01 .box.type01 dl dt, .main-box-01 .box.type01 dl dd {display:table-cell;vertical-align:bottom;}
.main-box-01 .box.type01 dl dt {width:130px;}
.main-box-01 .box.type01 dl dd {text-align:right;font-size:40px;position:relative;top:-13px;color:#73d7ff;}
.main-box-01 .box.type01 dl dd a {font-size:40px;color:#fff;}
.main-box-01 .box.type01 dl dt i {display:inline-block;width:25px;height:25px;margin-right:5px;vertical-align:text-bottom;}
.main-box-01 .box.type01 dl dt i.ico-transfer {background:url('../images/main/ico_main_transfer.png') no-repeat;}
.main-box-01 .box.type01 dl dt i.ico-re {background:url('../images/main/ico_main_re.png') no-repeat;}

.main-box-01 .box.type02 ul {display:table;table-layout:fixed;width:100%;}
.main-box-01 .box.type02 ul li {display:table-cell;width:50%;vertical-align:middle;text-align:center;}
.main-box-01 .box.type02 ul li:first-child {border-right:1px solid rgba(243,240,255,.1);}
.main-box-01 .box.type02 ul li span {display:block;color:#fff;}
.main-box-01 .box.type02 ul li i {display:inline-block;width:31px;height:31px;margin-bottom:5px;}
.main-box-01 .box.type02 ul li i.ico-search {background:url('../images/main/ico_main_search.png') no-repeat;margin-bottom:10px;}
.main-box-01 .box.type02 ul li i.ico-shop {background:url('../images/main/ico_main_shop.png') no-repeat center 0;}


/* circle graph title */
.graph-tit h4 {display:inline-block;font-size:25px;font-weight:700;color:#15203e;margin-right:25px;letter-spacing:-0.63px;}
.graph-tit select {font-size:20px;border:none;color:#535353;letter-spacing:-0.5px;}


/*circle graph*/
.circle-wrap {display:inline-block;position:relative;font-size:0;}
.circle-wrap .graph {display:inline-block;width:130px;height:130px;}
.circle-wrap .ratio {position:absolute;top:0;left:0;width:100%;line-height:130px;color:#505c6a;font-size:32px;font-weight:400;}
.circle-wrap .ratio em {font-size:24px;font-weight:400;}


/*line graph*/
.graph-area {padding:15px 0;}
.main-column:not(.first) .box {border-radius:0;}
.main-column .column:nth-child(even) .box {padding-right:30px;}
.main-column .column:nth-child(odd) .box {border-left:1px solid rgba(24,36,68,0.2);padding-right:0;padding-left:28px;}
.graph-area article:after {display:block;content:'';clear:both;}
.graph-area article section {float:left;font-size:0;}
.graph-area article section.graph-left {width:43%;text-align:center;}
.graph-area article section.graph-right {width:57%;}
.graph-area article section h5 {font-size:18px;color:#15203e;font-weight:700;letter-spacing:-0.5px;margin-top:15px;}
.bar-wrap .mark {display:block;font-size:18px;}
.bar-wrap .mark:before {display:inline-block;content:'';width:12px;height:12px;margin-right:5px;border-radius:3px;vertical-align:inherit;}
.bar-progress-box:after {display:block;content:'';clear:both;}
.bar-progress-box .ratio {float:left;width:80px;padding-left:10px;font-size:16px;}
.bar-progress {float:left;width:calc(100% - 80px);height:7px;overflow:hidden;margin:5px 0;background-color:#c6c6c6;border-radius:5px;}
.bar-progress .bar {display:block;height:7px;background:#81c926;transition:1s;}
.main-section-01 .main-column:nth-child(2) > .column:first-child .bar-progress .bar,
.main-section-01 .main-column:nth-child(2) > .column:first-child .bar-wrap .mark:before {background:#0089cf;}
.main-section-01 .main-column:nth-child(2) > .column:nth-child(2) .bar-progress .bar,
.main-section-01 .main-column:nth-child(2) > .column:nth-child(2) .bar-wrap .mark:before {background:#4c29ba;}

/*목표,달성금액*/
.sum-wrap {margin-top:40px;}
.sum-wrap dl.type02 {padding-top:12px;}
.sum-wrap dl {display:table;table-layout:fixed;width:100%;}
.sum-wrap dl dt, .sum-wrap dl dd {display:table-cell;color:#969696;font-size:15px;}
.sum-wrap dl dt {width:55px;}
.sum-wrap dl dd {text-align:right;}
.sum-wrap dl dd strong {margin-right:5px;font-size:30px;font-weight:400;}
.sum-wrap dl.type01 dt, .sum-wrap dl.type01 dd {padding-bottom:10px;}
.sum-wrap dl.type01 dd {border-bottom:1px solid #e3e3e3;}
.sum-wrap dl.type02 dd strong {color:#535353;}
.main-column:not(.first) .column:nth-child(even) .sum-wrap dl.type01 dd strong {color:#0089cf;}
.main-column:not(.first) .column:nth-child(odd) .sum-wrap dl.type01 dd strong {color:#4c29ba;}
.main-column:not(.first) .column:nth-child(even) .bar-progress .bar,
.main-column:not(.first) .column:nth-child(even) .bar-wrap .mark:before {background:#0089cf;}
.main-column:not(.first) .column:nth-child(odd) .bar-progress .bar,
.main-column:not(.first) .column:nth-child(odd) .bar-wrap .mark:before {background:#4c29ba;}


/*계약처리현황*/
.main-tab-content > div:first-child {padding-right:1%;width:33.5%;}
.main-tab-content .shadow-box {background-color:#fafafc;padding:12px 10px 12px 20px;display:flex;}
.status-title-box {flex:inherit;padding-top:19px;min-width:85px;}
.status-title-box span {display:block;width:64px;height:64px;background-color:#fff;margin:0 auto;border-radius:50%;}
.status-title-box span i {display:block;width:35px;height:46px;margin:0 auto;position:relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.status-title-box span i.ico_docu_01 {background-image:url('../images/main/ico_docu_01.png');width:36px;}
.status-title-box span i.ico_docu_02 {background-image:url('../images/main/ico_docu_02.png');height:48px;}
.status-title-box p {margin-top:5px;text-align:center;}
.status-board-box {flex:auto;border-radius:5px;margin-left:15px;}
.status-board-inner {background-color:#fff;display:table;width:100%;padding:30px;border-radius:5px;text-align:center;}
.main-tab-content > div:first-child .status-board-inner {padding-right:20px;}
.status-board-inner dl {display:table-cell;text-align:left;}
.status-board-inner > dl {width:14.28%;}
.status-board-inner dl dt {position:relative;font-size:15px;color:#000;margin-bottom:18px;padding-left:10px;display:block;}
.status-board-inner dl dt::before {content:'';position:absolute;left:0;display:block;width:3px;height:17px;background-color:#000;}
.status-board-inner dl dd {margin-left:10px;height:40px;position:relative;}
.status-board-inner dl dd b {font-size:45px;color:#000;font-weight:400;line-height:40px;}
.status-board-inner dl dd span {font-size:15px;color:#000;padding-left:5px;}
.main-tab-content > div:last-child .status-board-inner dl dt::before {background-color:#81889a;}
.main-tab-content > div:last-child .status-board-inner dl dt span:last-child {position:relative;padding-left:12px;}
.main-tab-content > div:last-child .status-board-inner dl dt span:last-child::before {content:'';position:absolute;display:block;left:5px;top:0;width:1px;height:14px;background-color:#81889a;}

.dl-multi-area {display:table;width:100%;}
.dl-multi-area .dl-multi-box {display:table-cell;width:50%;padding-left:7%;}
.dl-multi-area .dl-multi-box dl {width:25%;}
.dl-multi-area .dl-multi-box dl dd {display:table-cell;width:50%;min-width:87px;}
.dl-multi-area .dl-multi-box dl dd:last-of-type {border-left:1px solid #bdc3d2;padding-left:8px;}



/*즐겨찾기*/
.main-section-03 {min-height:300px;}
.main-section-03 h4 {font-weight:700;font-size:25px;color:#11142d;margin-bottom:10px;}
/* .bookmark-item-list {padding:0 5px;} */
.bookmark-item-list:after {display:block;content:"";clear:both;}
.bookmark-item-list > li {float:left;width:32.5%;height:211px;margin-right:1%;margin-bottom:1%;position:relative;}
.bookmark-item-list > li:nth-child(3n) {width:33%;margin-right:0;}
.bookmark-item-list .bookmark-item .btn-del-bookmark {display:none;position:absolute;top:3px;right:3px;width:18px;height:18px;border-radius:50%;text-indent:-9999999px;background:#fff url('../images/common/btn_search_del_pp.png') no-repeat center center;background-size:cover;}
.bookmark-item-list .bookmark-item:hover .btn-del-bookmark {display:block;}
.bookmark-item-list .bookmark-item .bookmark-height {height:90px;}
.bookmark-item-list .bookmark-item .bookmark-item-inner {padding:22px;}
.bookmark-item-list .bookmark-item .shadow-box {height:100%;}
.bookmark-top:after, .bookmark-top .date-box:after {display:block;content:"";clear:both;}
.bookmark-top .title-box {float:left;width:calc(100% - 200px);position:relative;}
.bookmark-top .title-box span {padding:4px 9px 3px;background-color:#15203e;color:#Fff;font-size:12px;border-radius:3px;margin-right:5px;}
.bookmark-top .title-box button {color:#0089cf;font-size:12px;font-weight:700;position:absolute;letter-spacing:-0.3px;line-height:16px;}
.bookmark-top .title-box button::after {content:'';position:absolute;right:-10px;top:0;bottom:0;display:block;width:8px;height:8px;border:1px solid #0089cf;border-top:0;border-left:0;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);margin:auto 0;}
.bookmark-top .date-box {float:right;width:200px;text-align:right;}
.bookmark-top .date-box dl {display:inline-block;color:#909090;}
.bookmark-top .date-box dl:nth-child(2) {text-align:right;width:103px;}
.bookmark-top .date-box dl dt, 
.bookmark-top .date-box dl dd {position:relative;}
.bookmark-top .date-box dl dt {font-size:12px;margin-bottom:6px;}
.bookmark-top .date-box dl dd {font-size:15px;}
.bookmark-top .date-box dl:first-child dt:before,
.bookmark-top .date-box dl:first-child dd:before {display:none;}
.bookmark-top .date-box dl dt:before,
.bookmark-top .date-box dl dd:before {display:inline-block;content:'';position:absolute;top:0;left:0;width:1px;margin-left:8px;margin-right:8px;background-color:#ddd;vertical-align:top;}
.bookmark-top .date-box dl dt:before {height:11px;margin-top:2px;}
.bookmark-top .date-box dl dd:before {height:15px;margin-top:0;}
.bookmark-name {position:relative;}
.bookmark-name .name-bar {position:relative;height:24px;margin-top:6px;}
.bookmark-name .name-bar:before {display:none;content:'';position:absolute;top:13px;left:0;width:100%;height:1px;background-color:#c5c5c5;}
.bookmark-name .name-bar p {background-color:#fff;}
.bookmark-name .name-bar p b {display:inline-block;max-width:calc(100% - 50px);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:16px;font-weight:500;vertical-align:bottom;}
.bookmark-name .name-bar p span {font-size:15px;padding-left:8px;}

.bookmark-table {position:relative;}
.bookmark-table .bookmark-tbody {margin-top:8px;}
.bookmark-table .bookmark-thead, 
.bookmark-table .bookmark-tbody {display:table;width:100%;table-layout:fixed;}
.bookmark-table .bookmark-thead {background:#f3f3f3;padding:4px 0 3px;}
.bookmark-table .bookmark-thead .th, 
.bookmark-table .bookmark-tbody .td {display:table-cell;width:24%;text-align:right;padding-left:5px;}
.bookmark-table .bookmark-thead .th:first-child, 
.bookmark-table .bookmark-tbody .td:first-child {width:28%;padding-left:0;}
.bookmark-table .bookmark-thead .th {font-size:12px;}
.bookmark-table .bookmark-tbody .td span.ellipsis {display:block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.bookmark-wrap-height {max-height:370px;}
.no-bookmark {height:211px;padding-top:90px;text-align:center;font-size:15px;}

/*탭메뉴*/
ul.main-tab-group {font-size:0;text-align:center;position:relative;z-index:1;background:#fff;}
ul.main-tab-group:after {display:block;content:'';clear:both;}
ul.main-tab-group li {display:inline-block;box-sizing:content-box;position:relative;text-align:center;cursor:pointer;box-sizing:border-box;top:3px;}
ul.main-tab-group li:before {display:inline-block;content:'';width:2px;height:20px;margin:0 20px 0;background-color:#e3e3e3;}
ul.main-tab-group li:first-child:before {display:none;}
ul.main-tab-group li span {display:inline-block;height:56px;line-height:56px;color:#9d9c9c;font-size:20px;font-family:'Noto Sans Korean';font-weight:400;letter-spacing:-1px;}
ul.main-tab-group li.current {}
ul.main-tab-group li.current span {color:#15203e;font-size:25px;border-bottom:2px solid #4d2db9;/*line-height:52px;*/}
.main-tab-content {display:none;}
.main-tab-content.current {display:table;width:100%;}
.main-tab-content.current > div {display:table-cell;}