 @charset 'utf-8';

/* 제조 공통 점수영역 테이블 */
.score-area-table {border:1px solid #c2e1e4; border-top:2px solid #00a8b0; border-left: none; border-right: none;  text-align:center; margin-bottom: 26px}
.score-area-table tbody tr th {background:#e7f4f6;color:#70706e;border-top:2px solid #00a8b0;height: 30px;font-size: 13px;}
.score-area-table tbody tr td {border:1px solid #c2e1e4;padding: 5px 10px;border-left: none;height: 110px; overflow: hidden; }
.score-area-table tbody tr td:last-child{border-right: none}
.score-area-table tbody tr th.harf{border-right: 1px solid #c2e1e4}
.score-area-table tbody tr td.harf{height: 70px; border-left: none; border-right: none}

.score-area-table tbody tr td .ratio {display: inline-block;font-family:'cesco';font-size: 25px;color:#383f43;letter-spacing:-0.05em;vertical-align: middle;  }
.score-area-table tbody tr td .ratio .unit {padding: 0 4px;font-family:'cesco';font-size: 19px;color:#aeb0b1;}

.score-area-table tbody tr td .grade {display: inline-block;width:150px;padding: 3px 0;font-size:0;text-align:center;border-radius: 25px;background-color:#f6f9fa;vertical-align: middle;}
.score-area-table tbody tr td .grade span {display:inline-block;width: 25px;height: 25px;font-family:'cesco';font-size:15px;font-weight:700;color:#94b7c0;letter-spacing:-0.05em;border-radius: 50%;line-height: 25px;vertical-align: middle;}
.score-area-table tbody tr td .grade span + span {margin-left:3px}
.score-area-table tbody tr td .grade span.grade-current {width:38px;height:38px;padding: 0;font-size:27px;color:#fff;background:#ffc63e;-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.3);box-shadow:0px 2px 5px 0px rgba(50, 50, 50, 0.3);line-height: 38px;}

.score-area-table tbody tr td .non-count {display:inline-block;width:120px;height:32px;font-size:0;border-radius:20px;background-color:rgba(0,0,0,0.05);}
.score-area-table tbody tr td .non-count p {display:inline-block;font-family:'Noto Sans Korean';font-size: 13px;color:#70706e;padding-top: 5px;}
.score-area-table tbody tr td .non-count p.count {position:relative;padding-left: 20px;font-family: 'cesco';font-size: 17px;color: #383f43;font-weight: 700;}
.score-area-table tbody tr td .non-count p.count .unit {margin-left: 4px;font-family:'cesco';font-size: 15px;color:#aeb0b1;}


/* 사업장진단현황 */
.board-table-write04 {border:1px solid #f0f0f0; height: 220px}
.board-table-write04 tbody tr th {background:#f0f3f5; font-weight:700; color:#3b3f43; text-align:left; border-top:1px solid #e4e4e4; padding:11px 5px; border-left:none; text-align: center; overflow:hidden; height: 60px;}
.board-table-write04 tbody tr td {border:1px solid #f0f0f0; padding:5px; border-right:none; text-align: center;  overflow:hidden; }
.board-table-write04 tbody tr td a{color: #00b3b5}
.board-table-write04 tbody tr td a:hover{color: #00b3b5; text-decoration: underline;}

/* 사업장진단분석 */
.chk-list{ box-sizing: border-box; text-align: left; float: left; width: 50%; }
.chk-list ul{}
.chk-list ul li{height: 30px; border-top: 1px solid #f0f0f0; width: 100%; padding:4px 80px 0 20px }
.chk-list ul li.last{ border-bottom: 1px solid #f0f0f0;}
