<!DOCTYPE html>
<html lang="ko">
<head>
<title>표시컨설팅</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="../../resources/css/import.css"/>
<script type="text/javascript" src="../../resources/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../resources/js/common.js"></script>
</head>
<body class="bg00">
    <div class="layer-pop-wrap">
        <div class="layer-pop-box midium">
            <div class="pop-wrap">
                <h1 class="blind">표시컨설팅 > 비밀번호변경 팝업</h1>
                <header class="pop-header">
                    <div class="pop-header-title-wrap">
                        <h3 class="pop-header-title">비밀번호 변경</h3>
                        <button class="btn-pop-close js-pop-close">닫기</button>
                    </div>
                </header>
                <div class="pop-container">
                    <div class="pop-common-box">
                        <div id="lay_find" class="page_find">
                            <div class="section_inner">
                                <div id="typeC" class="tab_con">
                                    <div class="txt_box">
                                        <b>시스템에 처음으로 로그인하셨습니다.<br>비밀번호를 변경하여 주세요.</b>
                                    </div>
                                    <!-- 비밀번호찾기 폼 -->
                                    <form action="">
                                        <fieldset>
                                            <legend>비밀번호찾기 폼</legend>
                                            <div class="form_con">
                                                <div class="box">
                                                    <h4>비밀번호</h4>
                                                    <div class="input_wrap">
                                                        <div class="input_box">
                                                            <input type="password" id="" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="box">
                                                    <h4>비밀번호 확인</h4>
                                                    <div class="input_wrap">
                                                        <div class="input_box">
                                                            <input type="password" id="" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                    <!-- //비밀번호찾기 폼 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pop-bottom">
                    <div class="pop-btn-box">
                        <a href="" class="btn-pop-bottom">취소</a>
                        <a href="" class="btn-pop-bottom">등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
