<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/comm_default}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
<script th:inline="javascript" type="text/javascript">
window.name ="Parent_window";
var loginId
$(document).ready(function(){
	loginId = new Vue({
		el: '#app',
		data: {
            htmlText:'',
            userInfo:{
                user_nm:'',
                mphone_no:'',
            },
		},
		methods: {
            callNicePop:function(){
                let _self = this;
                let url ="/api/findUserId";
                if(!_self.checkValida()) return;
                axiosCall('post', url,_self.userInfo,res =>{
                    if(!!res.data){
                        _self.goLoginFindIdResult(res.data)
                    }else{
                        cmmAlert("사용자 정보 확인 후 다시 진행하세요.")
                    }
                }, "");
            },
            checkValida:function(){
                var _self = this;
                if (!_self.userInfo.user_nm) {
                    cmmAlert("이름 입력하세요")
                    return false;
                }
                if (!_self.userInfo.mphone_no) {
                    cmmAlert("핸드폰 번호 입력하세요")
                    return false;
                }
                return true;
            },
            goLoginFindIdResult:function(data){
                let _self = this;
                window.location.href = "/user/loginFindIdResult?id=" + data.email;
            }
		},
        mounted: function (){
        },
	})

});
</script>

</head>
<body>
	<section layout:fragment="content" id="app"  v-cloak>
		<div class="page-head">
            <div id="popDiv"></div>
            <div v-html="htmlText"></div>
            <!-- content -->
            <div class="page-content">
                <div class="sub_title">
                    <div class="section_inner">
                        <h2>아이디 찾기</h2>
                        <span>시스템에 가입된 아이디 찾기를 진행합니다.</span>
                    </div>
                </div>
                <div id="lay_find" class="page_find">
                    <div class="section_inner">
                        <div id="typeC" class="tab_con">
                            <div class="txt_box">
                                <b>이름과 휴대전화번호 입력해 주세요.</b>
                            </div>
                            <!-- 아이디찾기 폼 -->
                            <form action="">
                                <fieldset>
                                    <legend>아이디찾기 폼</legend>
                                    <div class="form_con">
                                        <div class="box">
                                            <h4>이름</h4>
                                            <div class="input_wrap">
                                                <div class="input_box">
                                                    <input type="text" id="user_nm" name="user_nm" v-model="userInfo.user_nm">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box">
                                            <h4>휴대전화번호</h4>
                                            <div class="input_wrap">
                                                <div class="input_box">
                                                    <input type="text" id="mphone_no" name="mphone_no" v-model="userInfo.mphone_no" placeholder="- 없이 입력하세요." maxlength="11" numberonly="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pop-btn-box">
                                            <a href="/user/login" class="btn-pop-bottom">취소</a>
                                            <a href="#" 
                                               class="btn-pop-bottom" 
                                               ref="sendFindPw" 
                                               @click="callNicePop">확인
                                            </a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <!-- //아이디찾기 폼 -->
                        </div>
                    </div>
                </div>
            </div>
			<!-- //content -->
		</div>
    </section>
</body>

</html>
