<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/comm_default}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
<script th:inline="javascript" type="text/javascript">
  var loginVue
  $(document).ready(function(){
    if (window.opener) {
        cmmAlert('세션이 만료되었습니다. 로그인을 다시 해주세요.');
        window.opener.location = window.location.pathname.substring(0, window.location.pathname.indexOf('/', 2)) + '/user/login';
        self.close();
    }

    // 비밀번호 변경 팝업
    Vue.component('login-change-pw-popup', {
        template: "#loginChangePwPopup",
        props: ['open','email','pwd','sysid'],
        data() {
          return {
              answerText:'',
              passwd:'',
              repasswd:'',
              msg:''
          }
        },
        methods: {
          onEmit(e) {
              let _this = this;
              e.preventDefault();
              // 자식 값 전달
              _this.$emit("on-change-open",false)
          },
          seveNewPW:function (e) {
            e.preventDefault()
            if(!!!this.passwd){
              cmmAlert('변경할 비밀번호를 입력하세요')
              this.focusPwd()
              return false;
            }
            if(!!!this.repasswd){
              cmmAlert('비밀번호 확인 입력하세요')
              this.focusRePwd()
              return false;
            }
            if(this.passwd != this.repasswd){
              cmmAlert('변경할 비밀번호가 일치하지 않습니다.')
              return false
            }
            this.changePass()
          },
          changePass:function(){ // 비밀번호 변경
            axiosCall('put','/api/changePass',{email:this.email,pwd:this.pwd,passwd1:this.passwd,passwd2:this.repasswd},res=>{
              // this.$emit("on-change-open",false)
              location.href = "/user/login"
          },'');
          },
          focusPwd:function(){
            this.$refs.passwd.focus()
          },
          focusRePwd:function(){
            this.$refs.repasswd.focus()
          }
        },
        mounted: function (){

        },
        watch: {
          passwd (newPasswd) {
            //data -> msg 데이터가 변경될 때 실행
            console.log('New msg: ' + newPasswd)
          },
          repasswd (newRepasswd) {
            //data -> msg 데이터가 변경될 때 실행
            console.log('New msg: ' + newRepasswd)
          },
        }
    })

    loginVue = new Vue({
      el: '#app',
      data: {
        sysCode:'',
        htmlText:'',
        email: '',
        pwd: '',
        pwdencode:'',
        open:false,
        userTpCd: '',
        formdata:{
          username: '',
          pwd: '',
        },
        codeList:[{cmm_dtl_cd:'FS',cmm_dtl_nm:'표시컨설팅'},{cmm_dtl_cd:'HC',cmm_dtl_nm:'HACCP'}]
		  },
      mounted (){

      },
      methods: {
        userAuth(e,sysCode){ // 로그인
          e.preventDefault()
          let _this = this; 
          if(!!!_this.formdata.username){
            cmmAlert("이메일을 입력하세요.")
            this.focusId();
            return false;
          }
          if(!!!_this.formdata.pwd){
            cmmAlert("비밀번호를 입력하세요.")
              this.focusPwd()
              return false;
          }
  
          let url = '/api/login';
          let param = {userName:_this.email,userPw:_this.pwd,userNo:this.sysCode};
          // this.$refs.form.$el.submit()

          let formData = new FormData();
          for(var key in this.formdata){
            formData.append(key,this.formdata[key]);
          }
          axios.post(url,formData,headers = {
            "Content-Type": "multipart/form-data",
            'x-requested-with' : 'AJAX'
          }).then((res)=>{
            console.log(res)
          }).catch((e)=>{
            debugger
            console.log(e)
          }).finally((fy)=>{

          });
        },
        setSaveid() { // 로그인 ID 저장
          var expdate = new Date();
          if ($("#saveid").is(":checked")){
              expdate.setTime(expdate.getTime() + 1000 * 3600 * 24 * 30);
              this.setCookie("saveid", $("#email").val(), expdate);
              }else{
            expdate.setTime(expdate.getTime() - 1000 * 3600 * 24 * 30);
              this.setCookie("saveid", $("#email").val(), expdate);
              
          }
        },
        fnInit(){ // COOKIT 체크
          var cookieid = this.getCookie("saveid");
          if(cookieid !=""){
              $("input:checkbox[id='saveid']").prop("checked", true);
              $('#email').val(cookieid);
          }
          
        },   
        setCookie(name, value, expiredays) { // 쿠키 셋팅
          console.log("setCookie:",name + "<- value:" + value + "expiredays:" + expiredays);
          var todayDate = new Date();
          todayDate.setTime(todayDate.getTime() + 0);
          if(todayDate > expiredays){
              document.cookie = name + "=" + escape(value) + "; path=/; expires=" + expiredays + ";";
          }else if(todayDate < expiredays){
              todayDate.setDate(todayDate.getDate() + expiredays);
              document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
          }
        },
        getCookie(Name) { // 쿠키 조회
          var search = Name + "=";
          
          if (document.cookie.length > 0) { // 쿠키가 설정되어 있다면 
              offset = document.cookie.indexOf(search);
              if (offset != -1) { // 쿠키가 존재하면 
                  offset += search.length;
                  // set index of beginning of value
                  end = document.cookie.indexOf(";", offset);
                  // 쿠키 값의 마지막 위치 인덱스 번호 설정 
                  if (end == -1)
                      end = document.cookie.length;
                  return unescape(document.cookie.substring(offset, end));
              }
          }
            return "";
        },
        handleChecked(e){
          let val = e.target.parentElement.getAttribute("value");
          this.sysCode = val
        },
        onChangeOpen(val) { // 팝업 제어
          this.open = val
        },
        focusId(e){
          this.$refs.email.focus()
        },
        focusPwd(e){
          this.$refs.pwd.focus()
        },
        // 로그인 후 다음 페이지 이동.
        goPageAfterLogin(type) {
          let _this = this;
          if (_this.sysCode == "CO") {
            _this.goPage(type);
          } else {
            if (_this.sysCode != type) {
              
              if (_this.sysCode == "FS") {
                cmmAlert("HACCAP 컨설팅 계정 아닙니다.")
                return;
              } else {
                cmmAlert("표시 컨설팅 계정 아닙니다.")
                return;
              }
            } else {
              
              _this.goPage(type);
            }
          }
        },
        goPage(type){
          let _this = this;
          if(type == 'HC' && (_this.userTpCd == '01' || _this.userTpCd == '02')) {
              location.href = "/main"
            } else if(type == 'FS' && (_this.userTpCd == '01' || _this.userTpCd == '02')) {
              location.href = "/fs/main" 
            } else if((type == 'HC' || type == 'FS') && _this.userTpCd == '03') {
              location.href = "/notice/noticeList"
            }
        }
		}
	})
});
</script>
</head>
<body>
	<section class="wrap" layout:fragment="content" id="app"  v-cloak>
		<div class="page-head">
      <!-- content -->
      <h2 class="login-title"><span>컨설팅</span></h2>
      <div class="page_login">
        <div class="tab_con">
          <div v-html="htmlText"></div>
          <!-- <form name="userForm" ref="form">             -->
            <fieldset>
              <legend>회원 로그인 폼</legend>
              <div class="form_login">
                <div class="box">
                    <h4>이메일</h4>
                    <div class="input_wrap">
                        <div class="input_box">
                            <input type="text" v-model="formdata.username"  name="username" maxlength="100" class="required ime-mode-disabled" value="" placeholder="아이디 또는 이메일을 입력하세요." title="회원아이디">
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h4>비밀번호</h4>
                    <div class="input_wrap">
                        <div class="input_box">
                            <input type="password" v-model="formdata.pwd" name="pwd" id="pwd" class="required" title="비밀번호" placeholder="비밀번호를 입력하세요">
                        </div>
                    </div>
                </div>
                <div class="chk_wrap">
                    <div class="chk_box">
                      <input type="checkbox" class="blind" id="saveid" name="op_remember_me" @click="setSaveid" value="true">
                      <label for="saveid" >이메일 저장</label>
                    </div>
                    <!-- <div class="chk_service_wrap">
                      <label for="fruit">서비스</label>
                      <select id="fruit" name="fruit" title="검색분류선택" v-model="sysCode" class="mgl5">
                        <option v-for="(item, index) in codeList" :value="item.cmm_dtl_cd">{{item.cmm_dtl_nm}}</option>
                      </select>
                      <span class="chk_service">
                        <label v-for="(item, index) in codeList">
                          <input type="radio" name="chk_service" v-model="sysCode" @input="handleChecked" :value="item.cmm_dtl_cd">
                          <span class="txt"><i></i>{{item.cmm_dtl_nm}}</span>
                        </label>
                      </span>
                    </div> -->
                </div>
                <!-- <div class="btn_wrap">
                    <button class="btn_login" title="로그인" @click="userAuth">로그인</button>
                </div> -->
                <div class="btn_wrap">
                  <button class="btn_login2" id="btn_fs" title="표시컨설팅 로그인" @click="userAuth($event,'FS')">표시컨설팅 로그인</button>
                  <button class="btn_login2" id="btn_hc" title="HACCP 로그인" @click="userAuth($event,'HC')">HACCP 로그인</button>
              </div>
              </div>
            </fieldset>
          <!-- </form> -->
            <div class="login_util_wrap">
              <ul class="find_box">
                <li><a :href="'/user/loginId'">아이디 찾기</a></li>
                <li><a :href="'/user/loginForgotPw'">비밀번호 찾기</a></li>
              </ul>
            </div>
        </div>
      </div>
      <div class="login-footer">
        <div class="footer-link-box">
          <a href="/user/etcProtect">개인정보처리방침</a>
          <a href="/user/etcClause">서비스 이용약관</a>
          <!-- <a href="">전자금융거래이용약관</a> -->
        </div>
        <p>(주)세스코 서울특별시 강동구 상일로 10길 46 세스코 터치센터(우:05288)&nbsp;&nbsp;&nbsp;&nbsp;<br>
          Tel : 1588-1119&nbsp;&nbsp;&nbsp;&nbsp;대표이사 : 부회장 전찬혁&nbsp;&nbsp;&nbsp;&nbsp;사업자등록번호 : 212-81-05946<br>
          COPYRIGHT(C) BY CESCO CO., LTD. ALL RIGHTS RESERVED.</p>
      </div>
      <!-- //content -->
		</div>
    <!-- 비밀번호 변경 팝업 적용-->
    <login-change-pw-popup 
      v-if="open"  
      :open="open"
      :email="email"
      :pwd="pwd"
      :sysid = "sysCode"  
      @on-change-open="onChangeOpen"
    >
	</section>
</body>
</html>
<!-- 비밀번호 변경 팝업 html-->
<template id="loginChangePwPopup">
  <div class="layer-pop-wrap">
    <div class="layer-pop-box midium">
        <div class="pop-wrap">
            <h1 class="blind">표시컨설팅 > 비밀번호변경 팝업</h1>
            <header class="pop-header">
                <div class="pop-header-title-wrap">
                    <h3 class="pop-header-title">비밀번호 변경</h3>
                    <button class="btn-pop-close js-pop-close" @click="onEmit">닫기</button>
                </div>
            </header>
            <div class="pop-container">
                <div class="pop-common-box">
                    <div id="lay_find" class="page_find">
                        <div class="section_inner">
                            <div id="typeC" class="tab_con">
                                <div class="txt_box">
                                    <b>시스템에 처음으로 로그인하셨습니다.<br>비밀번호를 변경하여 주세요.</b>
                                </div>
                                <!-- 비밀번호찾기 폼 -->
                                <form action="">
                                    <fieldset>
                                        <legend>비밀번호찾기 폼</legend>
                                        <div class="form_con">
                                            <div class="box">
                                                <h4>비밀번호</h4>
                                                <div class="input_wrap">
                                                    <div class="input_box">
                                                        <input type="password" id="passwd" name="passwd" v-model="passwd" ref="passwd" v-on:keyup.enter="focusPwd">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box">
                                                <h4>비밀번호 확인</h4>
                                                <div class="input_wrap">
                                                    <div class="input_box">
                                                        <input type="password" id="repasswd" name="repasswd" v-model="repasswd" ref="repasswd" v-on:keyup.enter="focusRePwd">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <!-- //비밀번호찾기 폼 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pop-bottom">
                <div class="pop-btn-box">
                    <a href="" class="btn-pop-bottom" @click="onEmit">취소</a>
                    <a href="" class="btn-pop-bottom" @click="seveNewPW">등록</a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>