<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/comm_default}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
    <!-- e: 공통 -->

<script th:inline="javascript" type="text/javascript">
    
 	const url = new URL(window.location.href);
    console.log(url);
    let encodeData = url.searchParams.get("EncodeData");
    console.log("encodeData", encodeData);

    if (encodeData) {
        if (opener.setEncodeData) {
            opener.setEncodeData(encodeData);
            window.close();
        }
    }
    else {
        cmmAlert("하드코딩 데이터 전송");
        encodeData = "AgAFQlkwOTkqxqxzyqD2AHwhrHgTxUOLc11v/xxcNC7wCoWdV5RAhcdoBwaDXrmxwI8DggzSSIHUlTX11qYP/J9QoLKkrhDtEbwHvwu+Rjo5u5+rwNB55YlnFEXyQbsxrr+eMrtphePu++JIDkfx/0o/XDT3et+UsP7uCP5QsxTQ8QvzS6Boto+YX/Ks1Jb3WCCxCuEH6yBM5BJOPOLPruJy25lmI9IZf7GhwUGZjs09ReA+fRy4QZRsz5B1akUAa/mQtqQX7pEilmfwV+oZcjLbl1S5x2o4B4rD1To4KzlKHSfs+FHLj31xp2VpdC5dqJOtt644rnc0NiotaTB7DB41PfWJHfz63/odk4RYFwK+YvOSG4qTNz2QkUr49dhLV7qH+6PxotObWkQEJucq//0M3ZuuWUnMfBR8mY27UMIsWc9Lb7Ll0imSUiXr5ffpY/JgT8/rZXJ79exGBkxlrrwTm6dsa3cUCkAs/yl4/k2wEulinmXkiZABazda6Vk4C3veVb1gvEqLsdwDdyP1oZgYByG0DVHfoP9JctO2vupSpLFFGOX54O+aWTxhIhEAZYEz4iCYv+VpHw6Sy2VNWaq1I+YwFmfO";
        if (opener.setEncodeData) {
            opener.setEncodeData(encodeData);
        }
    }
    var niceSuccess;
    $(document).ready(function(){
        niceSuccess = new Vue({
            el: '#app',
            data: {
            },
            methods: {
                init:function() {
                },
            },
            created(){
                if (encodeData) {
                    if (opener.setEncodeData) {
                        opener.setEncodeData(encodeData);
                        window.close();
                    }
                } else {
                    cmmAlert("하드코딩 데이터 전송");
                    encodeData = "AgAFQlkwOTkqxqxzyqD2AHwhrHgTxUOLc11v/xxcNC7wCoWdV5RAhcdoBwaDXrmxwI8DggzSSIHUlTX11qYP/J9QoLKkrhDtEbwHvwu+Rjo5u5+rwNB55YlnFEXyQbsxrr+eMrtphePu++JIDkfx/0o/XDT3et+UsP7uCP5QsxTQ8QvzS6Boto+YX/Ks1Jb3WCCxCuEH6yBM5BJOPOLPruJy25lmI9IZf7GhwUGZjs09ReA+fRy4QZRsz5B1akUAa/mQtqQX7pEilmfwV+oZcjLbl1S5x2o4B4rD1To4KzlKHSfs+FHLj31xp2VpdC5dqJOtt644rnc0NiotaTB7DB41PfWJHfz63/odk4RYFwK+YvOSG4qTNz2QkUr49dhLV7qH+6PxotObWkQEJucq//0M3ZuuWUnMfBR8mY27UMIsWc9Lb7Ll0imSUiXr5ffpY/JgT8/rZXJ79exGBkxlrrwTm6dsa3cUCkAs/yl4/k2wEulinmXkiZABazda6Vk4C3veVb1gvEqLsdwDdyP1oZgYByG0DVHfoP9JctO2vupSpLFFGOX54O+aWTxhIhEAZYEz4iCYv+VpHw6Sy2VNWaq1I+YwFmfO";
                    if (opener.setEncodeData) {
                        opener.setEncodeData(encodeData);
                    }
                }
            },
        })
    });

</script>
</head>
<body>
</body>
</html>