<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/comm_default}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
<script type="text/javascript">
var vue
$(document).ready(function(){
	vue = new Vue({
		el: '#app',
		data: {
            htmlText:''
		},
		methods: {

		},
        mounted: function (){

        },
	})
});
</script>

</head>
<body>
	<section layout:fragment="content" id="app"  v-cloak>
		<div class="page-head">
            <div id="popDiv"></div>
            <div v-html="htmlText"></div>
            <!-- content -->
            <div class="page-content">
                <div class="sub_title">
                    <div class="section_inner">
                        <h2>404: 페이지를 찾지 못했습니다.</h2>
                        <!-- <span>시스템에 관리자에 문의 하세요</span> -->
                    </div>
                </div>
                <div id="lay_find" class="page_find">
                    <div class="section_inner">
                        <div id="typeC" class="tab_con">
                            <div class="txt_box">
                                <b>시스템에 관리자에 문의 하세요.</b>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
			<!-- //content -->
		</div>
    </section>
</body>
</html>
