<!DOCTYPE html>
<html lang="ko">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="resources/css/import.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<style type="text/css">
	html,body {background-color:#fff;height:auto;}
	h1{line-height: 60px; font-size: 24px; font-weight: 700; font-family: "cesco";}
	.css_list {width:90%; margin:20px auto;  }
	.css_list table {border-top:1px solid #c9c9c9; border-left:1px solid #c9c9c9; width:100%;}
    .css_list table th, .css_list table td {font-weight: 300;}
	.css_list table thead {}
	.css_list table thead tr {}
	.css_list table thead tr th {background:#666; border-right:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; padding:10px; color:#fff; text-align:center;}

	.css_list table tbody {}
	.css_list table tbody tr:hover {background-color:#f8f8f8;}
	.css_list table tbody tr td {border-right:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; padding:8px; font-size: 12px;}
	.css_list table tbody tr td strong {color:#ff0000; font-size: 12px;}
	.css_list table tbody tr.line td {border-bottom:2px solid #666;}
	.css_list table tbody tr td.center {text-align:center; color:red; font-weight:400;}
	.css_list table tbody tr td a {color:#0066CC; font-size: 12px; font-weight: 300;}

	.css_list table tfoot {}
	.css_list table tfoot tr {}
	.css_list table tfoot tr th {border-right:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; background:#fdffc5; padding:8px;}
	.css_list table tfoot tr td {border-right:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; background:#fdffc5; padding:8px; font-size: 12px;}
	.css_list table tfoot tr td a {color:#0066CC; font-size: 12px;}
</style>
<script>
    $(document).ready(function(){
        $('table tbody tr').each(function(){
            var trNum = $(this).closest('tr').prevAll().length;
            $(this).find('.num').text(trNum);
            //console.log('trNum : ' + trNum);
        })

		$('table tr td').each(function(){
			var $total_pg = $('.css_list table tr').length - 10;

			$('.total').text($total_pg);
			
			var $current_pg = $('.current').text();
			var $percent = ($current_pg*100) / $total_pg;
			$('.percent').text(parseInt($percent));
		})

    })
</script>
</head>
<body>
	<div style="margin:10px;">진행률 : <span class="current">60</span>/<span class="total"></span>(<span class="percent"></span>%)</div>
<div class="css_list">
  	<h1>표시컨설팅(로그인)</h1>
	<table>
		<caption>코딩맵</caption>
		<colgroup>
			<col width="5%" />
			<col width="8%" />
			<col width="auto" />
			<col width="auto" />
			<col width="100px" />
			<col width="auto" />
		</colgroup>
		<thead>
			<th>no.</th>
			<th>화면 ID</th>
			<th>카테고리</th>
			<th>파일명</th>
			<th>완료</th>
			<th>비고</th>
		</thead>
		<tbody>
			<tr class="line">
				<td colspan="6">
					- css, img 폴더는 통으로 덮어씌워서 최신 버전으로 사용바랍니다<br>				
				</td>
			</tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10001</td>
				<td>로그인</td>
				<td><a href="common/user/로그인.html" target="_blank">로그인.html</a></td>
				<td class="center">20220920</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10002</td>
				<td>로그인_비밀번호변경_팝업</td>
				<td><a href="common/user/로그인_비밀번호변경_팝업.html" target="_blank">로그인_비밀번호변경_팝업.html</a></td>
				<td class="center">20220919</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10003</td>
				<td>로그인_아이디찾기</td>
				<td><a href="common/user/로그인_아이디찾기.html" target="_blank">로그인_아이디찾기.html</a></td>
				<td class="center">20220919</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10004</td>
				<td>로그인_아이디찾기_결과</td>
				<td><a href="common/user/로그인_아이디찾기_결과.html" target="_blank">로그인_아이디찾기_결과.html</a></td>
				<td class="center">20220919</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10005</td>
				<td>로그인_비밀번호찾기</td>
				<td><a href="common/user/로그인_비밀번호찾기1.html" target="_blank">로그인_비밀번호찾기1.html</a></td>
				<td class="center">20220919</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10006</td>
				<td>로그인_비밀번호찾기 입력</td>
				<td><a href="common/user/로그인_비밀번호찾기2_입력.html" target="_blank">로그인_비밀번호찾기2_입력.html</a></td>
				<td class="center">20220919</td>
				<td></td>
		    </tr>
	    </tbody>
    </table>
	<!-- 고객 -->
	<h1>표시컨설팅(고객)</h1>
	<table>
		<caption>코딩맵</caption>
		<colgroup>
			<col width="5%" />
			<col width="8%" />
			<col width="auto" />
			<col width="auto" />
			<col width="100px" />
			<col width="auto" />
		</colgroup>
		<thead>
			<th>no.</th>
			<th>화면 ID</th>
			<th>카테고리</th>
			<th>파일명</th>
			<th>완료</th>
			<th>비고</th>
		</thead>
		<tbody>
			<tr class="line">
				<td colspan="6">
					- css, img 폴더는 통으로 덮어씌워서 최신 버전으로 사용바랍니다<br>				
				</td>
			</tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10007</td>
				<td>0.메인</td>
				<td><a href="customer/main/0_메인.html" target="_blank">0_메인.html</a></td>
				<td class="center">20220906</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10008</td>
				<td>1.표시컨설팅 > 목록</td>
				<td><a href="customer/consult/1_표시컨설팅_목록.html" target="_blank">1_표시컨설팅_목록.html</a></td>
				<td class="center">20220819</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10009</td>
				<td>1.표시컨설팅 > 채팅창</td>
				<td><a href="customer/consult/1_표시컨설팅_채팅창.html" target="_blank">1_표시컨설팅_채팅창.html</a></td>
				<td class="center">20220824</td>
				<td>@멘션 자동완성 리스트 디자인 필요</td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10009-1<br>FSCCS100012</td>
				<td>1.표시컨설팅 > 채팅창 > 파일더보기_팝업</td>
				<td><a href="customer/consult/1_표시컨설팅_채팅창_파일더보기.html" target="_blank">1_표시컨설팅_채팅창_파일더보기.html</a></td>
				<td class="center">20220825</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100015</td>
				<td>1.표시컨설팅 > 신규컨설팅의뢰_팝업</td>
				<td><a href="customer/consult/1_표시컨설팅_신규컨설팅의뢰_팝업.html" target="_blank">1_표시컨설팅_신규컨설팅의뢰_팝업.html</a></td>
				<td class="center">20220826</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100016</td>
				<td>2.서비스내역서 > 목록</td>
				<td><a href="customer/service/2_서비스내역서_목록.html" target="_blank">2_서비스내역서_목록.html</a></td>
				<td class="center">20220902</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100017</td>
				<td>2.서비스내역서 > 목록 > 서비스내역서_팝업</td>
				<td><a href="customer/service/2_서비스내역서_팝업.html" target="_blank">2_서비스내역서_팝업.html</a></td>
				<td class="center">20220906</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100031</td>
				<td>3.공지사항 > 목록</td>
				<td><a href="customer/board/3_공지사항_목록.html" target="_blank">3_공지사항_목록.html</a></td>
				<td class="center">20220822</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>3.공지사항 > 상세</td>
				<td><a href="customer/board/3_공지사항_상세.html" target="_blank">3_공지사항_상세.html</a></td>
				<td class="center">20220822</td>
				<td></td>
		    </tr>
	    </tbody>
    </table>
	<!-- 운영자 -->
	<h1>표시컨설팅(운영자)</h1>
	<table>
		<caption>코딩맵</caption>
		<colgroup>
			<col width="5%" />
			<col width="8%" />
			<col width="auto" />
			<col width="auto" />
			<col width="100px" />
			<col width="auto" />
		</colgroup>
		<thead>
			<th>no.</th>
			<th>화면 ID</th>
			<th>카테고리</th>
			<th>파일명</th>
			<th>완료</th>
			<th>비고</th>
		</thead>
		<tbody>
			<tr class="line">
				<td colspan="6">
					- css, img 폴더는 통으로 덮어씌워서 최신 버전으로 사용바랍니다<br>
				
				</td>
			</tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>0.메인</td>
				<td><a href="operator/main/0_메인.html" target="_blank">0_메인.html</a></td>
				<td class="center">20220906</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>1.표시컨설팅 > 목록</td>
				<td><a href="operator/consult/1_표시컨설팅_목록.html" target="_blank">1_표시컨설팅_목록.html</a></td>
				<td class="center">20220823</td>
				<td>※고객사 목록 트리 포함</td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>1.표시컨설팅 > 채팅창</td>
				<td><a href="operator/consult/1_표시컨설팅_채팅창.html" target="_blank">1_표시컨설팅_채팅창.html</a></td>
				<td class="center">20220901</td>
				<td>운영자 화면 : 단계설정, 진행설정 추가됨</td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>1.표시컨설팅 > 채팅창 > 파일더보기_팝업</td>
				<td><a href="operator/consult/1_표시컨설팅_채팅창_파일더보기.html" target="_blank">1_표시컨설팅_채팅창_파일더보기.html</a></td>
				<td class="center">20220902</td>
				<td>운영자 화면 : 단계설정, 진행설정 추가됨</td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10023</td>
				<td>1.표시컨설팅 > 담당자조회_팝업</td>
				<td><a href="operator/consult/1_표시컨설팅_담당자조회_팝업.html" target="_blank">1_표시컨설팅_담당자조회_팝업.html</a></td>
				<td class="center">20220823</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100026</td>
				<td>2.정산 > 목록</td>
				<td><a href="operator/calculate/2_정산_목록.html" target="_blank">2_정산_목록.html</a></td>
				<td class="center">20220902</td>
				<td>※고객사 목록 트리 포함</td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100027</td>
				<td>2.정산 > 정산_단가수정_팝업</td>
				<td><a href="operator/calculate/2_정산_단가수정_팝업.html" target="_blank">2_정산_단가수정_팝업.html</a></td>
				<td class="center">20220823</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100028</td>
				<td>2.정산 > 서비스 내역서 비고_팝업</td>
				<td><a href="operator/calculate/2_정산_서비스내역서비고_팝업.html" target="_blank">2_정산_서비스내역서비고_팝업.html</a></td>
				<td class="center">20220823</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>3.서비스내역서 > 목록</td>
				<td><a href="operator/service/3_서비스내역서_목록.html" target="_blank">3_서비스내역서_목록.html</a></td>
				<td class="center">20220901</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>3.서비스내역서 > 서비스내역서_팝업</td>
				<td><a href="operator/service/3_서비스내역서_팝업.html" target="_blank">3_서비스내역서_서비스내역서_팝업.html</a></td>
				<td class="center">20220908</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100031</td>
				<td>4.공지사항 > 목록</td>
				<td><a href="operator/board/4_공지사항_목록.html" target="_blank">4_공지사항_목록.html</a></td>
				<td class="center">20220823</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100032</td>
				<td>4.공지사항 > 게시글 조회 현황_팝업</td>
				<td><a href="operator/board/4_공지사항_게시글조회현황_팝업.html" target="_blank">4_공지사항_게시글조회현황_팝업.html</a></td>
				<td class="center">20220826</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100033</td>
				<td>4.공지사항 > 상세</td>
				<td><a href="operator/board/4_공지사항_상세.html" target="_blank">4_공지사항_상세.html</a></td>
				<td class="center">20220826</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100034</td>
				<td>4.공지사항 > 공지사항 등록_팝업</td>
				<td><a href="operator/board/4_공지사항_공지사항등록_팝업.html" target="_blank">4_공지사항_공지사항등록_팝업.html</a></td>
				<td class="center">20220826</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100035</td>
				<td>4.공지사항 > 공지사항 수정_팝업</td>
				<td><a href="operator/board/4_공지사항_공지사항수정_팝업.html" target="_blank">4_공지사항_공지사항수정_팝업.html</a></td>
				<td class="center">20220826</td>
				<td></td>
		    </tr>
	    </tbody>
    </table>
	
	<!-- 시스템 -->
	<h1>System</h1>
	<table>
		<caption>코딩맵</caption>
		<colgroup>
			<col width="5%" />
			<col width="8%" />
			<col width="auto" />
			<col width="auto" />
			<col width="100px" />
			<col width="auto" />
		</colgroup>
		<thead>
			<th>no.</th>
			<th>화면 ID</th>
			<th>카테고리</th>
			<th>파일명</th>
			<th>완료</th>
			<th>비고</th>
		</thead>
		<tbody>
			<tr class="line">
				<td colspan="6">
					- css, img 폴더는 통으로 덮어씌워서 최신 버전으로 사용바랍니다<br>
				
				</td>
			</tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100036</td>
				<td>1.고객사관리 > 목록</td>
				<td><a href="system/customer/1_고객사관리_목록.html" target="_blank">1_고객사관리_목록.html</a></td>
				<td class="center">20220913</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100037</td>
				<td>1.고객사관리 > 고객사 등록_팝업</td>
				<td><a href="system/customer/1_고객사관리_고객사등록_팝업.html" target="_blank">1_고객사관리_고객사등록_팝업.html</a></td>
				<td class="center">20220913</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS100038</td>
				<td>1.고객사관리 > 고객사 수정_팝업</td>
				<td><a href="system/customer/1_고객사관리_고객사수정_팝업.html" target="_blank">1_고객사관리_고객사수정_팝업.html</a></td>
				<td class="center">20220913</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>2.협력사관리 > 목록</td>
				<td><a href="system/maker/2_협력사관리_목록.html" target="_blank">2_협력사관리_목록.html</a></td>
				<td class="center">20220913</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>2.협력사관리 > 계정 목록_팝업</td>
				<td><a href="system/maker/2_협력사관리_계정목록_팝업.html" target="_blank">2_협력사관리_계정목록_팝업.html</a></td>
				<td class="center">20220913</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>2.협력사관리 > 협력사 등록_팝업</td>
				<td><a href="system/maker/2_협력사관리_협력사등록_팝업.html" target="_blank">2_협력사관리_협력사등록_팝업.html</a></td>
				<td class="center">20220913</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>2.협력사관리 > 협력사 수정_팝업</td>
				<td><a href="system/maker/2_협력사관리_협력사수정_팝업.html" target="_blank">2_협력사관리_협력사수정_팝업.html</a></td>
				<td class="center">20220913</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10045</td>
				<td>3.컨설팅관리 > 목록</td>
				<td><a href="system/consult/3_컨설팅관리_목록.html" target="_blank">3_컨설팅관리_목록.html</a></td>
				<td class="center">20220913</td>
				<td>※리스트 내용 확인 필요</td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10047</td>
				<td style="color:orange;">3.컨설팅관리 > 신규 컨설팅 등록_팝업</td>
				<td><a href="system/consult/3_컨설팅관리_신규컨설팅등록_팝업.html" target="_blank">3_컨설팅관리_신규컨설팅등록_팝업.html</a></td>
				<td class="center">20220914</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10076</td>
				<td>3.컨설팅관리 > 협력사 구성 즐겨찾기 등록_팝업</td>
				<td><a href="system/consult/3_컨설팅관리_협력사구성즐겨찾기등록_팝업.html" target="_blank">3_컨설팅관리_협력사구성즐겨찾기등록_팝업.html</a></td>
				<td class="center">20220913</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10077</td>
				<td>3.컨설팅관리 > 협력사 구성 즐겨찾기 조회_팝업</td>
				<td><a href="system/consult/3_컨설팅관리_협력사구성즐겨찾기조회_팝업.html" target="_blank">3_컨설팅관리_협력사구성즐겨찾기조회_팝업.html</a></td>
				<td class="center">20220913</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10049</td>
				<td>3.컨설팅관리 > 의뢰 컨설팅 등록_팝업</td>
				<td><a href="system/consult/3_컨설팅관리_의뢰컨설팅등록_팝업.html" target="_blank">3_컨설팅관리_의뢰컨설팅등록_팝업.html</a></td>
				<td class="center">20220914</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10051</td>
				<td>4.계정관리 > 고객사 계정 목록</td>
				<td><a href="system/account/4_계정관리_고객사계정목록.html" target="_blank">4_계정관리_고객사계정목록.html</a></td>
				<td class="center">20220915</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>4.계정관리 > 협력사 계정 목록</td>
				<td><a href="system/account/4_계정관리_고객사계정목록.html" target="_blank">4_계정관리_협력사계정목록.html</a></td>
				<td class="center">20220915</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10053</td>
				<td>4.계정관리 > Admin 계정 목록</td>
				<td><a href="system/account/4_계정관리_고객사계정목록.html" target="_blank">4_계정관리_Admin계정목록.html</a></td>
				<td class="center">20220915</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10054</td>
				<td>4.계정관리 > 고객 계정 등록_팝업</td>
				<td><a href="system/account/4_계정관리_고객계정등록_팝업.html" target="_blank">4_계정관리_고객계정등록_팝업.html</a></td>
				<td class="center">20220913</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10055</td>
				<td>4.계정관리 > 고객 계정 수정_팝업</td>
				<td><a href="system/account/4_계정관리_고객계정수정_팝업.html" target="_blank">4_계정관리_고객계정수정_팝업.html</a></td>
				<td class="center">20220914</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>4.계정관리 > 협력업체 계정 등록_팝업</td>
				<td><a href="system/account/4_계정관리_협력업체계정등록_팝업.html" target="_blank">4_계정관리_협력업체계정등록_팝업.html</a></td>
				<td class="center">20220914</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10059</td>
				<td>4.계정관리 > 협력업체 계정 수정_팝업</td>
				<td><a href="system/account/4_계정관리_협력업체계정수정_팝업.html" target="_blank">4_계정관리_협력업체계정수정_팝업.html</a></td>
				<td class="center">20220914</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10058</td>
				<td>4.계정관리 > 관리자 계정 등록_팝업</td>
				<td><a href="system/account/4_계정관리_관리자계정등록_팝업.html" target="_blank">4_계정관리_관리자계정등록_팝업.html</a></td>
				<td class="center">20220914</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td></td>
				<td>4.계정관리 > 관리자 계정 수정_팝업</td>
				<td><a href="system/account/4_계정관리_관리자계정수정_팝업.html" target="_blank">4_계정관리_관리자계정수정_팝업.html</a></td>
				<td class="center">20220914</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10060</td>
				<td>5.코드관리 > 목록</td>
				<td><a href="system/code/5_코드관리_목록.html" target="_blank">5_코드관리_목록.html</a></td>
				<td class="center">20220915</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10061</td>
				<td>5.코드관리 > 코드 등록_팝업</td>
				<td><a href="system/code/5_코드관리_코드등록_팝업.html" target="_blank">5_코드관리_코드등록_팝업.html</a></td>
				<td class="center">20220914</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10062</td>
				<td>5.코드관리 > 코드 수정_팝업</td>
				<td><a href="system/code/5_코드관리_코드수정_팝업.html" target="_blank">5_코드관리_코드수정_팝업.html</a></td>
				<td class="center">20220916</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10063</td>
				<td>5.코드관리 > 코드 정렬 수정_팝업</td>
				<td><a href="system/code/5_코드관리_코드정렬수정_팝업.html" target="_blank">5_코드관리_코드정렬수정_팝업.html</a></td>
				<td class="center">20220916</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10065</td>
				<td>5.코드관리 > 코드 유형 등록_팝업</td>
				<td><a href="system/code/5_코드관리_코드유형등록_팝업.html" target="_blank">5_코드관리_코드유형등록_팝업.html</a></td>
				<td class="center">20220916</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10069</td>
				<td>기타 > 알림 메일</td>
				<td><a href="common/etc/메일링_세스코표시컨설팅알림.html" target="_blank">기타_알림메일.html</a></td>
				<td class="center">20220920</td>
				<td></td>
		    </tr>
	    </tbody>
    </table>
	<!-- 공통 -->
	<h1>공통</h1>
	<table>
		<caption>코딩맵</caption>
		<colgroup>
			<col width="5%" />
			<col width="8%" />
			<col width="auto" />
			<col width="auto" />
			<col width="100px" />
			<col width="auto" />
		</colgroup>
		<thead>
			<th>no.</th>
			<th>화면 ID</th>
			<th>카테고리</th>
			<th>파일명</th>
			<th>완료</th>
			<th>비고</th>
		</thead>
		<tbody>
			<tr class="line">
				<td colspan="6">
					- css, img 폴더는 통으로 덮어씌워서 최신 버전으로 사용바랍니다<br>				
				</td>
			</tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10011</td>
				<td>공통 > 팝업</td>
				<td><a href="common/popup/담당자추가_팝업.html" target="_blank">담당자추가_팝업.html</a></td>
				<td class="center">20220823</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10066</td>
				<td>공통 > 고객사 검색_팝업</td>
				<td><a href="common/popup/고객사검색_팝업.html" target="_blank">고객사검색_팝업.html</a></td>
				<td class="center">20220916</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS10068</td>
				<td>공통 > 담당자 검색_팝업</td>
				<td><a href="common/popup/담당자검색_팝업.html" target="_blank">담당자검색_팝업.html</a></td>
				<td class="center">20220916</td>
				<td></td>
		    </tr>
		</tbody>
	</table>

	<!-- HACCP -->
	<h1>HACCP</h1>
	<table>
		<caption>코딩맵</caption>
		<colgroup>
			<col width="5%" />
			<col width="8%" />
			<col width="auto" />
			<col width="auto" />
			<col width="100px" />
			<col width="auto" />
		</colgroup>
		<thead>
			<th>no.</th>
			<th>화면 ID</th>
			<th>카테고리</th>
			<th>파일명</th>
			<th>완료</th>
			<th>비고</th>
		</thead>
		<tbody>
			<tr class="line">
				<td colspan="6">
					- css, img 폴더는 통으로 덮어씌워서 최신 버전으로 사용바랍니다<br>				
				</td>
			</tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS20001</td>
				<td>HACCP > hc_메인</td>
				<td><a href="hc/main/hc_0_메인.html" target="_blank">hc_0_메인.html</a></td>
				<td class="center"></td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS20002</td>
				<td>HACCP > 컨설팅 > hc_1_컨설팅_목록</td>
				<td><a href="hc/consult/hc_1_컨설팅_목록.html" target="_blank">hc_1_컨설팅_목록.html</a></td>
				<td class="center"></td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS20006</td>
				<td>HACCP > 컨설팅 > hc_1_컨설팅_채팅창</td>
				<td><a href="hc/consult/hc_1_컨설팅_채팅창.html" target="_blank">hc_1_컨설팅_채팅창.html</a></td>
				<td class="center">2022.11.03</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS20011</td>
				<td>HACCP > 컨설팅 > hc_1_컨설팅_채팅창 > 첨부파일등록_팝업</td>
				<td><a href="hc/consult/hc_1_컨설팅_채팅창_첨부파일등록_팝업.html" target="_blank">hc_1_컨설팅_채팅창_첨부파일등록_팝업.html</a></td>
				<td class="center">2022.11.03</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS20007</td>
				<td>HACCP > 컨설팅 > hc_1_컨설팅_채팅창 > 파일전체다운로드_팝업</td>
				<td><a href="hc/consult/hc_1_컨설팅_채팅창_파일전체다운로드_팝업.html" target="_blank">hc_1_컨설팅_채팅창_파일전체다운로드_팝업.html</a></td>
				<td class="center">2022.11.03</td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS20012</td>
				<td>HACCP > 정산 > hc_2_정산_목록_관리자</td>
				<td><a href="hc/calculate/hc_2_정산_목록_관리자.html" target="_blank">hc_2_정산_목록_관리자.html</a></td>
				<td class="center"></td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS20012</td>
				<td>HACCP > 정산 > hc_2_정산_목록_고객</td>
				<td><a href="hc/calculate/hc_2_정산_목록_고객.html" target="_blank">hc_2_정산_목록_고객.html</a></td>
				<td class="center"></td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS20014</td>
				<td>HACCP > 컨설팅관리 > hc_3_컨설팅관리_목록</td>
				<td><a href="hc/consultManage/hc_3_컨설팅관리_목록.html" target="_blank"></a></td>
				<td class="center"></td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS20015</td>
				<td>HACCP > 컨설팅관리 > hc_3_컨설팅관리_신규컨설팅등록_팝업</td>
				<td><a href="hc/consultManage/hc_3_컨설팅관리_신규컨설팅등록_팝업.html" target="_blank">hc_3_컨설팅관리_신규컨설팅등록_팝업.html</a></td>
				<td class="center"></td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS20016</td>
				<td>HACCP > 컨설팅관리 > hc_3_컨설팅관리_컨설팅수정_팝업</td>
				<td><a href="hc/consultManage/hc_3_컨설팅관리_신규컨설팅수정_팝업.html" target="_blank">hc_3_컨설팅관리_신규컨설팅수정_팝업.html</a></td>
				<td class="center"></td>
				<td></td>
		    </tr>
            <tr>
				<td class="num"></td>
				<td>FSCCS20017~FSCCS20024</td>
				<td>HACCP > hc_멘션안내메일_공통</td>
				<td><a href="" target="_blank"></a></td>
				<td class="center"></td>
				<td>common/etc/mailingCescoIndConslNoti.html과 공통 사용</td>
		    </tr>
		</tbody>
	</table>
  </div>
	
	
</body>
</html>