<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
<script th:inline="javascript" type="text/javascript">
var vue
$(document).ready(function(){
    // 화면명: 공통팝업예제
    // 작성자: gayeong
    // 작성일: 2022.10.25
	vue = new Vue({
		el: '#app',
		data: {
            param1: '제일제당',
            addContactPopupData:[],
            customerSearchPopupData:[],
            personSearchPopupData:[],
		},
		methods: {
            // get main 목록
			getMainList : function() {
                let url = '/fs/main/mainList';
                let _this = this;
                let msg = '';

                axiosCall('get', url, _this.srchParam, function(res){
                    if(res.data.length != 0){
                        _this.noticeList = res.data.noticeList;
                        _this.mainConsultingList = res.data.mainConsultingList;
                        _this.drawTable();
                    }else{
                        console.log("데이터가 존재하지 않습니다.");
                    }
                }, msg);
            },
            openPopup: function(val) {
                let _this = this;
                let popupNm = val;
                let divId = val + 'Div';
                let param = {};

                // 담당자 추가 팝업
                if(val == "addContactPopup") {
                    param.userNm = '';
                    param.cstNm = _this.param1;
                    
                // 고객사 검색 팝업
                } else if(val == "customerSearchPopup") {
                    param.cstNm = _this.param1;
                    
                // 담당자 검색 팝업
                } else if(val == "personSearchPopup") {
                    param.cstNm = _this.param1;
                    param.userNm = '';

                    // checkbox 포함한 그리드 호출
                    param.checkboxYn = 'Y';
                }

                // 공통팝업호출
                openCmmPopup(popupNm, divId, param); 
            },
            drawData: function(val) {
                var data = [];
                var str = "";

                if(val == '0') {
                    data = this.addContactPopupData;
                } else if(val == '1') {
                    data = this.customerSearchPopupData;
                } else if(val == '2') {
                    data = this.personSearchPopupData;
                }

                $.each(data, function(i, obj) {
                    var idx = i;
                    $.each(obj, function(j, v) {
                        var enter = i == idx ? '\n' : '';
                        str += enter + v + ' ';
                        idx++;
                    })
                })

                $("#setPopupData").text(str);

            },
            setPopupData: function(data) {
                var str = "";

                $.each(data, function(i, obj) {
                    var idx = i;
                    $.each(obj, function(j, v) {
                        var enter = i == idx ? '\n' : '';
                        str += enter + v + ' ';
                        idx++;
                    })
                })

                $("#setPopupData").text(str);
            } 
		},
        mounted: function(){
        },
	})
});
</script>

</head>
<body>
	<section layout:fragment="content" id="app" v-cloak>
        <div class="page-content">
            <div class="page-box" style="padding: 10px 20px 42px 20px">
                <!-- <div class="fl">
                    <button class="btn-txt" @click="openPopup('addContactPopup')" >담당자 추가 팝업</button>
                </div>
                <div class="fl">
                    <button class="btn-txt" @click="drawData('0')" >return data1</button>
                </div> -->
                <div class="fl">
                    <input type="text" class="full" v-model="param1">
                </div>
                <div class="fl">
                    <button class="btn-txt" @click="openPopup('customerSearchPopup')" >고객사 검색 팝업</button>
                </div>
                <div class="fl">
                    <button class="btn-txt" @click="drawData('1')" >retun data2</button>
                </div>
                <div class="fl">
                    <button class="btn-txt" @click="openPopup('personSearchPopup')" >담당자 검색 팝업</button>
                </div>
                <div class="fl">
                    <button class="btn-txt" @click="drawData('2')" >retun data3</button>
                </div>
            </div>
            <div class="page-box">
                <pre id="setPopupData"></pre>
            </div>
        </div>
        <!-- 담당자 추가 팝업 -->
        <div id="addContactPopupDiv"></div>
        <!-- 고객사 검색 팝업 -->
        <div id="customerSearchPopupDiv"></div>
        <!-- 담당자 검색 팝업 -->
        <div id="personSearchPopupDiv"></div>
	</section>		
</body>
</html>