<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
<title>세스코</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />
<script th:inline="javascript" type="text/javascript">
var vue
$(document).ready(function(){
	vue = new Vue({
		el: '#app',
		data: {
			userId: [[${session.userId}]],
			userTpCd: [[${session.userTpCd}]],
			open: false,			// 등록, 수정 팝업
			openRead: false,		// 조회 팝업
			type: '',				// 등록, 수정 type
			sysId: '',              // 등록, 수정, 조회현황
			notiSeq: '',			// 수정 noti seq
			startDate: '',			// 조회 시작일자
			endDate: '',			// 조회 종료일자
			notiTitle: '',			// 조회 공지제목
			dtlParam: {},
			srchCodeParam : [
                {
                    cmm_cd: 'FS011',
                    arr_nm: 'fs011List'
                },
			],
			ckeditor: '',
			fs011List: [],
			noticeList: [],			// 공지사항 list
			delNoticeList: [],		// 공지사항 삭제 list
			cmpltNoticeList: [],	// 공지사항 게시종료 list
		},
		methods: {
			onChangeClose: function(val) {
				this.open = val;
			},
			onChangeOpen: function(val, type) {
				// 수정
				if(type == 'edit') {
					// 체크된 데이터
					let _this = this;
					var chkCnt = 0;
					let checkedData = [];
					var rowDatas = $("#noticeGrid").jqxGrid('getrows');
					$.each(rowDatas, function(i, obj) {
						if(obj.check == true){
							checkedData.push(obj);
						}
					})

					// 선택 확인.
					if(checkedData.length == 1) {

						// 권한 확인
						if(!_this.checkPermission(checkedData)) {
							cmmAlert("게시자만 수정가능합니다.");
							return false;
						}

						this.open = val;
						this.type = type;
						this.notiSeq = checkedData[0].noti_seq;
						this.sysId = checkedData[0].sys_id;

					} else if(checkedData.length > 1) {
						cmmAlert("수정은 단일 체크 시에 만 가능합니다.")
						return false;

					} else if(checkedData.length == 0) {
						cmmAlert("체크박스가 선택되지 않았습니다.")
						return false;
					}

				// 신규
				} else {
					this.open = val;
					this.type = type;
					this.notiSeq = '';
				}

            },
			onChangeReadClose: function(val) {
				this.openRead = val;
			},
			onChangeReadOpen: function(val, param) {
				this.openRead = val;
				this.sysId = param.sys_id
				this.notiSeq = param.noti_seq
			},
			onChangeStartDate: function(val) {
				this.startDate = val;
			},
			onChangeEndDate: function(val) {
				this.endDate = val;
			},
			setPeriod: function(val) {
				var periodDate = getPeriod(val);
				this.startDate = periodDate.startDt;
				this.endDate = periodDate.endDt;
			},
			// get 공지사항 목록
			getNoticeList : function() {
				let _this = this;
				
				// 검색 check
				if(!_this.checkSrchValidation()) return false;

				let url = '/api/notice/getNoticeList';
				let msg = '';
				let param = {};
				param.srch_start_date = _this.startDate.replaceAll('-', '');
				param.srch_end_date = _this.endDate.replaceAll('-', '');
				param.srch_noti_title = _this.notiTitle;

				// 공지사항 상세에 필요한 값 세팅 : 이전 다음 페이지 이동에 필요.
				_this.dtlParam = param;

				axiosCall('get', url, param, function(res){
					_this.noticeList = res.data;
					_this.drawTable();
				}, msg);
			},
			// jqxgrid 생성 및 bind
			drawTable : function() {
				let _this = this;

				// 사용자별 hidden column
                let hiddenCol = _this.userTpCd == '01' ? true : false;

				// 오늘일자
				var today = dateFormatCalendar(new Date());

				// 공지사항
				var notiSource = {  
					datatype: "json", // json 형태의 데이터를 셋팅할 것이고. // array
					datafields: [     // 각필의 이름과 타입은 datafields에 마찬가지로 json 형태이다.  
						{ name: 'type_nm', type: 'string', value:'type_cd', values: { source: _this.fs011List.records, value: 'cmm_dtl_cd', name: 'cmm_dtl_nm' } },         // 상태
						{ name: 'noti_title', type: 'string' },      // 제목
						{ name: 'assign_id', type: 'string' },       // 게시자
						{ name: 'assign_nm', type: 'string' },       // 게시자명
						{ name: 'read_cnt', type: 'string' },        // 조회수
						{ name: 'start_date', type: 'string' },      // 작성일
						{ name: 'complete_date', type: 'string' },   // 마감일
						{ name: 'type_cd', type: 'string' },         // 상태
						{ name: 'sys_id', type: 'string' },          // 시스템id
						{ name: 'noti_seq', type: 'string' },        // 공지seq
					],  
					localdata: _this.noticeList, // 위에서 셋팅해놓은 data를 localdata에 담아준다.
				};
				
				var notiDataAdapter = new $.jqx.dataAdapter(notiSource);  

				$("#noticeGrid").jqxGrid({  
					width: '100%',
					// height: '400',
					autoheight: true, //높이설정(자동)
					source: notiDataAdapter,    //위에서 만든 dataAdapter
					sortable: true,
					// filterable: true,
					columnsresize: true,        //column의 너비를 컨텐츠에 맞게 리사이징
					pageable            :   true,
					pagermode           :   'simple',
					pagesize            :   10,
					pagerbuttonscount   :   10,
					showrowlines: false,
                    showcolumnlines: false,
					columnsheight: 50,
					rowsheight : 50,
					// selectionmode: 'checkbox',
					editable: true,
					localization: { emptydatastring:'해당 자료가 존재하지 않습니다.' },
					// ready: function() {
					// 	$("#noticeGrid").find('.jqx-grid-column-header:first').children().hide();
					// },
					columns: [                  // 각 컬럼값들의 대한 설정이다.
						{ text: '', datafield: 'check', columntype: 'checkbox', width: 30, hidden:hiddenCol },
						{
							text: 'No', sortable: false, filterable: false, editable: false,
							groupable: false, draggable: false, resizable: false,
							datafield: '', columntype: 'number', width: 50, align:'center',
							cellsrenderer: function (row, column, value) {
								return "<div style='text-align: center; margin-top: 20px;'>" + (value + 1) + "</div>";
							}
						},
						{ 
							text: '상태', datafield: 'type_cd', displayfield: 'type_nm', width: 120, align:'center', editable: false,
							cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
								var typeClass = rowdata.type_cd == '01' ? 'tag notice' : '';
								var typeMargin = rowdata.type_cd == '01' ? '14px' : '18px';
								return "<div style='text-align: center; margin-top: "+ typeMargin +";'><span class='"+ typeClass +"'>"+ value +"</span></div>";
							},
							// comboBox
							// text: '상태', datafield: 'type_cd', displayfield: 'type_nm', width: 120, align:'center', columntype: 'combobox',
							// createeditor: function (row, value, editor) {
							//     editor.jqxComboBox({ source: _this.fs011List, displayMember: 'cmm_dtl_nm', valueMember: 'cmm_dtl_cd' });
							// },
						},  
						{ 
							text: '제목', datafield: 'noti_title', align:'left', editable: false,
							cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
								var newHtml = today == rowdata.start_date ? "<span class='tag new'>new</span>" : "";
								var param = {sys_id:rowdata.sys_id, noti_seq:rowdata.noti_seq};
								var html = "<div class='txt-l' style='margin-top:"+ (newHtml == '' ? '18' : '14') +"px;'>"
										 + "<a href='#none' class='a-link' onClick='vue.movePage(\"1\", "+ JSON.stringify(param) +")'>"+ value +"</a>"
										 + newHtml
										 + "</div>"
								return html;
							},

						},  
						{ text: '게시자', datafield: 'assign_nm', width: 120, align:'center', cellsalign:'center', editable: false },  
						{ 
							text: '조회', datafield: 'read_cnt', width: 80, align:'center', cellsalign:'center', editable: false,
							cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
								var param = {sys_id:rowdata.sys_id, noti_seq:rowdata.noti_seq};
								var html = "<div style='text-align: center; margin-top:17px;'>"
										 + "<a href='#none' class='a-link' onClick='vue.onChangeReadOpen(true, "+ JSON.stringify(param) +")'>"+ value +"</a>"
										 + "</div>"
								return html; 
							},
						},  
						{ text: '게시일', datafield: 'start_date', width: 120, align:'center', cellsalign:'center', editable: false },
						{ 
							text: '게시종료일', datafield: 'complete_date', width: 120, align:'center', cellsalign:'center', editable: false,
							cellsrenderer: function(row, columnfield, value, defaulthtml, columnproperties, rowdata) {
								return "<div style='text-align: center; margin-top: 17px;'>"+ (value == '99991231' ? '영구' : value) +"</div>";
							},
						},
					]  
				});

				let pageNum = 0;
				// 페이지 이동시 선택 초기화
                $("#noticeGrid").off('pagechanging').on('pagechanging', function (event) {
                    pageNum = event.args.pagenum
                    $('#noticeGrid').jqxGrid('clearselection');
                });

				// 체크박스 전체 해제
				$("#noticeGrid").jqxGrid('unselectallrows');

			},
			// 공지사항 삭제
			setDelNoticeList: function(e) {

				// 체크된 데이터
				let _this = this;
				var chkCnt = 0;
				let checkedData = [];
				var rowDatas = $("#noticeGrid").jqxGrid('getrows');
				$.each(rowDatas, function(i, obj) {
					if(obj.check == true){
						checkedData.push(obj);
					}
				})

				// 권한 확인
				if(!_this.checkPermission(checkedData)) {
					cmmAlert("게시자만 삭제가능합니다.");
					return false;
				}

				_this.delNoticeList = checkedData;

				// 공지사항 삭제 (status = 'N')
				let url = '/api/notice/setDelNoticeList';
				let msg = '';
				let param = {noticeList:_this.delNoticeList};

				cmmConfirm("삭제하시겠습니까?", function() {
					axiosCall('post', url, param, function(res){
						cmmAlert('삭제되었습니다.');
						_this.getNoticeList();
					});
				})
			},
			// 공지사항 게시종료
			setCmpltNoticeList: function(e) {

				// 체크된 데이터
				let _this = this;
				var chkCnt = 0;
				let checkedData = [];
				var rowDatas = $("#noticeGrid").jqxGrid('getrows');
				$.each(rowDatas, function(i, obj) {
					if(obj.check == true){
						checkedData.push(obj);
					}
				})

				// 권한 확인
				if(!_this.checkPermission(checkedData)) {
					cmmAlert("게시자만 게시종료가능합니다.");
					return false;
				}

				_this.cmpltNoticeList = checkedData;

				// 공지사항 게시종료
				let url = '/api/notice/setCmpltNoticeList';
				let msg = '';
				let param = {noticeList:_this.cmpltNoticeList};

				cmmConfirm("게시종료하시겠습니까?", function() {
					axiosCall('post', url, param, function(res){
						cmmAlert('게시종료되었습니다.');
						_this.getNoticeList();
					});
				})
			},
			// 검색 필수 check
			checkSrchValidation: function() {
				let _this = this;
				
				// 날짜 validation check
				if(_this.startDate) {
					if(!dateValidationAndAlert(_this.startDate)) {
						return false;
					} 
				}
				
				if(_this.endDate) {
					if(!dateValidationAndAlert(_this.endDate)) {
						return false;
					}
				}

				return true;
			},
			// 공지사항 권한 체크
			checkPermission: function(arr) {
				let _this = this;
				var result = true;
				$.each(arr, function(idx, obj) {
					if(_this.userId != obj.assign_id) result = false;
				})

				return result;
			},
			// 페이지 이동
            movePage: function(idx, param) {
				let _this = this;
				let url = '';
				let paramStr = "";

                if(idx == '0') {
                    url = '/notice/noticeList?';

                } else if(idx == '1') {
                    url = '/notice/noticeDetails?';
					paramStr = "srch_start_date=" + _this.dtlParam.srch_start_date 
					         + '&srch_end_date=' + _this.dtlParam.srch_end_date 
							 + '&srch_noti_title=' + _this.dtlParam.srch_noti_title;

                } else {
					cmmAlert('페이지 준비중입니다.');
                    return;
                }

                // param data setting
                $.each(param, function(key, value){
                    paramStr += (paramStr!=""? "&" : "") + key + "=" +  value;
                });
                
                window.location = url + paramStr;
            }
		},
		mounted: function() {
			let _this = this;
			getCodeAdapterListForArrNm(_this.srchCodeParam, _this, _this.getNoticeList);
		}
	})
});


// 공지사항 게시글 조회 현황
Vue.component('noticePostInqPop', {
	template: '#noticePostInqPop',
	props: ['openRead', 'sysId', 'notiSeq'],
	data() {
		return {
			noticeReadList: [],
            }
	},
	methods: {
		closeHisPopup(e) {
			let _this = this;

			// 부모에게 자식 값 전달
			_this.$emit("on-change-read-close",false)
		},
		// 공지사항 게시글 조회 현황 list
		getNoticeReadList: function() {
			let url = '/api/notice/getNoticeReadList';
			let _this = this;
			let msg = '';
			let param = {sys_id: this.sysId, noti_seq: this.notiSeq};

			axiosCall('get', url, param, function(res){
				_this.noticeReadList = res.data;
				_this.drawTable();
			}, msg);
		},
		drawTable: function() {
			let _this = this;

			var source = {  
				datatype: "json", // json 형태의 데이터를 셋팅할 것이고. // array
				datafields: [     // 각필의 이름과 타입은 datafields에 마찬가지로 json 형태이다.
					{ name: 'sys_id', type: 'string' },     // sys id
					{ name: 'cst_nm', type: 'string' },     // 고객사명
					{ name: 'read_nm', type: 'string' },    // 조회자명
					{ name: 'read_id', type: 'string' },    // 조회자id
					{ name: 'read_dt', type: 'string' },    // 수정일시(등록일시)
				],  
				localdata: _this.noticeReadList, // 위에서 셋팅해놓은 data를 localdata에 담아준다.
			};
			
			var dataAdapter = new $.jqx.dataAdapter(source);  
			
			$("#notiReadGrid").jqxGrid({  
				width: '100%',
				height: '420',
				// autoheight: true,
				source: dataAdapter,        //위에서 만든 dataAdapter
				sortable: true,
				filterable: true,
				columnsresize: true,        //column의 너비를 컨텐츠에 맞게 리사이징
				showrowlines: false,
				showcolumnlines: false,
				columns: [                  // 각 컬럼값들의 대한 설정이다.
					{
						text: 'No', width: 30, sortable: false, filterable: false, editable: false, groupable: false, 
						draggable: false, resizable: false, datafield: '', columntype: 'number', align:'center',
						cellsrenderer: function (row, column, value) {
							return "<div style='text-align: center; margin-top: 8px;'>" + (value + 1) + "</div>";
						}
					},
					{ text: '고객사', datafield: 'cst_nm', align:'center', cellsalign:'center', width:100 },  
					{ text: '사용자명', datafield: 'read_nm', align:'center', cellsalign:'center', width:90 },  
					{ text: '아이디', datafield: 'read_id', align:'center', cellsalign:'center' },  
					{ text: '조회일시', datafield: 'read_dt', width: 140, align:'center', cellsalign:'center' },
				]  
			});
		},
	},
	mounted: function (){
		this.getNoticeReadList();
	},
});

// date
Vue.component('datePickerSingle', {
	template: '<input type="number" maxlength="8" class="calendarDateSingle" :value="val" @input="changeData"/>',
	props: ['val'],
	mounted: function() {
		drawDatePickerSingle(this, 'on-change-single-date');
	},
	beforeDestroy: function(){
		destroyDatePicker(this);
	},
	methods: {
		changeData: function(e) {
			this.$emit('on-change-single-date', e.target.value);
		}
	}
});

</script>

<script type="text/javascript" th:src="@{/plugin/ckeditor5-35.4.0/build/ckeditor.js}"></script>
<link rel="stylesheet"  th:href="@{/css/ckeditor.css}" />

<script type="module">
	import UploadAdapter from '/js/uploadAdapter.js'

	// 공지사항 팝업
	Vue.component('noticePop', {
	template: '#noticePop',
	props: ['open', 'type', 'sysId', 'notiSeq'],
	data() {
		return {
			noticeInfo:{
				sys_id: this.sysId,      // 시스템id
    			noti_seq: this.notiSeq,  // 공지seq
				type_cd: '',             // 타입코드 01 공지 ''02 일반
				priority_cd: '',         // 우선순위 순차적부여 01 중요 02 높음 03중간 04낮음
				noti_title: '',          // 제목
				noti_contents: '',       // 내용
				assign_date: '',         // 등록일자
				start_date: '',          // 시작일자
				complete_date: '',       // 종료일자
				assign_id: '',           // 게시자
				assign_nm: '',           // 게시자명
				rep_yn: '',              // 답글여부
				status: '',              // 상태
				rgstr_id: '',            // 등록자id
				rgstr_dt: '',            // 등록일자
				mdfr_id: '',             // 수정자id
				mdfr_dt: '',             // 수정일자
				ssmm: '',                // 
				noti_cmm_yn: '',          // 
			},
			fileList: [],
			noticeAttachList: [],
			delAttachList: [],
        }
	},
	methods: {
		closePopup: function(e) {
			let _this = this;

			// 부모에게 자식 값 전달
			_this.$emit("on-change-close",false)
		},
		onChangeSingleDate: function(val) {
			this.noticeInfo.complete_date = val;
		},
		cmpltDtFormat: function(val) {
			return (val.length == 8 ? val.replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') : val);
		},
		// 업로드파일 데이터 array에 push
		fileUpload: function(e) {

			let _this = this;
			let fileArr = e.target.files;
			var maxSize = 5 * 1024 * 1024; 

			$.each(fileArr, function(idx, obj) {
				// file size 제한
				if(obj.size > maxSize){
					cmmAlert("첨부파일 사이즈는 5MB 이내로 등록 가능합니다.");
					e.target.value = '';
					return false;
				}

				// 화면에 보여주기 위한 용도
				var file = {};
				file.atch_nm = obj.name;
				file.atch_size = obj.size;
				file.org_file_nm = obj.name;
				file.idx = _this.noticeAttachList.length;

				_this.fileList.push(obj);
				_this.noticeAttachList.push(file);
			});

			// input value 초기화
			e.target.value = '';

		},
		// 파일 삭제
		deleteFile: function(idx) {
			let _this = this;

			// 신규파일이 아닌 기존에 저장된 파일이라면 delAttachList에 넣어준다.
			if(_this.noticeAttachList[idx].atch_seq != '' && _this.noticeAttachList[idx].atch_seq != undefined) {
				_this.delAttachList.push(_this.noticeAttachList[idx]);

			// 신규파일
			} else {
				var cnt = 0;
				$.each(_this.noticeAttachList, function(i, v) {
					cnt += (v.atch_seq == '' || v.atch_seq == undefined) ? 0 : 1;
				})
				_this.fileList.splice(idx - cnt, 1);
			}

			// 화면에 보여주기 위한 용도
			_this.noticeAttachList.splice(idx, 1);
		},
		// 공지사항 저장
		setNoticeInfo: function() {
			let url = '/api/notice/setNoticeInfo';
			let _this = this;
			let msg = '';
			var formData = new FormData();

			// editor 내용 넣기
			_this.noticeInfo.noti_contents = _this.ckeditor.getData();

			// complete_date '-'제거, 공통공지 N
			_this.noticeInfo.complete_date = _this.noticeInfo.complete_date.replaceAll('-', '');
			if(_this.noticeInfo.noti_cmm_yn == '')  _this.noticeInfo.noti_cmm_yn = 'N';

			// form data add
			formData.append("noticeInfo", new Blob([JSON.stringify(_this.noticeInfo)], {type: "application/json"}));
			formData.append("delAttachList", new Blob([JSON.stringify(_this.delAttachList)], {type: "application/json"}));

			$.each(_this.fileList, function(i, v) {
				formData.append('files', v);
			})

			// 공지사항 저장
			axiosCall('multi', url, formData, function() {	
				cmmAlert("게시되었습니다.")
				_this.$parent.getNoticeList();
				_this.closePopup();
			});
		},
		// get 공지사항 정보
		getNoticeInfo : function() {
			let url = '/api/notice/getNoticeInfo';
			let _this = this;
			let msg = '';
			let param = {};
			param.noti_sys_id = _this.sysId;
			param.noti_seq = _this.notiSeq;

			axiosCall('get', url, param, function(res){
				_this.noticeInfo = res.data.noticeDto;
				_this.noticeAttachList = res.data.noticeAttachList;

				// 에디터 생성
				_this.drawEditor();

			}, msg);
		},
		// 파일 다운로드
		onDownload: function(filename) {
			if(filename != undefined && filename != '') {
				location.href = '/api/filedownload/noti/' + filename;
			}
		},
		setNotiCmmN : function() {
			if(this.noticeInfo.noti_cmm_yn == '' || this.noticeInfo.noti_cmm_yn == undefined) {
				this.noticeInfo.noti_cmm_yn = 'N'
			}
		},
		// 이미지 파일 업로드
		uploadAdapterPlugin : function (editor) {

			editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
				return new UploadAdapter(loader)
			}

		},
		// 에디터 생성
		drawEditor: function() {
			let _this = this;

			// 에디터 생성
			ClassicEditor.create(document.querySelector("#editor"), {
				removePlugins: [ 'BlockQuote', 'imageUpload' ], //  , 'ImageInsert'
				// 언어
				// language: "ko",
				// toolbar: {
				// 	items: [
				// 		'heading','|','fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', '|', 'bold', 'italic', 'underline', 'strikethrough', 'highlight', 'removeFormat', '|', 'alignment', '|', 'numberedList', 'bulletedList', '|', 'indent', 'outdent', '|', 'link', 'blockQuote', 'imageUpload', 'imageInsert', 'insertTable', 'mediaEmbed', '|', 'undo', 'redo'
				// 	]
				// },
				heading: {
					options: [
						{ model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
						{ model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
						{ model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
						{ model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
						{ model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
						{ model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
						{ model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
					]
				},
				// 폰트 종류
				fontFamily: {
					options: [
						'default', 'Arial', '나눔고딕', '맑은고딕', '굴림체', '명조체', '바탕체', '돋움체', '궁서체'
					],
					supportAllValues: true
				},
				// // 폰트 크기
				fontSize: {
					options: [ 
						10, 12, 'default', 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25
					]
				},
				link: {
					defaultProtocol: 'http://',
					decorators: {
						addTargetToExternalLinks: {
							mode: 'automatic',
							callback: url => /^(https?:)?\/\//.test( url ),
							attributes: {
								target: '_blank',
								rel: 'noopener noreferrer'
							}
						}
					}
				},
				image: {
                    type: ["JPEG", "JPG", "GIF", "PNG"],
				},
				// // 폰트 색상
				// fontColor: {
				// // 한줄에 보여 줄 개수
				// columns: 2,
				// colors: [
				// 	{
				// 	color: 'hsl(0, 0%, 0%)'
				// 	},
				// 	{
				// 	color: 'hsl(0, 0%, 60%)'
				// 	}
				// ]
				// },
				// // 폰트 배경 색상
				// fontBackgroundColor: {
				// columns: 2,
				// colors: [
				// 	{
				// 	color: 'hsl(0, 0%, 0%)'
				// 	},
				// 	{
				// 	color: 'hsl(0, 0%, 60%)'
				// 	}
				// ]
				// },
				// 커스텀 플러그인 클래스 추가
				extraPlugins: [_this.uploadAdapterPlugin],
				// 미디어 기능
				mediaEmbed: {
					previewsInData: true
				}, 
				// Source Editor 속성 허용 범위
				// htmlSupport: {
				// 	allow: [
				// 		{
				// 		name: /.*/,
				// 		attributes: true,
				// 		classes: true,
				// 		styles: true
				// 		}
				// 	]
				// },
				licenseKey: '',
			}).then(
				newEditor => {
					newEditor.setData(_this.noticeInfo.noti_contents);
					this.ckeditor = newEditor;
				}
			).catch(error=> {
				console.error(error);
			});
			
		}
	},
	mounted: function (){
		// 수정화면의 경우 공지사항 데이터 불러오기
		if(this.type == 'edit') {
			this.getNoticeInfo();
		} else {
			this.noticeInfo.complete_date = '9999-12-31';

			// 에디터 생성
			this.drawEditor();
		}

	},
});

</script>
</head>
<body>
	<section layout:fragment="content" id="app"  v-cloak>
		<!-- content -->
		<div class="page-content">
			<div class="page-box">
				<div class="clear">
					<h2 class="page-title fl">공지사항</h2>
					<div class="fr">
						<button class="btn-search" @click="getNoticeList()"><i></i>조회</button>
					</div>
				</div>
				<hr>
				<div class="board-search mgt20">
					<table>
						<colgroup><col width="60px"><col width="310px"><col width="110px"><col width=""></colgroup>
						<tbody>
							<tr>
								<th rowspan="2" class="valign-b th-pd">기간</th>
								<td rowspan="2" class="valign-b">
									<div class="mini-btns">
										<button @click="setPeriod('currentMonth')">당월</button>
										<button @click="setPeriod('currentYear')">당해</button>
										<button @click="setPeriod('oneMonth')">1개월</button>
										<button @click="setPeriod('threeMonth')">3개월</button>
										<button @click="setPeriod('sixMonth')">6개월</button>
										<button @click="setPeriod('oneYear')">1년</button>
										<button @click="setPeriod('all')">전체</button><!-- 2022.12.09 검색조건 "전체" 추가 -->
									</div>
									<div class="calendar-wrap"><!-- 2022.12.09 "전체"  클릭시 all 클래스 추가, 아닐경우 제거 -->
										<span class="calendar-box">
											<date-picker-from name="startDate" type="text" id="startDate" size="12" title="공지사항 조회 시작일" 
											:val="startDate" @on-change-start-date="onChangeStartDate"/>
											<label for="startDate"></label>
										</span>
										<span class="dash">~</span>
										<span class="calendar-box">
											<date-picker-to name="endDate" type="text" id="endDate" size="12" title="공지사항 조회 종료일" 
											:val="endDate" @on-change-end-date="onChangeEndDate"/>
											<label for="endDate"></label>
										</span>
									</div>
								</td>
								<th></th>
								<td></td>
							</tr>
							<tr>
								<th>제목</th>
								<td><input type="text" class="full" name="notiTitle" id="notiTitle" v-model="notiTitle" @keyup.enter="getNoticeList"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="page-box">
				<div class="clear" v-if="(userTpCd != '01')">
					<div class="fl"><h3 class="content-title">목록</h3></div>
					<div class="fr">
						<button class="btn-save" @click="onChangeOpen(true, 'reg')">공지작성</button>
						<button class="btn-save" @click="onChangeOpen(true, 'edit')">공지수정</button>
						<button class="btn-save" @click="setDelNoticeList">공지삭제</button>
						<button class="btn-save" @click="setCmpltNoticeList">게시종료</button>
					</div>
				</div>
				<div id="noticeGrid">
				</div>
			</div>
		</div>
		<notice-pop v-if="open" :open="open" :type="type" :sys-id="sysId" :noti-seq="notiSeq" @on-change-close="onChangeClose"></notice-pop>
		<notice-post-inq-pop v-if="openRead" :open-read="openRead" :sys-id="sysId" :noti-seq="notiSeq" @on-change-read-close="onChangeReadClose"></notice-post-inq-pop>
		<!-- //content -->
	</section>
</body>
</html>

<template id="noticePop">
	<div class="layer-pop-wrap" >
		<div class="layer-pop-box large">
			<div class="pop-wrap">
				<h1 class="blind">공지사항 > 공지사항 {{type=='reg'?'등록':'수정'}} 팝업</h1>
				<header class="pop-header">
					<div class="pop-header-title-wrap">
						<h3 class="pop-header-title">공지사항 {{type=='reg'?'등록':'수정'}}</h3>
						<button class="btn-pop-close js-pop-close" @click="closePopup">닫기</button>
					</div>
				</header>
				<div class="pop-container">
					<div class="pop-common-box" style="margin: 20px 0 10px 0;">
						<div class="mgt30">
							<table class="tb-view-01">
								<colgroup><col width="150px"><col width=""></colgroup>
								<tbody>
									<tr>
										<th>설정</th>
										<td>
											<div class="flex-auto-front">
												<div>
													<label class="check mgr20">
														<input type="checkbox" v-model="noticeInfo.type_cd" true-value="01" false-value="02">
														<span class="ico"></span>	
														<span class="txt">상단 고정게시물</span>
													</label>
												</div>
												<div>
													<label class="check mgr20">
														<input type="checkbox" v-model="noticeInfo.noti_cmm_yn" true-value="Y" :false-value="setNotiCmmN()">
														<span class="ico"></span>	
														<span class="txt">공통 공지</span>
													</label>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<th>제목</th>
										<td>
											<div class="flex-auto-front">
												<div>
													<input type="text" class="full" placeholder="제목을 입력하세요" v-model="noticeInfo.noti_title">
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<th>게시기간</th>
										<td>
											<div class="flex-auto-front">
												<div>
													<label class="check mgr20">
														<input type="checkbox" v-model="noticeInfo.complete_date" true-value="9999-12-31" false-value="">
														<span class="ico"></span>
														<span class="txt">영구</span>
													</label>
												</div>
												<div>
													<div class="calendar-wrap single">
														<span class="calendar-box">
															<date-picker-single name="completeDate" type="text" id="completeDate" size="12" title="게시기간" 
															v-model="noticeInfo.complete_date" :val="cmpltDtFormat(noticeInfo.complete_date)" 
															@on-change-single-date="onChangeSingleDate"/>
															<label for="completeDate"></label>
														</span>
													</div>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<th>파일첨부</th>
										<td>
											<div class="file-upload-wrap">
												<div class="file-upload">
													<input type="file" id="file_name" name="file_name" class="upload-hidden" @change="fileUpload">
													<label for="file_name"><i></i>파일 찾아보기</label>
												</div>
											</div>
											<div class="mgt10">
												<table class="tb-list-mini">
													<colgroup><col width=""><col width="100px"><col width="60px"></colgroup>
													<thead>
														<tr>
															<th>파일명</th>
															<th>파일크기</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														<tr v-for="(item, idx) in noticeAttachList">
															<td><a href="#" @click="onDownload(item.ser_file_nm)" class="a-link-file">{{item.atch_nm}}</a></td>
															<td class="txt-r" v-text="(item.atch_size/Math.pow(1024,2)).toFixed(2)+'MB'"></td>
															<td class="txt-c"><a href="#" class="btn-del-mini" @click="deleteFile(idx)">삭제</a></td>
														</tr>
													</tbody>
												</table>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="mgt10 noti_content">
							<!-- Editor 영역 -->
							<!-- <textarea cols="30" rows="10" class="full" v-model="noticeInfo.noti_contents"></textarea> -->
							<textarea cols="30" rows="10" class="full" id="editor" ></textarea>
						</div>
					</div>
				</div>
				<div class="pop-bottom">
					<div class="pop-btn-box">
						<a href="#" class="btn-pop-bottom" @click="closePopup">취소</a>
						<a href="#" class="btn-pop-bottom" @click="setNoticeInfo">게시</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template id="noticePostInqPop">
	<div class="layer-pop-wrap">
		<div class="layer-pop-box midium">
			<div class="pop-wrap">
				<h1 class="blind">공지사항 > 게시글 조회 현황</h1>
				<header class="pop-header">
					<div class="pop-header-title-wrap">
						<h3 class="pop-header-title">게시글 조회 현황</h3>
						<button class="btn-pop-close js-pop-close" @click="closeHisPopup">닫기</button>
					</div>
				</header>
				<div class="pop-container">
					<div class="pop-common-box">
						<div id="notiReadGrid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>